.project-testcase-info-page-wrapper {
  display: flex;

  .page-content {
    flex-grow: 1;
    display: flex;
    .page-layout {
      display: flex;
      flex-grow: 1;

      .border-line {
        width: 10px;
        cursor: ew-resize;
        &:hover {
          background-color: $gray-400;
        }
      }

      .testcase-groups {
        min-width: 120px;
        display: flex;
        background-color: $card-bg-color-light;
        border-radius: 4px;

        &.min {
          min-width: auto;
          width: 56px !important;
        }
      }

      .testcases {
        flex-grow: 1;
        position: relative;
        background-color: $card-bg-color-light;
        border-radius: 4px;
      }
    }
  }
}

.theme-DARK {
  .project-testcase-info-page-wrapper {
    .page-content {
      .page-layout {
        .border-line {
          &:hover {
            background-color: #000;
          }
        }

        .testcase-groups {
          background-color: $card-bg-color-dark;
        }

        .testcases {
          background-color: $card-bg-color-dark;
        }
      }
    }
  }
}
