li.testcase-group-item-wrapper {
  display: block;
  position: relative;

  .border-bottom-liner {
    height: 1px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .group-content,
  .testcase-content {
    border-radius: 2px;

    > div.group-info,
    > div.testcase-info {
      display: flex;
      position: relative;
      cursor: pointer;

      .child-tree-mark {
        width: 10px;

        > div {
          width: 100%;
          height: 100%;
          position: relative;

          .line {
            position: absolute;

            &.line-1 {
              height: calc(50% - 11px);
              width: 1px;
              border-left: 1px dotted $gray-700;
              left: 7px;
              top: 10px;
            }

            &.line-2 {
              height: 1px;
              width: calc(100% - 2px);
              top: 50%;
              left: 7px;
              _background-color: $white;
              border-bottom: 1px dotted $gray-700;
            }
          }
        }

        &._last-child {
          > div {
            .line {
              &.line-1 {
                height: 50%;
                width: 1px;

                left: 0;
              }
            }
          }
        }
      }

      .tree-toggle {
        padding: 0;
        display: flex;
        margin-left: 8px;
        margin-right: 8px;
        > span {
          align-self: center;
          display: inline-flex;
          width: 18px;
          height: 18px;
          justify-content: center;
          border-radius: 2px;
          font-size: 12px;

          > i {
            align-self: center;
          }
        }

        &.has-child {
          > span:hover {
            background-color: $color-sunflower;
            color: #333;
          }
        }
      }

      .case-icon {
        padding: 0;
        display: flex;
        margin-right: 4px;
        margin-left: 4px;
        > span {
          align-self: center;
          display: inline-flex;
          line-height: 0;
          font-size: 10px;
          height: 18px;
          width: 18px;
          text-align: center;
          justify-content: center;
          background-color: #111;
          border-radius: 2px;

          > i {
            align-self: center;
          }
        }
      }

      .name {
        flex-grow: 1;
        padding: 0.5rem 0.5rem 0.5rem 0;
        width: calc(100% - 46px);

        > div {
          overflow-x: hidden;
          text-overflow: ellipsis;

          white-space: nowrap;
        }

        .name-editor {
          background-color: $white;
          color: #333;
        }
      }

      .grab {
        cursor: grab;
        padding: 0.5rem;
        height: 100%;
        display: none;

        &:hover {
          background-color: rgba(0, 0, 0, 0.1);
          background-color: $color-sunflower;
          color: #333;
        }
      }

      &.drag-target {
        background-color: #121212 !important;
        color: #999 !important;
      }

      &.drag-destination {
        .bar {
          opacity: 1;
        }

        &.to-children {
          .bar {
            left: 1rem;
          }
        }
      }

      &.name-editing {
        margin-left: 0 !important;
        padding-left: 0.25rem;

        width: 100%;

        .tree-toggle {
          display: none;
        }

        .case-icon {
          display: none;
        }

        .name {
          padding-top: 0.25rem;
          padding-bottom: 0.25rem;
          padding-right: 0.25rem;
        }

        input {
          border-radius: 0;
          width: 100%;
        }

        .child-tree-mark,
        .icon,
        .grab {
          display: none !important;
        }
      }

      .bar {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 5px;
        background-color: $color-azure;
        border-radius: 1px;
        opacity: 0;
      }

      &:hover {
        background-color: #111;

        .grab {
          display: inline-block;
        }
        > div {
          &.name {
            width: calc(100% - 46px - 32px);
          }
        }
      }

      &.selected {
        background-color: $color-azure;
        font-weight: bold;
      }
    }
  }

  .group-children {
    .border-top-liner {
      display: none;
    }
    > ul {
      > li:first-child {
        > .border-top-liner {
          height: 1px;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          background-color: rgba(0, 0, 0, 0.3);
          display: block;
        }
      }

      > li:last-child {
        > .border-bottom-liner {
          display: none;
        }
      }
    }
  }

  &.name-editing {
    > .group-info {
      background-color: $color-tangerine;
      border-radius: 0;

      input {
        font-weight: bold;
      }
    }
  }
}
