.testcase-groups-wrapper {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  background-color: #191919;
  font-size: 14px;
  border-radius: 4px;
  position: relative;

  .buttons {
    padding: 1rem 1rem 1rem;
    background-color: #222;
    text-align: right;
    border-radius: 4px 4px 0 0;
  }
  .summary {
    padding: 0 1rem;
    display: none;
  }
  .trees {
    flex-grow: 1;
    position: relative;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }

  .content-scroller {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    padding: 1rem;
  }
}
