.testcase-groups-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  position: relative;

  .buttons {
    padding: 1rem 1rem 1rem;
    background-color: #222;
    text-align: right;
    border-radius: 4px 4px 0 0;
  }
  .summary {
    padding: 0 1rem;
    display: none;
  }
  .testcase-groups-content {
    flex-grow: 1;
    position: relative;

    > div {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow-y: auto;
      padding: 1rem;

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
    }
  }
}
