.testcase-groups-wrapper {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  background-color: #191919;
  font-size: 14px;
  border-radius: 4px;
  position: relative;

  .context-menu {
    z-index: 2;
    position: fixed;
    background-color: transparent;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    > div {
      position: absolute;
      background-color: $white;
      padding: 4px;

      min-width: 100px;
      color: $black;
      font-size: 14px;
      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          padding: 0.5rem;
          cursor: pointer;
          border-bottom: 1px solid #ccc;

          &:last-child {
            border-bottom: none;
          }

          &:hover {
            background-color: $color-azure;
            color: $white;
          }
        }
      }
    }
  }

  .buttons {
    padding: 1rem 1rem 1rem;
    background-color: #222;
    text-align: right;
    border-radius: 4px 4px 0 0;
  }
  .summary {
    padding: 0 1rem;
    display: none;
  }
  .trees {
    flex-grow: 1;
    position: relative;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      > li {
        display: block;
        position: relative;

        .border-bottom {
          height: 1px;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: rgba(0, 0, 0, 0.3);
        }

        .group-content {
          display: flex;
          border-radius: 2px;
          position: relative;

          .tree-mark {
            width: 10px;

            > div {
              width: 100%;
              height: 100%;
              position: relative;

              .line {
                position: absolute;

                &.line-1 {
                  height: calc(50% - 11px);
                  width: 1px;
                  border-left: 1px dotted $gray-700;
                  left: 7px;
                  top: 10px;
                }

                &.line-2 {
                  height: 1px;
                  width: calc(100% - 2px);
                  top: 50%;
                  left: 7px;
                  _background-color: $white;
                  border-bottom: 1px dotted $gray-700;
                }
              }
            }

            &._last-child {
              > div {
                .line {
                  &.line-1 {
                    height: 50%;
                    width: 1px;

                    left: 0;
                  }
                }
              }
            }
          }

          .bar {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 5px;
            background-color: $color-pink;
            border-radius: 4px;
            opacity: 0;
          }

          &.drag-target {
            background-color: #121212 !important;
            color: #999 !important;
          }

          &.drag-destination {
            .bar {
              opacity: 1;
            }

            &.to-children {
              .bar {
                left: 1rem;
              }
            }
          }

          &:hover {
            background-color: $color-sunflower;
            color: #333;
          }

          > div {
            &.icon {
              padding: 0;
              display: flex;
              margin-right: 8px;
              margin-left: 8px;
              > span {
                align-self: center;
                display: inline-flex;
                width: 20px;
                height: 20px;
                text-align: center;
                background-color: $color-salmon;
                color: $black;
                border-radius: 50%;
                font-size: 12px;
                justify-content: center;

                > span {
                  align-self: center;
                }
              }
            }

            &.name {
              flex-grow: 1;
              padding: 1rem 0.5rem 1rem 0;
            }

            &.grab {
              cursor: grab;
              padding: 1rem 1rem 1rem;
              height: 100%;

              &:hover {
                background-color: rgba(0, 0, 0, 0.1);
              }
            }
          }
        }

        .group-children {
          .border-top {
            display: none;
          }
          > ul {
            > li:first-child {
              > .border-top {
                height: 1px;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                background-color: rgba(0, 0, 0, 0.3);
                display: block;
              }
            }

            > li:last-child {
              > .border-bottom {
                display: none;
              }
            }
          }
        }

        &.selected {
          > .group-content {
            background-color: $color-sunflower;
            color: #333;

            &:hover {
              background-color: darken($color-sunflower, 10%);
              color: #333;
            }
          }
        }
      }
    }
  }

  .content-scroller {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    padding: 1rem;
  }
}
