.user-selector-wrapper {
  display: flex;
  width: 100%;
  border-radius: 2px;
  position: relative;
  z-index: 3;
  background-color: var(--input-background-color);
  color: var(--text-color);
  border: 1px solid var(--input-border-color);

  &:hover {
    border-color: var(--border-color-hover);
  }

  &.opened {
    z-index: 21;
    border-color: var(--border-color-hover);
  }

  > div {
    align-self: center;
    &.control {
      flex-grow: 1;
      height: 100%;
    }

    &.icon {
      display: flex;
      height: 100%;
      cursor: pointer;
      font-size: 14px;
      color: var(--gray-color);
      line-height: 100%;

      > div {
        align-self: center;
        border-left: 1px solid var(--input-border-color);
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }
    }
  }
  input {
    display: block;
    position: relative;
    width: 100%;
    padding: 8px;
    height: auto;
    z-index: 2;
    border-radius: 2px;
    box-sizing: border-box;
    border: none;
    transition: border-bottom 0.5s;
    font-family: NotoSans, sans-serif;
    background-color: var(--input-background-color);
    color: var(--text-color);

    &:focus {
      box-shadow: none;
      outline: none;
      border-color: var(--border-color-hover);
    }

    &.disabled {
      opacity: var(--disable-opacity);
    }
  }

  &.size-xxl {
    font-size: 20px;
    height: $xxl-height;

    input {
      font-size: 20px;
      padding: 8px 12px;
      height: 100%;
    }
  }

  &.size-xl {
    font-size: 20px;
    height: $xl-height;
    input {
      font-size: 20px;
      padding: 8px 12px;
      height: 100%;
    }
  }

  &.size-lg {
    font-size: 18px;
    height: $lg-height;
    input {
      font-size: 18px;
      padding: 8px 12px;
      height: 100%;
    }
  }

  &.size-md {
    font-size: 16px;
    height: $md-height;
    input {
      font-size: 16px;
      padding: 8px 12px;
      height: 100%;
    }
  }

  &.size-sm {
    font-size: 14px;
    height: $sm-height;
    input {
      font-size: 14px;
      padding: 8px 12px;
      height: 100%;
    }
  }

  &.size-xs {
    font-size: 12px;
    height: $xs-height;
    input {
      font-size: 12px;
      padding: 8px 12px;
      height: 100%;
    }
  }

  .user-list {
    position: absolute;
    top: calc(100% + 4px);
    background-color: var(--input-background-color);
    border-radius: 2px;
    max-height: 212px;
    overflow-y: auto;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid var(--border-color-hover);

    left: -1px;
    min-width: 100%;
    min-width: calc(100% + 2px);

    &.bottom-top {
      margin-top: 0;
      bottom: 100%;
      margin-bottom: 4px;
      border-radius: 2px;
      top: auto;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      > li {
        height: 32px;
        display: flex;
        font-size: 14px;
        border-bottom: 1px solid var(--input-border-color);
        cursor: pointer;
        > div {
          align-self: center;
        }

        &.selected {
          background-color: var(--primary-color);
          color: var(--primary-text-color) !important;
        }

        &:hover {
          background-color: var(--hover-background-color);
        }

        &:first-child {
        }

        &:last-child {
          border-bottom: none !important;
        }

        &.empty:hover {
          background-color: transparent;
          cursor: text;
          color: var(--gray-color) !important;
        }

        &.empty,
        &.special-option {
          color: var(--gray-color);
          > .name {
            flex-grow: 1;
            text-align: center;
            overflow-x: hidden;
            text-overflow: ellipsis;
          }
        }

        &.tag-option {
          > .name {
            display: flex;
            > div {
              align-self: center;

              &.tag-value {
                margin-left: 0.5rem;
              }
            }
          }
        }

        > div {
          &.name {
            padding: 0 0.5rem;
            font-weight: bold;
            align-self: center;

            white-space: nowrap;
          }

          &.email {
            flex-grow: 1;
            margin-right: 0.5rem;

            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            font-family: NotoSans, sans-serif;
            text-transform: uppercase;
          }

          &.enter {
            text-transform: uppercase;
            align-self: center;
            margin-right: 0.5rem;
            white-space: nowrap;
            > span {
              font-size: 12px;
              font-family: Cairo, sans-serif;
              text-transform: uppercase;
              display: inline-block;
              padding: 2px 4px;
              background-color: var(--primary-color);
              color: var(--primary-text-color);
              border-radius: 4px;
            }
          }
        }
      }
    }
  }
}
