.user-selector-wrapper {
  display: flex;
  width: 100%;
  border-radius: 2px;
  position: relative;
  z-index: 3;

  .user-list {
    position: absolute;
    left: 0;
    top: calc(100% + 4px);
    background-color: $white;
    border-radius: 2px;
    width: 100%;
    max-height: 212px;
    overflow-y: auto;

    ul {
      list-style: none;
      margin: 0;
      padding: 0.75rem;

      > li {
        height: 32px;
        display: flex;
        font-size: 14px;
        border-bottom: 1px solid $gray-300;
        cursor: pointer;

        &.selected {
          background-color: $color-sunflower;
        }

        &:hover {
          background-color: $color-sunflower;
        }
        &:first-child {
        }

        &:last-child {
          border-bottom: none;
        }

        &.empty:hover {
          background-color: transparent;
          cursor: text;
        }

        &.empty,
        &.special-option {
          color: $gray-700;
          > .name {
            flex-grow: 1;
            text-align: center;
          }
        }

        > div {
          &.name {
            padding: 0 0.75rem;
            font-weight: bold;
            align-self: center;
          }

          &.email {
            padding-top: 6px;
            flex-grow: 1;
            > span {
              font-size: 12px;
              font-family: Cairo, sans-serif;
              text-transform: uppercase;
              display: inline-block;
              padding: 4px 6px;
              background-color: $gray-200;
              line-height: 100%;
              border-radius: 4px;
            }
          }

          &.enter {
            text-transform: uppercase;
            align-self: center;
            margin-right: 0.5rem;
            > span {
              font-size: 12px;
              font-family: Cairo, sans-serif;
              text-transform: uppercase;
              display: inline-block;
              padding: 4px 6px;
              background-color: $gray-200;
              line-height: 100%;
              border-radius: 4px;
            }
          }
        }

        &:hover {
          background-color: $color-sunflower;
          > div {
            &.email {
              > span {
                background-color: $white;
              }
            }
          }
        }
      }
    }
  }

  &.color-white {
    color: $black;
    background-color: $white;
  }

  &.color-gray {
    color: $black;
    background-color: $gray-300;
  }

  &.color-black {
    color: $white;
    background-color: rgba(255, 255, 255, 0.1);
  }

  > div {
    align-self: center;
    &.control {
      flex-grow: 1;
    }

    &.icon {
      display: flex;
      height: 100%;
      cursor: pointer;
      &:hover {
        background-color: $color-sunflower;
      }
      > div {
        align-self: center;
        padding: 0 0.75rem;
        border-left: 1px solid rgba(0, 0, 0, 0.1);
      }
    }
  }
  input {
    display: block;
    position: relative;
    width: 100%;
    padding: 8px;
    height: auto;
    z-index: 2;
    border-radius: 2px;
    box-sizing: border-box;
    border: none;
    transition: border-bottom 0.5s;
    font-family: NotoSans, sans-serif;
    background-color: transparent;

    &:focus {
      box-shadow: none;
      outline: none;
      border-color: $input-border-focus-color;
    }

    &.disabled {
      background-color: $gray-100;
      opacity: 0.6;
    }
  }

  &.size-xxl {
    font-size: 20px;
    height: $xxl-height;

    input {
      font-size: 20px;
      padding: 8px 12px;
      height: $xxl-height;
    }
  }

  &.size-xl {
    font-size: 20px;
    height: $xl-height;
    input {
      font-size: 20px;
      padding: 8px 12px;
      height: $xl-height;
    }
  }

  &.size-lg {
    font-size: 18px;
    height: $lg-height;
    input {
      font-size: 18px;
      padding: 8px 12px;
      height: $lg-height;
    }
  }

  &.size-md {
    font-size: 16px;
    height: $md-height;
    input {
      font-size: 16px;
      padding: 8px 12px;
      height: $md-height;
    }
  }

  &.size-sm {
    font-size: 14px;
    height: $sm-height;
    input {
      font-size: 14px;
      padding: 8px 12px;
      height: $sm-height;
    }
  }

  &.size-xs {
    font-size: 12px;
    height: $xs-height;
    input {
      font-size: 12px;
      padding: 8px 12px;
      height: $xs-height;
    }
  }
}
