.testcase-group-manager-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;

  .testcase-group-title {
    padding: 1.5rem 2rem 1.5rem;
    display: flex;
    border-radius: 4px 4px 0 0;

    > div {
      align-self: center;
    }

    .title-info {
      font-weight: bold;
      flex-grow: 1;
      display: flex;

      > div {
        align-self: center;
      }

      .control {
        flex-grow: 1;
        display: flex;
      }

      .text {
        flex-grow: 1;
        font-size: 20px;
      }
    }

    .title-button {
      margin-left: 1rem;

      button {
        margin-right: 0.5rem;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .title-liner {
    height: 1px;
    background-color: rgba(0, 0, 0, 0.12);
  }

  .group-content {
    flex-grow: 1;
    overflow-y: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;

    .group-description {
      padding: 1rem;
      background-color: #f7f7f7;

      font-size: 14px;
      border-radius: 2px;

      &.empty {
        color: $gray-600;
      }
    }

    .list-title {
      margin-bottom: 0;
      padding: 1rem;

      font-weight: bold;
      display: flex;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);

      > div {
        align-self: center;
        &:first-child {
          flex-grow: 1;
        }
      }
    }

    .empty-layout {
      flex-grow: 1;
    }

    > ul.testcase-list {
      list-style: none;
      padding: 0 1rem;
      margin: 0;
      > li {
        _border: 1px solid rgba(0, 0, 0, 0.12);
        border-bottom: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        padding: 0.75rem 0.75rem;

        &:first-child {
          _border-top: 1px solid rgba(0, 0, 0, 0.12);
        }

        .id-name {
          display: flex;
          min-height: 30px;
          > div {
            align-self: center;
          }

          .name {
            flex-grow: 1;
          }

          .edit-button {
            margin-left: 0.5rem;
            display: none;
            > button {
              &:last-child {
                margin-left: 0.5rem;
              }
            }
          }
        }

        &:hover {
          background-color: lighten($color-primary-light, 37%);
          .edit-button {
            display: inline-block;
          }
        }

        .testcase-description {
          margin-top: 1rem;
        }

        .description {
          font-size: 14px;
          padding: 0;
          margin-top: 0.5rem;
          line-height: 20px;
          max-height: 4.4rem;
          overflow: hidden;
          display: block;
          -webkit-line-clamp: 2;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
          white-space: pre;
          margin-left: 1rem;
          color: $gray-600;
        }
      }
    }

    > ul.group-list {
      list-style: none;
      padding: 0 1rem;
      margin: 0;
    }
  }

  &.is-edit {
    .group-content {
      .group-description {
        padding: 0;
        background-color: transparent;
      }
    }
  }
}
