.title-wrapper {
  > .title-content {
    padding: 1rem 0.5rem 0;
    font-weight: bold;
    display: flex;
    flex-direction: row;

    @media (max-width: 768px) {
      padding: 0.25rem 0.5rem 0;
      display: block;
    }

    .title-text {
      flex-grow: 0;
      align-self: center;
    }
    .control {
      align-self: center;
      margin-left: 1rem;
      @media (max-width: 768px) {
        margin-left: 0;
        text-align: right;
      }
    }
  }

  &.padding-bottom {
    > .title-content {
      padding-bottom: calc(2rem - 4px);
      @media (max-width: 768px) {
        padding-bottom: 1rem;
      }
    }
  }

  > .title-bottom-liner {
    height: 1px;
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    border-left: none;
    border-right: none;
    border-radius: 3px;
    width: 100%;
  }

  > div {
    align-self: center;
    text-align: left;
    &.title-text {
      flex-grow: 1;
    }

    &.control {
    }
  }

  &:first-child {
    margin-top: 0;
  }
  &.h1 {
    font-size: 22px;

    @media (max-width: 768px) {
      font-size: 20px;
    }
  }

  &.h2 {
    font-size: 19px;
  }

  &.h3 {
    font-size: 16px;
  }

  &.h4 {
    font-size: 13px;
  }

  &.h5 {
    font-size: 10px;
  }
}

.theme-DARK {
  .title-wrapper {
    > .title-bottom-liner {
      border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    }
  }
}
