.title-wrapper {
  &.margin-bottom {
    margin-bottom: 20px;
  }
  > .title-content {
    padding: 0.5rem 0.5rem 0;
    font-weight: bold;
    display: flex;
    flex-direction: row;

    @media (max-width: 768px) {
      padding: 0;
      display: block;
    }

    .title-text {
      flex-grow: 0;
      align-self: center;
      @include title;

      i {
        margin-right: 2px;
        font-size: 18px;
        position: relative;
        top: 1px;
      }
    }
    .control {
      flex-grow: 1;
      align-self: center;
      .control-content {
        display: inline-block;
      }
      @media (max-width: 768px) {
        margin-left: 0;
        text-align: right;
      }
    }
  }

  &.colored {
    > .title-content {
      .title-text {
        padding: 6px 10px 4px;
        background-color: var(--light-color);
        border-radius: 10px;
      }
    }
  }

  &.padding-bottom {
    > .title-content {
      padding-bottom: 0.75rem;
      @media (max-width: 768px) {
        padding-bottom: 0.25rem;
      }
    }
  }

  > .title-bottom-liner {
    height: 1px;
    background-color: transparent;
    border-bottom: 1px solid var(--border-light-color);
    border-left: none;
    border-right: none;
    border-radius: 3px;
    width: 100%;
  }

  > div {
    align-self: center;
    text-align: left;
    &.title-text {
      flex-grow: 1;
    }

    &.control {
    }
  }

  &:first-child {
    margin-top: 0;
  }
  &.h1 {
    .title-text {
      font-size: 24px;
    }

    @media (max-width: 768px) {
      .title-text {
        font-size: 20px;
      }
    }
  }

  &.h2 {
    .title-text {
      font-size: 18px;
    }
  }

  &.h3 {
    .title-text {
      font-size: 16px;
    }
  }

  &.h4 {
    .title-text {
      font-size: 14px;
    }
  }

  &.h5 {
    .title-text {
      font-size: 12px;
    }
  }
}
