.iteration-testrun-list-wrapper {
  width: 100%;
  overflow: auto;

  .testrun-table {
    .name {
      font-weight: bold;
    }
    .day {
      margin-left: 0.25rem;
      &:first-child {
        margin-left: 0;
      }
    }

    .start-time {
      @include date;
    }

    .duration,
    .testcase-count {
      @include number;
    }
  }
}
