.testrun-hook-info-popup-wrapper {
  .key,
  .value {
    padding-right: 0;
  }

  .message {
    flex-grow: 1;
    white-space: pre-wrap;
    word-break: break-all;
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid var(--border-color);
    padding: 10px;
    font-size: 12px;
  }

  .header-content {
    margin-bottom: 24px;
  }
}
