.selector-wrapper {
  display: inline-block;
  position: relative;
  border: 1px solid $color-border-light;
  transition: all 0.5s;
  font-family: NotoSans, sans-serif;
  font-weight: lighter;

  &.opened {
    border-color: $color-border-light-focus;
  }

  &.size-xs {
    height: $xs-height;
    font-size: 0.8rem;
    .selector-current {
      > span {
        &.selector-selected-text {
          max-height: $xs-height;
        }
      }
    }
  }

  &.size-sm {
    height: $sm-height;
    font-size: 14px;
    .selector-current {
      > span {
        &.selector-selected-text {
          max-height: $sm-height;
        }
      }
    }
  }

  &.size-md {
    height: $md-height;

    .selector-current {
      > span {
        &.selector-selected-text {
          max-height: $md-height;
        }
      }
    }
  }

  &.size-lg {
    height: $lg-height;
    .selector-current {
      > span {
        &.selector-selected-text {
          max-height: $lg-height;
        }
      }
    }
  }

  .selector-overlay {
    z-index: 1;
    background-color: transparent;
  }

  .selector-current {
    background-color: $white;
    color: $black;
    display: flex;
    cursor: pointer;
    border: none;
    text-align: left;
    position: relative;
    z-index: 1;
    height: 100%;
    line-height: 160%;
    border-radius: 2px;

    &.open {
      border-radius: 2px 2px 0 0 !important;
    }

    &:hover {
      > span {
        &.icon {
          .hover {
            display: inline-block;
          }

          .normal {
            display: none;
          }
        }
      }
    }

    > span {
      display: inline-block;
      padding: 0 6px;

      &.selector-selected-text {
        text-transform: uppercase;
        flex: 1;
        align-self: center;
        overflow: hidden;
        line-height: 180%;
        padding: 0 8px;
      }

      &.liner {
        padding: 0;
        width: 1px;
        flex: 0;
        height: 12px;
        align-self: center;
        display: inline-flex;

        > span {
          display: inline-block;
          width: 1px;
          height: 100%;
          background-color: $color-border-light;
          align-self: center;
        }
      }

      &.icon {
        flex: 0;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        align-self: center;
        line-height: 0;
        font-size: 14px;
        color: $gray-500;

        .hover {
          display: none;
        }

        > i {
          align-self: center;
        }
      }
    }
  }

  &.color-black {
    .selector-current {
      background-color: #121212;
      color: $white;
      border: 1px solid #494c56;
    }
  }

  &.radius {
    .selector-current {
      border-radius: 5px;

      &.open {
        border-radius: 5px 5px 0 0 !important;
      }
    }

    .selector-list {
      ul {
        border-radius: 0 0 5px 5px;
        li {
          &:last-child {
            border-radius: 0 0 5px 5px;
          }
        }
      }
    }
  }

  &.md {
    height: 30px;
  }

  &.sm {
    height: 28px;
    .selector-current {
      > span {
        font-size: 13px;
      }
    }
  }

  .selector-list {
    position: absolute;
    background-color: $white;
    min-width: 100%;
    min-width: calc(100% + 2px);
    margin-top: 4px;
    max-height: calc(30px * 6);
    overflow-y: auto;
    z-index: 3;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
    color: $black;
    border: 1px solid $color-border-light-focus;
    padding: 4px;
    left: -1px;

    &.bottom-top {
      margin-top: 0;
      bottom: 100%;
      margin-bottom: 4px;
      border-radius: 2px;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      cursor: pointer;
      border-radius: 2px;
      font-size: 14px;

      li {
        padding: 8px;
        height: 32px;
        text-transform: uppercase;
        border-bottom: 1px solid $color-border-light;
        position: relative;
        overflow: hidden;
        text-align: left;
        line-height: 100%;
        white-space: nowrap;

        &:last-child {
          border-bottom: none !important;
          margin-bottom: 0;
        }

        .select-arrow {
          width: 40px;
          height: 60px;
          background-color: rgba(0, 0, 0, 0.2);
          position: absolute;
          top: -10px;
          right: -35px;
          transform: rotate(45deg);
          display: none;
        }

        &:hover {
          background-color: lighten($color-primary-light, 8%);
          color: $white;
        }

        &.selected {
          font-weight: bold;
          background-color: $color-primary-light;
          color: $white;
        }
      }
    }
  }

  &.size-xs {
    .selector-list {
      ul {
        font-size: 0.8rem;

        li {
          height: $xs-height;
          padding: 5px;
        }
      }
    }
  }
}

.theme-DARK {
  .selector-wrapper {
    display: inline-block;
    position: relative;
    border: 1px solid $color-border-dark;

    .selector-current {
      background-color: $color-form-control-dark;
      color: $white;

      > span {
        &.liner {
          > span {
            background-color: $color-border-dark;
          }
        }

        &.icon {
          color: $gray-500;
        }
      }
    }

    .selector-list {
      background-color: $color-form-control-dark;
      color: $white;
      border: 1px solid $color-border-dark;

      ul {
        li {
          border-bottom: 1px solid $color-border-dark;

          &:hover {
            background-color: lighten($color-primary-dark, 8%);
            color: $black;
          }

          &.selected {
            background-color: $color-primary-dark;
            color: $black;
          }
        }
      }
    }
  }
}
