.word-splitter-wrapper {
  > span {
    display: inline-flex;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    text-align: center;
    position: relative;
    justify-content: center;

    > span {
      align-self: center;
    }
  }

  &.animate {
    > span {
      opacity: 0;
      top: -40px;
      animation: drop 0.3s ease-out;
      animation-fill-mode: forwards;
    }
  }

  &.rounded {
    > span {
      border-radius: 50%;
    }
  }
}
