.release-info-page-wrapper {
  .target-description {
    font-size: 12px;
    color: $gray-700;
    margin-top: 8px;
  }

  .testcase-list {
    border-top: none;
    border-bottom: none;
    .table {
      margin-top: 0;

      tr {
        th {
          border-right: 1px solid var(--border-color);
        }
        td {
          border-bottom: 1px solid var(--border-color);
          border-right: 1px solid var(--border-color);
          &:last-child {
            border-right: none;
          }
        }

        &:last-child {
          td {
            border-bottom: none;
          }
        }
      }
    }
  }
}
