.tag-wrapper {
  display: inline-block;
  font-size: 12px;
  line-height: 100%;
  padding: 6px;
  font-family: Cairo, NotoSans, sans-serif;
  font-weight: bold;
  background-color: #EEE;

  &.size-xs {
    padding: 6px;
    font-size: 12px;
  }

  &.size-sm {
    padding: 8px;
    font-size: 14px;
  }

  &.size-md {
    padding: 10px;
    font-size: 16px;
  }

  &.border {
    border: 1px solid rgba(0, 0, 0, 0.2);
  }

  &.uppercase {
    text-transform: uppercase;
  }

  &.rounded {
    border-radius: 4px;
  }

  &.color-black {
    color: $white;
  }

  &.color-black {
    background-color: #242424;
    color: $white;
  }

  &.color-white {
    color: $black;
    background-color: $white;
  }

  &.color-primary {
    color: $white;
    background-color: $color-primary-light;
  }

  &.color-transparent {
    background-color: transparent;
  }
}
