.tag-wrapper {
  display: inline-block;
  font-size: 12px;
  line-height: 100%;
  padding: 8px;
  border-radius: 4px;

  &.color-black {
    background-color: #111;
    color: $white;
  }

  &.color-white {
    background-color: $white;
    color: $black;
    border: 1px solid $border-color;
  }
}
