.tag-wrapper {
  display: inline-block;
  font-size: 12px;
  line-height: 100%;
  padding: 6px;
  font-family: Cairo, NotoSans, sans-serif;
  font-weight: bold;
  background-color: var(--lighter-color);
  color: var(--text-color);

  &.size-xxs {
    padding: 4px;
    font-size: 10px;
  }

  &.size-xs {
    padding: 4px;
    font-size: 10px;
  }

  &.size-sm {
    padding: 8px;
    font-size: 12px;
  }

  &.size-md {
    padding: 10px;
    font-size: 14px;
  }

  &.border {
    border: 1px solid var(--border-color);
  }

  &.uppercase {
    text-transform: uppercase;
  }

  &.rounded {
    border-radius: 4px;
  }

  &.color-black {
    background-color: var(--black-color);
    color: var(--white-color);
  }

  &.color-white {
    color: var(--black-color);
    background-color: var(--white-color);
  }

  &.color-danger {
    color: var(--white-color);
    background-color: var(--danger-color);
  }

  &.color-primary {
    color: var(--primary-text-color);
    background-color: var(--primary-color);
  }

  &.color-secondary {
    color: var(--black-color);
    background-color: var(--secondary-color);
  }

  &.color-transparent {
    background-color: transparent;
  }
}
