.common-dialog-wrapper {
  > div {
    box-shadow: 0 0 40px 1px #000;
  }

  .modal-header {
    .title {
      display: inline-flex;
      > span {
        align-self: center;
      }

      .dialog-icon {
        margin-right: 0.5rem;
      }
    }
  }

  .modal-body-wrapper {
    line-height: 180%;
    padding: 1rem;
  }

  &.WARNING {
    .title,
    .dialog-icon {
    }
  }
}
