$logo-color-1: #fe0000;

.loading-group {
  position: relative;

  .fade-enter {
    opacity: 0;
  }

  .fade-enter-active {
    opacity: 1;

    transition: all 0.5s ease-in-out;
  }

  .fade-exit {
    opacity: 1;
  }

  .fade-exit-active {
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
}

.request-loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9990;
  display: flex;
  justify-content: center;
  flex-direction: column;

  @keyframes LoaderAnimation {
    0%,
    10% {
      transform: translateY(128px);
    }
    90%,
    100% {
      transform: translateY(0px);
    }
  }

  .loader {
    align-self: center;
    position: relative;
    width: 128px;
    height: 128px;
    background: #fff;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
  }
  .loader:after {
    content: '';
    position: absolute;
    inset: 24px;
    margin: auto;
    background: #111;
    border-radius: 50%;
  }
  .loader:before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    background: $color-tangerine;
    animation: LoaderAnimation 1s ease-in-out infinite alternate;
  }
}
