.common-dialog-wrapper {
  .modal-header {
    .title {
      display: inline-flex;
      > span {
        align-self: center;
      }

      .dialog-icon {
        font-size: 26px;
        margin-right: 0.5rem;
      }
    }
  }

  .modal-body {
    line-height: 180%;
  }

  &.WARNING {
    .title,
    .dialog-icon {
      color: $color-tangerine;
    }
  }

  &.error-dialog {
    > div {
      box-shadow: 0 0 40px 1px #000;
    }
    .modal-header-wrapper {
      padding: 1.5rem 2rem;
    }
    .modal-body-wrapper {
      text-align: center;
      padding: 3rem 2px 1.5rem;
    }
    .modal-footer-wrapper > div {
      padding: 1.5rem 0;
      border-top: none;
    }
  }
}
