@keyframes LoaderAnimation {
  0%,
  10% {
    transform: translateY(128px);
  }
  90%,
  100% {
    transform: translateY(0px);
  }
}

$logo-color-1: #fe0000;

.loading-group {
  position: relative;

  .fade-enter {
    opacity: 0;
  }

  .fade-enter-active {
    opacity: 1;

    transition: all 0.5s ease-in-out;
  }

  .fade-exit {
    opacity: 1;
  }

  .fade-exit-active {
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
}

.request-loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 9990;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .loader {
    display: inline-flex;
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background-color: var(--theme-color);
    border-radius: 50%;
    justify-content: center;
  }
  .loader div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: $primary-color;
    animation: loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    border-radius: 10px;
  }
  .loader div:nth-child(1) {
    left: 18px;
    animation-delay: -0.24s;
  }
  .loader div:nth-child(2) {
    left: 42px;
    animation-delay: -0.12s;
  }
  .loader div:nth-child(3) {
    left: 66px;
    animation-delay: 0;
  }

  @keyframes loader {
    0% {
      top: 40px;
      height: 20px;
    }
    50%,
    100% {
      top: 30px;
      height: 40px;
    }
  }
  .request-messages {
    text-align: center;
    > div {
      margin-top: 0.5rem;

      > span {
        background-color: var(--theme-color);
        display: inline-block;
        padding: 0.75rem 1rem;
        border-radius: 5px;
        font-size: 14px;
        line-height: 100%;
        font-weight: bold;

        i {
          margin-right: 0.5rem;
        }
      }
    }
  }
}

.__react_component_tooltip {
  font-size: 12px !important;
  font-family: NotoSans, sans-serif;
  &::before {
    display: none;
  }
}
