.header-wrapper {
  box-shadow: #060606 0 0 4px 1px;
  border-bottom: 1px solid #000;
  background-color: #111;
  background-color: #111111;
  padding: 0 20px;
  position: relative;
  z-index: 2;

  &.hide {
    .header-content {
      .back-navigator,
      .spacer,
      .static-menu,
      .user-menu {
        display: none;
      }

      .logo {
        font-size: 16px;
        margin-right: 1rem;
      }

      .menu {
        font-size: 13px;

        ul {
          li {
            padding: 0 0.75rem;

            &.selected {
              background-color: $color-sunflower;
              > a {
                color: $black !important;
                font-weight: bold;
              }
            }
          }
        }

        .liner {
          display: none !important;
        }
      }

      .header-toggle {
        flex-grow: 1;
        justify-content: right;
        height: 100%;

        > button {
          height: 100%;
          background-color: $color-sunflower;
          color: $black;
          width: 40px;
          border-radius: 0 !important;
          border: none;
          .icon {
            font-size: 14px;
            padding: 0;
          }

          &:hover {
            background-color: darken($color-sunflower, 5%);
          }
        }
      }

      height: 29px;
    }
  }

  &.theme-black {
  }

  > div.header-bg {
    position: absolute;
    top: 50px;
    left: 100px;
    right: 0;
    bottom: 0;
    overflow: hidden;

    > span {
      color: rgba(255, 255, 255, 0.05);
      font-size: 70px;
      transform: rotate(15deg);
      display: none;
    }
  }

  > div.header-content {
    height: 79px;
    display: flex;
    max-width: $max-width;
    margin: 0 auto;
    position: relative;

    > div {
      align-self: center;

      &.back-navigator {
        height: 100%;
        line-height: 0;
        width: 42px;
        overflow: hidden;
        transition: width, 0.5s;

        &.is-root {
          width: 0;
          transition: width, 0.5s;
        }

        > div {
          display: flex;
          height: 100%;
          padding: 0 1rem 0 0;
          font-size: 34px;
          cursor: pointer;
          line-height: 0;

          &:hover {
            color: $color-sunflower;
          }

          > div {
            align-self: center;
          }
        }
      }

      &.logo {
        font-size: 34px;
        font-size: 28px;
        font-family: Rowdies, sans-serif;
        height: 100%;

        > div {
          display: flex;
          height: 100%;

          &:hover {
            color: $color-sunflower;
            cursor: pointer;
          }

          > div {
            align-self: center;
          }
        }
      }

      &.spacer {
        align-self: center;

        > div {
          height: 18px;
          width: 1px;
          background-color: $white;
          margin: 0 2rem;
        }
      }
    }

    .static-menu {
      flex-grow: 1;

      &.project-selected {
        justify-content: right;
        margin-right: 1rem;
      }
    }

    .menu {
      flex-grow: 0;
    }

    .static-menu,
    .menu {
      display: flex;
      font-family: NotoSans, sans-serif;
      font-size: 16px;
      height: 100%;

      > div {
        align-self: center;
        height: 100%;

        > ul {
          padding: 0;
          margin: 0;
          list-style: none;
          height: 100%;

          > li {
            display: inline-flex;
            line-height: 120%;
            vertical-align: top;
            position: relative;
            opacity: 0;
            animation: fade-in-animation 0.7s ease-out;
            animation-fill-mode: forwards;
            height: 100%;

            a {
              color: $gray-600;
              position: relative;
              text-decoration: none;
              text-transform: uppercase;
              letter-spacing: 1px;
              align-self: center;
              height: 100%;
              display: flex;

              > span {
                align-self: center;
                padding: 4px 0;
                position: relative;

                > span {
                  height: 2px;
                  display: none;
                  background-color: $color-sunflower;
                  position: absolute;
                  bottom: -8px;
                  left: -5px;
                  right: -5px;
                  border-radius: 2px;
                }
              }

              &:hover {
                color: $gray-500;
              }

              .alert-message {
                color: $color-tangerine;
                font-size: 14px;
                position: absolute;
                left: calc(100% + 8px);
                white-space: nowrap;
                top: 26px;
              }
            }

            &.selected {
              a {
                color: $white;
                font-weight: normal;
                position: relative;

                > span {
                  > span {
                    display: block;
                    display: none;
                  }
                }
              }
            }

            &:last-child {
              .liner {
                display: none !important;
              }
            }
          }
        }
      }
    }

    .notification-menu,
    .user-menu,
    .header-toggle {
      display: flex;
      animation: fade-in-animation 1s ease-out;
      animation-fill-mode: forwards;

      a,
      button {
        align-self: center;
      }

      a {
        color: $white;
        font-family: $font-family-menu;

        &:hover {
          color: $color-sunflower;
        }
      }

      a ~ a {
        margin-left: 1rem;
      }

      .icon {
        font-size: 20px;
      }
    }

    .user-menu,
    .header-toggle {
      margin-left: 0.5rem;
    }
  }

  .my-info-menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    > div {
      position: relative;
      max-width: $max-width;
      margin: 0 auto;

      > div {
        position: absolute;
        top: 75px;
        right: 23px;
        background-color: $white;

        @media (max-width: 1660px) {
          right: 43px;
        }

        .arrow {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          text-align: right;
          padding-right: 40px;

          @media (max-width: 1660px) {

          }

          > div {
            display: inline-block;
            width: 11px;
            height: 11px;
            transform: rotate(45deg);
            position: relative;
            top: -8px;
            border-right: none;
            border-bottom: none;
            background-color: $white;
          }
        }

        ul {
          list-style: none;
          margin: 0;
          font-size: 14px;
          padding: 0.25rem;
          position: relative;
          z-index: 1;
          line-height: 100%;
          background-color: $white;

          li {
            line-height: 100%;

            &:hover {
              background-color: $color-sunflower;
            }

            a {
              color: $black;
              font-weight: bold;
              text-decoration: none;
              padding: 0.5rem 1rem;
              display: inline-block;
              width: 100%;
            }

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }

  &.theme-white {
    .menu {
      > div {
        ul {
          li {
            a {
              color: $black;

              &:hover {
                color: $color-azure;
              }
            }

            &.selected {
              a {
                color: $color-azure;
              }
            }
          }
        }
      }
    }
  }

  &.theme-black {
    .menu {
      > div {
        ul {
          li {
            a {
              color: $white;

              &:hover {
                color: $color-sunflower;
              }
            }

            &.selected {
              a {
                color: $color-sunflower;
              }
            }
          }
        }
      }
    }
  }
}
