.header-wrapper {
  _background: linear-gradient(to bottom, #000 0%, #000 20%, #111 50%);
  padding: 0 20px;
  position: relative;
  &.theme-black {
  }

  > div.header-bg {
    position: absolute;
    top: 50px;
    left: 100px;
    right: 0;
    bottom: 0;
    overflow: hidden;
    > span {
      display: inline-block;
      color: rgba(255, 255, 255, 0.05);
      font-size: 70px;
      transform: rotate(15deg);
      display: none;
    }
  }

  > div.header-content {
    height: 100px;
    display: flex;
    max-width: $max-width;
    margin: 0 auto;
    position: relative;

    > div {
      align-self: center;

      &.back-navigator {
        height: 100%;
        line-height: 0;
        width: 58px;
        overflow: hidden;
        transition: width, 0.5s;

        &.is-root {
          width: 0;
          transition: width, 0.5s;
        }

        > div {
          display: flex;
          height: 100%;
          padding: 0 1rem;
          font-size: 34px;
          cursor: pointer;
          line-height: 0;

          &:hover {
            color: $color-sunflower;
          }

          > div {
            align-self: center;
          }
        }
      }

      &.logo {
        font-size: 34px;
        font-family: Rowdies, sans-serif;
        height: 100%;

        > div {
          display: flex;
          height: 100%;
          &:hover {
            color: $color-sunflower;
            cursor: pointer;
          }
          > div {
            align-self: center;
          }
        }
      }

      &.spacer {
        align-self: center;
        > div {
          height: 18px;
          width: 1px;
          background-color: $white;
          margin: 0 2rem;
        }
      }
    }

    .menu {
      flex-grow: 1;
      display: flex;
      font-family: NanumGothic, sans-serif;
      font-weight: lighter;
      font-size: 20px;
      height: 100%;

      > div {
        align-self: center;
        height: 100%;

        ul {
          padding: 0;
          margin: 0;
          list-style: none;
          height: 100%;

          li {
            display: inline-flex;
            line-height: 120%;
            vertical-align: top;
            position: relative;
            opacity: 0;
            animation: fade-in-animation 0.7s ease-out;
            animation-fill-mode: forwards;
            height: 100%;

            a {
              color: $gray-600;
              position: relative;
              text-decoration: none;
              text-transform: uppercase;
              letter-spacing: 1px;
              align-self: center;
              height: 100%;
              display: flex;
              > span {
                align-self: center;
              }

              .alert-message {
                color: $color-tangerine;
                font-size: 14px;
                position: absolute;
                left : calc(100% + 8px);
                white-space: nowrap;
                top : 36px;
              }
            }

            &.selected {
              a {
                color: $white;
                font-weight: normal;
                position: relative;
              }
            }

            &:last-child {
              .liner {
                display: none !important;
              }
            }
          }
        }
      }
    }

    .user-menu {
      display: flex;
      animation: fade-in-animation 1s ease-out;
      animation-fill-mode: forwards;

      a,
      button {
        align-self: center;
      }

      a {
        color: $white;
        font-size: 18px;
        &:hover {
          color: $color-sunflower;
        }
      }

      a ~ a {
        margin-left: 1rem;
      }

      .user-icon {
        font-size: 20px;
      }
    }
  }

  .my-info-menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    > div {
      position: relative;
      max-width: $max-width;
      margin: 0 auto;

      > div {
        position: absolute;
        top: 75px;
        right: -22px;
        background-color: $white;

        @media (max-width: 1980px) {
          right: 10px;
        }

        .arrow {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          text-align: right;
          padding-right: 35px;

          @media (max-width: 1980px) {
            padding-right: 21px;
          }

          > div {
            display: inline-block;
            width: 11px;
            height: 11px;
            transform: rotate(45deg);
            position: relative;
            top: -8px;
            border-right: none;
            border-bottom: none;
            background-color: $white;
          }
        }

        ul {
          list-style: none;
          margin: 0;
          font-size: 14px;
          padding: 0.25rem;
          position: relative;
          z-index: 1;
          line-height: 100%;
          background-color: $white;
          li {
            line-height: 100%;
            &:hover {
              background-color: $color-sunflower;
            }
            a {
              color: $black;
              font-weight: bold;
              text-decoration: none;
              padding: 0.5rem 1rem;
              display: inline-block;
              width: 100%;
            }

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }

  &.theme-white {
    .menu {
      > div {
        ul {
          li {
            a {
              color: $black;

              &:hover {
                color: $color-azure;
              }
            }

            &.selected {
              a {
                color: $color-azure;
              }
            }
          }
        }
      }
    }
  }

  &.theme-black {
    .menu {
      > div {
        ul {
          li {
            a {
              color: $white;
              &:hover {
                color: $color-sunflower;
              }
            }

            &.selected {
              a {
                color: $color-sunflower;
              }
            }
          }
        }
      }
    }
  }
}
