.message-wrapper {
  display: flex;
  p {
    text-align: center;
  }

  .content {
    height: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;

    .code {
      text-align: center;
      font-size: 80px;
      font-family: RubikWetPaint, sans-serif;
    }

    .message {
      font-weight: bold;
      font-size: 18px;
    }

    p {
      text-align: center;
    }
  }
}
