.testcase-select-popup-wrapper {
  height: 100%;

  > div {
    height: calc(100% - 80px);
    display: flex;
    flex-direction: column;
  }

  .modal-body {
    position: relative;
    padding-top: 16px !important;
    overflow-y: hidden !important;
    max-height: none !important;
    flex-grow: 1;

    .content {
      display: flex;
      flex-direction: column;
      height: 100%;
      overflow-y: hidden;
    }

    .testrun-filter {
      display: flex;
      flex-grow: 0;
      margin-bottom: 16px;

      .icon {
        margin-right: 0.5rem;
      }

      .filter-button {
        margin-right: 0.5rem;
      }

      .date-range {
        margin-right: 0.5rem;

        .fill-button {
          margin-right: 0;
          border-color: transparent;

        }
      }

      > div {
        align-self: center;
      }

      .range-highlight-checkbox {
        margin-right: 1rem;
      }
    }

    .testcase-select-list {
      border: 1px solid var(--border-color);
      padding: 0.5rem;
      flex-grow: 1;
      position: relative;

      > div {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow-y: auto;

        > ul {
          list-style: none;
          padding: 0;
          margin: 0;
        }
      }
    }
  }
}
