.testcase-select-popup-wrapper {
  .modal-body {
    position: relative;

    .condition {
      padding: 0;
      margin-bottom: 1rem;
      text-align: right;
      display: none;
    }

    .testcase-select-list {
      border: 1px solid rgba(0, 0, 0, 0.12);
      padding: 0.5rem;
      > ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
    }
  }
}
