.release-group-item-wrapper {
  > td:first-child {
    vertical-align: top;
  }
  .seq-id {
    margin-right: 8px;
  }

  .seq-name {
    display: inline-flex;
    color: var(--link-color);
    cursor: pointer;

    > div {
      align-self: center;
    }
  }

  .releases {
    > div {
      margin-right: 8px;
    }
  }
}
