.release-list-page-wrapper {
  .page-content {
    flex-grow: 1;
    display: flex;
  }

  .release-table {
    width: 100%;
    overflow: auto;
    > table {
      width: 100%;
      table-layout: fixed;

      .name {
        > a {
          font-weight: bold;
          display: inline-block;
          margin-top: 2px;
          position: relative;
          .target {
            display: inline-block;
            position: absolute;
            top: -2px;
            left: calc(100% + 6px);
          }
        }
        .description {
          font-size: 12px;
          margin-top: 4px;
          min-height: 13px;
          color: $gray-800;
          background-color: $gray-100;
          padding: 4px;
          border-radius: 4px;
        }
      }

      .description {
        overflow: hidden;
        text-overflow: ellipsis;

        @media (max-width: 768px) {
          display: none;
        }
      }

      @media (max-width: 768px) {
        colgroup {
          col:nth-child(3) {
            width: 100% !important;
          }
        }
      }
    }
  }

  .release-cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: minmax(130px, auto);
    flex-wrap: wrap;
    gap: 10px;
    display: none;

    position: relative;
    pointer-events: none;

    .release-card-header {
      border-bottom: 1px solid #e2e2e2;
    }
    .release-card-header-control {
      position: absolute;
      top: 8px;
      right: 16px;
      pointer-events: all;

      display: flex;
      gap: 0 5px;
    }
    .description {
      background-color: var(--lighter-color);
      padding: 0 10px;
      font-size: 12px;
      height: 40px;
      display: flex;
      > div {
        align-self: center;
      }
    }
  }
}
