.release-info-page-wrapper {
  .release-testcases-content {
    padding: 0 1rem;
    max-width: 100%;
    overflow-y: auto;

    @media (max-width: 768px) {
      padding: 0;
    }

    .group-info {
      border-right: 1px solid var(--border-color);
    }

    .seq-name {
      display: flex;
      .seq-id {
        margin-right: 8px;
      }
      > div {
        align-self: center;
      }
    }
  }
}
