.release-edit-page {
  .target-description {
    font-size: 11px;
    color: $gray-700;
    margin-top: 8px;
  }

  .summary-list {
    width: 100%;
    margin: 0;
    > table {
      margin-top: 0;

      tbody {
        td {
          border-bottom: 1px solid var(--border-light-color);
        }
      }
    }
  }
}
