.date-range-wrapper {
  display: flex;
  padding: 0 12px;
  background-color: var(--input-background-color);
  color: var(--text-color);
  border-radius: 2px;
  font-weight: lighter;

  &.outline {
    border: 1px solid var(--input-border-color);
  }

  .react-datepicker-popper {
    z-index: 3;
  }

  @media (max-width: 576px) {
    display: block;
  }

  > div {
    align-self: center;

    @media (max-width: 768px) {
      flex: 1 1 0;
      font-size: 14px;
    }

    &.dash {
      margin: 0 0.5rem;
      flex: 0;
      @media (max-width: 576px) {
        display: none !important;
      }
    }

    .end-date-picker {
      justify-content: flex-end;
    }
  }

  &.size-sm {
    height: $sm-height;
  }

  &.size-md {
    height: $md-height;

    @media (max-width: 576px) {
      height: 76px;
      > div {
        height: 38px;
        display: flex;

        > div {
          align-self: center;
        }

        &.dash {
          display: none;
        }
      }
    }
  }
}
