.info-wrapper {
  position: relative;
  border: 1px solid var(--border-light-color);
  padding: 10px;
  display: inline-block;

  &.rounded {
    border-radius: 12px;
  }

  &.color-danger {
    color: var(--danger-color);
    border-color: var(--danger-color);
  }
}
