.input-wrapper {
  display: block;
  position: relative;
  width: 100%;
  padding: 0 8px;
  height: auto;

  border-radius: 2px;
  box-sizing: border-box;
  transition: all 0.5s;
  border: none;
  color: var(--text-color);
  background-color: var(--input-background-color);

  &.outline {
    border: 1px solid var(--input-border-color);
  }

  &.underline {
    border: none;
    border-bottom: 1px solid var(--input-border-color);
    border-radius: 0;
  }

  &:focus {
    box-shadow: none;
    outline: none;
    border-color: var(--border-color-hover);
  }

  &:invalid {
    &.underline {
      border-bottom: 1px solid var(--danger-color);
      transition: border-bottom 0.5s;
    }

    &.outline {
      border-color: var(--danger-color);
      transition: border-color 0.5s;
    }
  }

  &.color-default {
    color: var(--text-color);
    background-color: var(--input-background-color);
  }

  &.color-white {
    color: $black;
    background-color: $white;
  }

  &.color-black {
    color: $white;
    background-color: $black;
  }

  &[type='range'] {
    padding: 0;
  }

  &.size-xxl {
    font-size: $xxl-font-size;
    height: $xxl-height;
    padding: 8px 12px;
  }

  &.size-xl {
    font-size: $xl-font-size;
    height: $xl-height;
    padding: 8px 12px;
  }

  &.size-lg {
    font-size: $lg-font-size;
    height: $lg-height;
    padding: 8px 12px;
  }

  &.size-md {
    font-size: $md-font-size;
    height: $md-height;
    padding: 0 12px;
  }

  &.size-sm {
    font-size: $sm-font-size;
    height: $sm-height;
  }

  &.size-xs {
    font-size: $xs-font-size;
    height: $xs-height;
  }

  &[disabled] {
    opacity: var(--disable-opacity);
    cursor: not-allowed;
  }
}
