.input-wrapper {
  display: block;
  position: relative;
  width: 100%;
  padding: 8px;
  height: auto;
  z-index: 2;
  border-radius: 2px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid transparent;
  color: $white;
  background-color: rgba(255, 255, 255, 0.1) !important;
  transition: border-bottom 0.5s;

  &:focus {
    box-shadow: none;
    outline: none;
    border-color: $input-border-focus-color;
  }

  &:invalid {
    border-bottom: 1px solid $danger;
    transition: border-bottom 0.5s;
    border-radius: 2px 2px 0 0;
  }

  &[type='range'] {
    padding: 0;
  }

  &.size-xxl {
    font-size: 20px;
    height: $xxl-height;
    padding: 8px 12px;
  }

  &.size-xl {
    font-size: 20px;
    height: $xl-height;
    padding: 8px 12px;
  }

  &.size-lg {
    font-size: 18px;
    height: $lg-height;
    padding: 8px 12px;
  }

  &.size-md {
    font-size: 16px;
    height: $md-height;
  }

  &.size-sm {
    font-size: 14px;
    height: $sm-height;
  }

  &.size-xs {
    font-size: 12px;
    height: $xs-height;
  }

  &.disabled {
    background-color: $gray-100;
    opacity: 0.6;
  }

  &.underline {
  }
}
