.guest-header-wrapper {
  padding: 0 20px;
  position: relative;
  z-index: 4;
  background-color: var(--theme-color);
  height: 100px;

  @media (max-width: 640px) {
    padding: 0 10px;
  }

  > div.header-content {
    height: 100%;
    display: flex;
    max-width: $max-width;
    margin: 0 auto;
    position: relative;
    @media (max-width: 640px) {
      flex-direction: column;
    }

    > div {
      align-self: center;

      &.left {
        flex: 1 1 0;
        display: flex;
        height: 100%;

        > div.theme-selector {
          align-self: center;

          @media (max-width: 640px) {
            margin-top: 10px;
          }
          > span {
            font-size: 11px;
            display: inline-block;
            padding: 4px 6px;
            background-color: var(--light-color);
            cursor: pointer;

            &:first-child {
              border-radius: 6px 0 0 6px;
              border: 1px solid var(--border-light-color);
              border-right: none;
            }
            &:last-child {
              border-radius: 0 6px 6px 0;
              border: 1px solid var(--border-light-color);
              border-left: none;
            }
            &.selected {
              background-color: var(--primary-color);
              color: var(--primary-text-empahsis-color);
              font-weight: bold;
            }
          }
        }
      }

      &.center {
        height: 100%;
        @media (max-width: 640px) {
          width: 100%;
          justify-content: center;
          position: absolute;
        }
        display: flex;
      }

      &.right {
        flex: 1 1 0;
        text-align: right;
        height: 100%;
        display: flex;
        justify-content: right;
        @media (max-width: 640px) {
          width: 100%;
          height: 50px;
        }

        .user-header-control {
          margin-top: 20px;
          @media (max-width: 640px) {
            margin-top: 0;
          }
        }
        > div {
          align-self: center;

          > a {
            font-family: NanumSquareNeo, sans-serif;
            font-size: 12px;
            border-bottom: 1px solid transparent;
            color: var(--text-color);
            display: inline-flex;
            padding: 0 5px;
            > span {
              align-self: flex-start;
              padding: 4px 2px 4px 4px;
              border-bottom: 1px solid transparent;
              @media (max-width: 640px) {
                margin-top: 0;
                align-self: center;
              }
            }

            i {
              position: relative;
              top: 1px;
            }

            &:hover {
              > span {
                border-bottom: 1px solid var(--gray-color);
              }
            }
          }
        }

        .liner {
          position: relative;
          top: 2px;
        }
      }
    }
  }
}
