ul.common-menu-wrapper {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 100%;

  &.no-menu {
    display: none;
  }

  &.collapsed {
    > li {
      font-size: 13px;
    }
  }

  > li {
    display: inline-flex;
    line-height: 120%;
    vertical-align: top;
    position: relative;
    opacity: 0;
    animation: fade-in-animation 0.7s ease-out;
    animation-fill-mode: forwards;
    height: 100%;

    > div {
      align-self: center;
    }

    > a {
      color: var(--gray-color);
      position: relative;
      text-decoration: none;
      text-transform: uppercase;
      align-self: center;
      height: 100%;
      display: flex;

      > span {
        align-self: center;
        padding: 4px 0;
        position: relative;
      }

      &:hover {
        color: var(--text-color);
      }

      .alert-message {
        background-color: var(--warning-color);
        color: $white;
        font-size: 12px;
        position: absolute;
        left: -60px;
        white-space: nowrap;
        top: 4px;
        line-height: 100%;
        border-radius: 2px;
        padding: 5px 8px;

        @media (max-width: 1024px) {
          left: calc(100% + 10px);
          top: 2px;
        }

        > div {
          display: inline-block;
          width: 6px;
          height: 6px;
          background-color: var(--warning-color);
          position: absolute;
          bottom: -3px;
          left: calc(50% - 2px);
          transform: rotate(45deg);

          @media (max-width: 1024px) {
            display: none;
          }
        }
      }

      ul.sub-menu-list {
        display: none;
        position: absolute;
        white-space: nowrap;
        top: calc(100% - 10px);
        left: 0;
        margin: 0;
        padding: 0.25rem;
        list-style: none;
        background-color: var(--box-color);
        border: 1px solid var(--border-color);
        font-size: 14px;
        border-radius: 2px;

        li {
          padding: 0.25rem 0.5rem;
          font-weight: normal;
          &:hover {
            color: var(--primary-color);
          }
        }
      }

      &:hover {
        ul.sub-menu-list {
          display: block;
        }
      }
    }

    &.selected {
      a {
        color: var(--text-color);
        position: relative;
        font-weight: bold;

        &::after {
          background-color: $primary-color;
          opacity: 0;
        }
      }
    }

    &:last-child {
      .liner {
        display: none !important;
      }
    }
  }

  &.main-menu-wrapper {
    @media (max-width: 1400px) {
      margin-left: 1rem;
    }
  }

  &.main-menu-wrapper.project-selected.no-collapsed {
    margin-left: 0;
    @media (max-width: 1400px) {
      > li.space,
      > li.project {
        display: inline-block !important;
        padding-top: 16px;
        margin-right: 1rem;
        white-space: nowrap;
        &:last-child {
          margin-right: 0;
        }

        > a {
          display: block;
          height: auto;
          width: 100%;
          text-align: center;
          margin-bottom: 4px;

          > span {
            font-size: 12px;
            line-height: 100%;
            padding: 0 0.5rem;
            border-radius: 8px;
            color: var(--gray-color);
          }
        }

        .target-select {
          height: auto;
        }

        .liner {
          display: none !important;
        }
      }
    }

    @media (max-width: 1200px) {
      > li,
      > li.space,
      > li.project {
        display: none !important;
      }
    }
  }
}
