ul.project-menu-wrapper {
  list-style: none;
  padding: 0;
  margin: 0;

  &.collapsed {
    > li {
      > a {
        .menu-icon {
          margin-right: 0;
        }
        .text {
          display: none;
        }
      }
    }
  }

  > li {
    position: relative;
    &:hover {
      background-color: #111;
      color: white;
    }

    > a {
      color: white;
      padding: 4px 16px;

      display: flex;
      .menu-icon {
        width: 32px;
        height: 32px;
        display: inline-flex;
        justify-content: center;
        border-radius: 4px;
        margin-right: 8px;
        font-size: 16px;
        i {
          align-self: center;
        }
      }

      .text {
        align-self: center;
      }
    }
    &:hover {
      .sub-menu {
        display: block;
      }
    }
  }
  .sub-menu {
    position: absolute;
    white-space: nowrap;
    list-style: none;
    margin: 0;
    top: 0;
    left: 100%;
    background-color: #111;
    padding: 8px;
    display: none;
    border: 1px solid var(--border-color);

    > li {
      cursor: pointer;

      > a {
        color: white;
        padding: 4px 8px;
        margin-bottom: 4px;
        display: flex;
        .menu-icon {
          margin-right: 8px;
          min-width: 18px;
        }
      }

      &:last-child {
        > a {
          margin-bottom: 0;
        }
      }

      &:hover {
        text-decoration: underline;
        background-color: var(--primary-color);

        > a {
          color: var(--primary-text-color);
        }
      }
    }
  }

  .hover-menu {
    position: fixed;
    bottom : 0;
    right : 0;
    font-size: 48px;
    color: black;
    font-weight: bold;
    padding: 24px 48px;
  }
}
