@keyframes leftToRight {
  from {
    transform: translateX(-40%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

ul.project-menu-wrapper {
  list-style: none;
  padding: 0;
  margin: 0;

  &.collapsed {
    > li {
      > a {
        .menu-icon {
          margin-right: 0;
        }
        .text {
          display: none;
        }
      }
    }
  }

  > li {
    position: relative;
    animation: leftToRight 0.2s ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
    &:hover {
      background-color: #111;
      color: white;
    }

    .separator {
      height: 1px;
      background-color: var(--white-color);
      opacity: 0.6;
      margin: 4px 20px;
    }

    &.selected {
      > a {
        color: var(--white-color);
        font-weight: bold;
        opacity: 1;
      }
    }

    > a {
      color: var(--white-color);
      opacity: 0.8;
      padding: 4px 16px;
      display: flex;
      .menu-icon {
        width: 32px;
        height: 32px;
        display: inline-flex;
        justify-content: center;
        border-radius: 4px;
        margin-right: 8px;
        font-size: 16px;
        i {
          align-self: center;
        }
      }

      .text {
        align-self: center;
      }
    }
    &:hover {
      .sub-menu {
        display: block;
      }
    }
  }

  .hover-menu {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 48px;
    color: var(--text-color);
    font-weight: bold;
    padding: 24px 48px;
  }

  .project-selector {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);

    &.collapsed {
      > div {
        padding-left: 50px;
      }
    }
    > div {
      align-self: center;
      width: 100%;
      padding-left: 200px;
      > div {
        display: inline-block;
        background-color: var(--modal-background-color);
        border-radius: 4px;
        min-width: 240px;
        max-width: 400px;

        h3 {
          color: var(--text-color);
          padding: 16px;
          margin: 0;
          font-size: 14px;
          position: relative;
          background-color: var(--light-color);
          border-radius: 4px 4px 0 0;
          .close-button {
            position: absolute;
            top: 8px;
            right: 8px;
            cursor: pointer;
          }
        }
        > div {
          max-height: 500px;
          overflow-y: auto;
          > ul {
            list-style: none;
            padding: 0;
            margin: 0;
            > li {
              box-sizing: border-box;
              background-color: var(--box-color);
              cursor: pointer;

              &:last-child {
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
              }

              > div {
                color: var(--text-color);
                padding: 8px 16px;
                border-radius: 14px;
              }

              &:hover {
                background-color: var(--yellow-color);
                > div {
                  color: var(--black-color);
                }
              }
            }
          }
        }
      }
    }
  }
}
