@keyframes bell {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.user-header-control-wrapper {
  display: flex;
  justify-content: flex-end;
  padding: 16px;

  .side-menu-item {
    margin-right: 4px;

    display: inline-flex;
    > div {
      align-self: center;
    }
  }

  &.collapsed {
    display: block;
    .side-menu-item {
      display: block;
      width: 32px;
      margin-right: 0;
      margin-top: 8px;
    }
  }

  .collapse {
    flex-grow: 1;
    order: 1;
    margin-right: 10px;

    > button {
      background: transparent;
      width: 100%;
      border: none;
      color: white;
      font-size: 16px;
      cursor: pointer;
      padding: 8px;
      border-radius: 4px;
      &:hover {
        background-color: #111;
      }

      .icon {
        margin-right: 4px;
        font-size: 12px;
      }

      .text {
        font-size: 12px;
      }
    }
  }

  &.collapsed {
    .collapse {
      margin-right: 0;
      > button {
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        border-radius: 50%;

        > span {
          align-self: center;
          padding-left: 3px;
        }
        .text {
          display: none;
        }
      }
    }
  }

  .user-menu {
    align-self: center;
    position: relative;
    order: 2;

    .admin-flag {
      position: absolute;
      font-size: 10px;
      font-family: Cairo, NanumSquareNeo, sans-serif;
      font-weight: bold;
      background-color: var(--danger-color);
      color: var(--white-color);
      line-height: 100%;
      padding: 2px;
      border-radius: 4px;
      top: -10px;
      z-index: 1;
    }

    &:hover {
      .admin-flag {
      }
    }
    > a {
      margin-right: 0.5rem;
    }
  }

  .notification-menu {
    position: relative;
    order: 3;

    .notification-count {
      font-family: $font-family-count;
      font-size: 13px;
      position: absolute;
      right: -7px;
      top: -7px;
      background-color: $third-color;
      color: $white;
      display: inline-flex;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      justify-content: center;

      > span {
        align-self: center;
      }
    }
  }

  .notification-list {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: var(--text-color);

    > div {
      position: relative;
      margin: 0 auto;
      height: 100%;

      > div {
        position: absolute;
        bottom: 60px;
        left: 150px;
        background-color: var(--box-color);
        width: 380px;

        .arrow {
          position: absolute;
          bottom: -7px;
          left: 0;
          right: 0;
          text-align: left;
          padding-left: 24px;
          z-index: 1;

          > div {
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-top: 8px solid white;
          }
        }

        .notification-loader {
          z-index: 10;
          top: 0;
          left: 0;
          right: 0;
          position: absolute;
          height: 100%;
          display: none;

          > div {
            height: 100%;
            align-self: center;
            display: none;
          }
          &.loading {
            height: 100%;
            display: block;
            > div {
              display: flex;
            }
          }
        }

        .notification-list-scroller {
          overflow-y: auto;
          max-height: 500px;
          position: relative;
          border: 1px solid var(--border-color);
        }
      }
    }
  }

  &.collapsed {
    .notification-list {
      > div {
        > div {
          bottom: 100px;
          left: 10px;

          .arrow {
            padding-left: 14px;
          }
        }
      }
    }
  }

  .my-info-menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;

    > div {
      position: relative;
      margin: 0 auto;
      height: 100%;

      > div {
        min-width: 110px;
        position: absolute;
        bottom: 60px;
        left: 120px;
        background-color: var(--box-color);
        border: 1px solid var(--border-color);

        .arrow {
          position: absolute;
          bottom: -17px;
          left: 0;
          right: 0;
          text-align: left;
          padding-left: 21px;

          > div {
            display: inline-block;
            width: 11px;
            height: 11px;
            transform: rotate(225deg);
            position: relative;
            top: -7px;
            border: 1px solid var(--border-color);
            border-right: none;
            border-bottom: none;
            background-color: var(--box-color);
          }
        }

        ul {
          list-style: none;
          margin: 0;
          font-size: 14px;
          padding: 0.5rem 0;
          position: relative;
          z-index: 1;
          line-height: 100%;
          text-align: left;

          li {
            line-height: 100%;
            padding: 0 1rem;

            &.user-info {
              padding: 0.5rem 1rem;
              color: black;

              > div {
                display: flex;

                > div {
                  align-self: center;
                  &:first-child {
                    margin-right: 8px;
                  }
                }

                .name {
                  margin-bottom: 4px;
                  font-weight: bold;
                }
                .email {
                  font-size: 12px;
                }
              }

              hr {
                background-color: var(--border-light-color);
                margin-bottom: 0;
                margin-top: 0.75rem;
              }
            }

            a {
              color: var(--text-color);
              text-decoration: none;
              padding: 0.5rem 0.5rem;
              display: inline-block;
              width: 100%;

              .icon {
                margin-right: 8px;
              }
              &:hover {
                background-color: var(--primary-color);
                color: var(--primary-text-color) !important;
              }
            }

            &:hover {
              a {
                color: var(--primary-color);
              }
            }

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }

  &.collapsed {
    .my-info-menu {
      > div {
        > div {
          bottom: 140px;
          left: 10px;

          .arrow {
            padding-left: 15px;
          }
        }
      }
    }
  }
}
