@keyframes bell {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.user-header-control-wrapper {
  display: flex;
  justify-content: flex-end;
  padding: 12px;

  .side-menu-item {
    margin-right: 4px;
    display: inline-flex;
    &:last-child {
      margin-right: 0;
    }
    > div {
      align-self: center;
    }
  }

  &.collapsed {
    display: block;
    padding: 12px 0;
    .side-menu-item {
      text-align: center;
      display: block;
      width: 100%;
      margin-right: 0;
      margin-top: 8px;
    }
  }

  .user-menu {
    align-self: center;
    position: relative;
    order: 2;

    .admin-flag {
      position: absolute;
      font-size: 10px;
      font-family: Cairo, NanumSquareNeo, sans-serif;
      font-weight: bold;
      background-color: var(--danger-color);
      color: var(--white-color);
      line-height: 100%;
      padding: 2px;
      border-radius: 4px;
      top: -10px;
      z-index: 1;
    }

    &:hover {
      .admin-flag {
      }
    }
    > a {
      margin-right: 0.5rem;
    }
  }

  .notification-menu {
    position: relative;
    order: 3;

    .notification-count {
      font-family: $font-family-count;
      font-size: 13px;
      position: absolute;
      right: -7px;
      top: -7px;
      background-color: $third-color;
      color: $white;
      display: inline-flex;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      justify-content: center;

      > span {
        align-self: center;
      }
    }
  }

  .notification-list {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: var(--text-color);
    z-index: 1;

    > div {
      position: relative;
      margin: 0 auto;
      height: 100%;

      > div {
        position: absolute;
        bottom: 136px;
        left: 172px;
        background-color: var(--box-color);
        width: 380px;
        box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.15);

        .arrow {
          position: absolute;
          bottom: -12px;
          left: 0;
          right: 0;
          text-align: left;
          padding-left: 24px;
          z-index: 1;

          > div {
            width: 11px;
            height: 11px;
            transform: rotate(225deg);
            position: relative;
            top: -7px;
            border: 1px solid var(--border-color);
            border-right: none;
            border-bottom: none;
            background-color: var(--box-color);
          }
        }

        .notification-loader {
          z-index: 10;
          top: 0;
          left: 0;
          right: 0;
          position: absolute;
          height: 100%;
          display: none;

          > div {
            height: 100%;
            align-self: center;
            display: none;
          }
          &.loading {
            height: 100%;
            display: block;
            > div {
              display: flex;
            }
          }
        }

        .notification-list-scroller {
          overflow-y: auto;
          max-height: 500px;
          position: relative;
          border: 1px solid var(--border-color);
        }
      }
    }
  }

  &.collapsed {
    .notification-list {
      > div {
        > div {
          bottom: 127px;
          left: 15px;

          .arrow {
            padding-left: 14px;
          }
        }
      }
    }
  }

  .my-info-menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;

    > div {
      position: relative;
      margin: 0 auto;
      height: 100%;

      > div {
        min-width: 240px;
        position: absolute;
        bottom: 136px;
        left: 139px;
        background-color: var(--box-color);
        border: 1px solid var(--border-color);
        box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.15);

        .arrow {
          position: absolute;
          bottom: -17px;
          left: 0;
          right: 0;
          text-align: left;
          padding-left: 21px;

          > div {
            display: inline-block;
            width: 11px;
            height: 11px;
            transform: rotate(225deg);
            position: relative;
            top: -7px;
            border: 1px solid var(--border-color);
            border-right: none;
            border-bottom: none;
            background-color: var(--box-color);
          }
        }

        ul {
          list-style: none;
          margin: 0;
          font-size: 14px;
          padding: 8px 0 16px;
          position: relative;
          z-index: 1;
          line-height: 100%;
          text-align: left;

          li {
            line-height: 100%;
            padding: 0 1rem;

            &.links {
              text-align: right;
            }

            hr {
              background-color: var(--border-light-color);
              display: none;
            }

            > div.theme-selector {
              text-align: right;
              margin-top: 8px;

              > span {
                font-size: 10px;
                display: inline-block;
                padding: 2px 4px;
                background-color: var(--light-color);
                cursor: pointer;
                color: var(--text-color);

                &:first-child {
                  border-radius: 6px 0 0 6px;
                  border: 1px solid var(--border-light-color);
                  border-right: none;
                }
                &:last-child {
                  border-radius: 0 6px 6px 0;
                  border: 1px solid var(--border-light-color);
                  border-left: none;
                }
                &.selected {
                  background-color: var(--primary-color);
                  color: var(--primary-text-empahsis-color);
                  font-weight: bold;
                }
              }
            }

            &.user-info {
              padding: 8px 16px 0;
              color: var(--text-color);

              > div {
                display: flex;

                > div {
                  align-self: center;
                  &:first-child {
                    margin-right: 8px;
                  }
                }

                .name {
                  margin-bottom: 2px;
                  font-weight: bold;
                }
                .email {
                  font-size: 12px;
                  display: none;
                }
              }
            }

            a {
              color: var(--text-color);
              text-decoration: none;
              padding: 4px;
              display: inline-block;
              font-size: 13px;
              text-align: right;
              border-bottom: 1px solid transparent;

              .icon {
                margin-right: 8px;
                display: inline-block;
                width: 16px;
              }
            }

            &:hover {
              a {
                color: var(--link-color);
                border-bottom: 1px solid var(--link-color);
              }
            }

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }

  &.collapsed {
    .my-info-menu {
      > div {
        > div {
          bottom: 178px;
          left: 13px;

          .arrow {
            padding-left: 15px;
          }
        }
      }
    }
  }
}
