.comment-list-wrapper {
  .empty-comments {
    padding: 1rem;
    font-size: 14px;
  }
  > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    > li {
      padding: 0;
      box-sizing: border-box;
      border: 1px solid var(--border-light-color);
      margin-bottom: 1rem;
      border-radius: 2px;

      > div {
        display: flex;

        .writer {
          padding: 10px;
        }

        .comment-content {
          flex-grow: 1;
          .toastui-editor-contents {
            font-family: NanumSquareNeo, sans-serif;
          }
        }
      }

      .comment-user-info {
        display: flex;
        font-size: 12px;
        color: $gray-600;
        padding: 0 10px 10px;

        > div {
          &:first-child {
            flex-grow: 1;
            text-align: right;
          }
        }
      }

      a.comment-delete-link {
        color: $danger;
      }
    }
  }
}
