.testcase-selector-filter-wrapper {
  display: flex;
  flex-direction: column;

  gap: 8px;
  margin-bottom: 16px;

  .filter-row {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .icon {
    margin-right: 0.5rem;
  }

  .filter-button {
    margin-right: 0.5rem;
  }

  .date-range {
    margin-right: 0.5rem;

    .fill-button {
      margin-right: 0;
      border-color: transparent;
    }
  }

  > div {
    align-self: center;
  }

  .range-highlight-checkbox {
    margin-right: 1rem;
  }
}
