.testcase-selector-wrapper {
  border: 1px solid var(--border-color);
  padding: 0.5rem;
  flex-grow: 1;
  position: relative;

  > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;

    > ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }
}
