.side-overlay-menu-wrapper {
  position: absolute;
  white-space: nowrap;
  list-style: none;
  margin: 0;
  top: -8px;
  left: 100%;
  background-color: var(--theme-color);
  border: 1px solid var(--border-color);
  padding: 8px 4px;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 20%);
  display: none;
  z-index: 1;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    > li {
      cursor: pointer;

      > a {
        color: var(--text-color);
        padding: 4px 8px;
        margin-bottom: 4px;
        display: flex;
        font-size: 14px;

        .menu-icon {
          margin-right: 8px;
          min-width: 18px;
          i {
            align-self: center;
          }
        }
      }

      &:last-child {
        > a {
          margin-bottom: 0;
        }
      }
      &.selected {
        .menu-icon {
          background-color: var(--primary-color);
          color: var(--primary-text-color);
        }
      }

      &:hover {
        .menu-icon {
          background-color: var(--hover-background-color);
        }
      }
    }
  }
}
