.logo-wrapper {
  align-self: center;

  > .logo-content {
    font-size: 32px;
    position: relative;
    padding: 0;


    > div.logo-content {
      display: flex;
      justify-content: center;

      position: relative;
      z-index: 1;

      > div {
        align-self: center;
        color: var(--text-color);
        .case {
          margin-right: 2px;
        }

        .book {
        }

        .case,
        .book {
          display: inline-block;
          font-family: Rowdies, sans-serif;
          font-weight: 400;
          line-height: 100%;
          position: relative;
          top: 2px;
        }
      }

      .logo-icon {
        margin-right: 0.5rem;
      }
    }

    .floating-icon {
      position: absolute;
      font-size: 14px;
      color: white;
      display: inline-flex;
      width: 24px;
      height: 24px;
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 50%;
      justify-content: center;
      z-index: 0;
      display: none;

      > i {
        align-self: center;
      }

      &.icon-pencil {
        top: -6px;
        left: 10px;
        transform: rotate(135deg);
      }

      &.icon-book {
        bottom: -6px;
        right: 10px;
        transform: rotate(30deg);
      }
    }
  }
}
