@keyframes blink {
  0% {
    position: relative;
    top: -40px;
    opacity: 0;
  }

  90% {
    top: -1px;
    opacity: 1;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes rise-up {
  0% {
    top: 7px;
  }

  99% {
    top: -100px;
  }

  100% {
    top: -100px;
    opacity: 0;
  }
}

.logo-wrapper {
  align-self: center;
  position: relative;
  height: 40px;
  padding-top: 2px;

  &.animation {
    animation: blink 0.6s ease-in-out;
    animation-fill-mode: forwards;
  }

  .hand-1,
  .hand-2 {
    font-size: 20px;
    position: absolute;
    z-index: 4;
    top: 7px;

    animation: rise-up 0.6s ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 1.2s;

    > .hand {
      display: inline-block;
      transform: rotate(90deg);
    }

    > .bar-1 {
      position: absolute;
      display: inline-block;
      width: 6px;
      height: 200px;
      top: -184px;
      background-color: var(--text-color);
    }
  }

  .hand-1 {
    left: -20px;
    > .hand {
      transform: rotate(90deg);
    }
    > .bar-1 {
      left: -4px;

      border-radius: 0 0 0 4px;
    }
  }

  .hand-2 {
    right: -20px;
    > .hand {
      transform: rotate(90deg) rotateX(180deg);
    }

    > .bar-1 {
      right: -4px;
      border-radius: 0 0 4px 0;
    }
  }

  > .logo-content {
    font-size: 32px;
    @media (max-width: 768px) {
      font-size: 28px;
    }
    position: relative;
    padding: 0;

    > div.logo-content {
      display: flex;
      justify-content: center;
      position: relative;
      z-index: 1;

      > div {
        align-self: center;
        color: var(--text-color);
        .case {
          margin-right: 2px;
        }

        .book {
        }

        .case,
        .book {
          display: inline-block;
          font-family: Rowdies, sans-serif;
          font-weight: 400;
          line-height: 100%;
        }
      }

      .logo-icon {
        margin-right: 0.5rem;
      }
    }

    .floating-icon {
      position: absolute;
      font-size: 14px;
      color: white;
      display: inline-flex;
      width: 24px;
      height: 24px;
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 50%;
      justify-content: center;
      z-index: 0;
      display: none;

      > i {
        align-self: center;
      }

      &.icon-pencil {
        top: -6px;
        left: 10px;
        transform: rotate(135deg);
      }

      &.icon-book {
        bottom: -6px;
        right: 10px;
        transform: rotate(30deg);
      }
    }
  }
}
