spring:
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  profiles:
    active: default
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3606/bug_case?serverTimezone=UTC&characterEncoding=UTF-8&autoReconnect=true&failOverReadOnly=false&maxReconnects=10&cacheDefaultTimezone=false
    username: bug_case_app
    password: admin1234
  jpa:
    hibernate:
      ddl-auto: update #create
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    generate-ddl: true
    show-sql: true
    database: mysql
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    properties:
      hibernate:
        format_sql: true
        enable_lazy_load_no_trans: true
        # type: trace
  redis:
    host: localhost
    port: 6679
    password: admin1234
  session:
    store-type: redis
    redis:
      flush-mode: immediate
      namespace: bug-case
  messages:
    basename: messages/message
    encoding: UTF-8
  servlet:
    multipart:
      enabled: true
      file-size-threshold: 2KB
      max-file-size: 200MB
      max-request-size: 215MB
server:
  port: 8080
  servlet:
    session:
      timeout: 12h # Session timeout. If a duration suffix is not specified, seconds is used.
  ssl:
    key-store: classpath:keystores/keystore.p12
    key-store-type: PKCS12
    key-store-password: 123456
    key-password: a123456
    key-alias: keystore-alias
  error:
    include-exception: false
    include-stacktrace: NEVER
    path: /error
bug-case:
  locale:
    default: en
  corsUrls: http://localhost:3000,https://localhost:3000
  url: https://localhost:3000
  web-url: https://localhost:3000
  # web-url: https://localhost:3000/
  # oauth-err-web-url: https://localhost:3000/users/oauth/fail
  # oauth-register-web-url: https://localhost:3000/users/oauth/register
file:
  upload-dir: c:/fileupload/
  image-file-extension: bmp,jpeg,png,jpg,gif,webp,svg
