.testcase-viewer-label-wrapper {
  display: flex;
  padding: 0;
  border-radius: 0;
  margin-bottom: 0.5rem;

  .text {
    flex-grow: 1;
    color: var(--gray-color);
    line-height: 125%;
  }

  .type {
    font-size: 10px;
    align-self: center;
    font-family: Rowdies, sans-serif;
    color: var(--gray-color);
  }
}
