.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: var(--modal-overlay-color);
  display: none;

  &.show {
    display: flex;
  }

  &.size-md {
    > div {
      max-width: 500px;
      min-width: 500px;

      @media (max-width: 640px) {
        min-width: auto;
      }
    }
  }

  &.size-lg {
    > div {
      max-width: 800px;
      min-width: 800px;

      @media (max-width: 640px) {
        min-width: auto;
      }
    }
  }

  &.size-xl {
    > div {
      max-width: 1024px;
      min-width: 1024px;

      @media (max-width: 1200px) {
        min-width: auto;
        width: 100%;
      }

      @media (max-width: 1064px) {
        margin: 0 20px;
      }

      @media (max-width: 640px) {
        min-width: auto;
      }
    }
  }

  &.size-xxl {
    > div {
      max-width: 1400px;
      min-width: 1400px;
      @media (max-width: 1480px) {
        margin: 0 40px;
        min-width: calc(100% - 80px);
      }

      @media (max-width: 640px) {
        min-width: auto;
      }
    }
  }

  > div {
    position: relative;
    align-self: center;
    background-color: var(--modal-background-color);
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 6%);
    margin: 0 auto;
    border-radius: 4px;

    @media (max-width: 536px) {
      margin: 0 0.5rem;
      width: calc(100% - 1rem);
      min-width: auto;
    }

    > .exit-button {
      position: absolute;
      top: 16px;
      right: 16px;
      background-color: transparent;
      border: none;
      outline: none;
      width: 30px;
      height: 30px;
      padding: 0;
      display: inline-flex;
      justify-content: center;
      cursor: pointer;

      > span {
        width: 100%;
        height: 100%;
        svg {
          width: 100%;
          height: 100%;
        }
      }
    }

    .modal-header-wrapper {
      font-size: 18px;
      padding: 1.25rem 1.5rem;
      display: flex;
      border-radius: 4px 4px 0 0;
      background-color: var(--modal-background-color);
      border-bottom: 1px solid var(--modal-header-border-color);

      > div {
        align-self: center;
      }
      .title-text {
        flex-grow: 1;
        font-weight: bold;
      }

      .close-button {
        position: relative;
        height: 28px;
        width: 28px;
        line-height: 0;
        span {
          width: 28px;
          height: 28px;
          cursor: pointer;
          display: inline-block;
          position: absolute;

          svg {
            width: 100%;
            height: 100%;
            vertical-align: middle;
            fill: white;
            overflow: hidden;
          }

          &:hover {
            svg {
              fill: $color-sunflower;
            }
          }
        }
      }
    }

    .modal-body-wrapper {
      padding: 2rem 2rem 0;
      overflow-y: auto;
      max-height: 900px;

      @media (max-height: 1100px) {
        max-height: 800px;
      }

      @media (max-height: 1024px) {
        max-height: 700px;
      }

      @media (max-height: 900px) {
        max-height: 600px;
      }

      @media (max-height: 800px) {
        max-height: 500px;
      }

      @media (max-height: 700px) {
        max-height: 400px;
      }

      @media (max-height: 600px) {
        max-height: 300px;
      }

      @media (max-height: 500px) {
        max-height: 300px;
      }

      @media (max-height: 460px) {
        max-height: 200px;
      }
    }

    .modal-footer-wrapper {
      text-align: center;
      padding: 2rem;
      .bottom-liner {
        height: 3px;
        background-color: #000;
        border: 1px solid rgba(255, 255, 255, 0.15);
        border-radius: 3px;
        margin-bottom: 1.5rem;
      }

      > div {
        > button {
          margin-right: 0.75rem;
          min-width: 60px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}
