.testcase-manager-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;

  .testcase-title {
    padding: 1.5rem;
    display: flex;
    border-radius: 4px 4px 0 0;

    > div {
      align-self: center;
    }

    .text {
      font-weight: bold;
      flex-grow: 1;
      display: flex;

      .seq-id {
        margin-right: 8px;
      }

      .name {
        font-size: 18px;
      }

      .title-input {
        flex-grow: 1;
        display: flex;

        > div.name-input {
          flex-grow: 1;
        }

        > div.type-input {
          margin-right: 0.5rem;
        }
      }

      > div {
        align-self: center;

        &.name {
          flex-grow: 1;
        }
      }
    }

    .title-button {
      margin-left: 1rem;

      button {
        margin-right: 0.5rem;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .title-liner {
    height: 1px;
    background-color: var(--border-light-color);
  }

  .case-content {
    flex-grow: 1;
    overflow-y: auto;
    padding: 1rem 1rem 4rem;

    .case-description {
      margin: 0.5rem 0.5rem 0.5rem;
      padding: 1rem;
      font-size: 14px;
      border-radius: 2px;
      background-color: var(--testcase-item-background);
      border: 1px solid var(--border-light-color);

      .case-description-content {
        white-space: pre-wrap;
        word-break: break-all;

        &.empty {
          color: $gray-600;
        }
      }
    }
  }

  &.is-edit {
    .case-content {
      .case-description {
        padding: 0;
        background-color: transparent;
        border: none;
      }

      .case-item {
        > div {
          background-color: transparent;

          .case-liner {
          }

          .value {
            background-color: transparent;
            border: none;
            padding: 0;
            min-height: auto;

            &.EDITOR {
            }
          }
        }
      }
    }
  }
}
