.block-row-wrapper {
  > .block-row-content {
    display: flex;
    padding: 0.5rem 0;

    @media (max-width: 768px) {
      display: block;
    }
  }

  > .block-row-liner {
    height: 1px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: none;
    border-left: none;
    border-right: none;
    width: 100%;
  }



  > * {
    align-self: center;
  }

  &.expand {
    > div {
      &:last-child {
        flex-grow: 1;
      }
    }
  }

  button {
    margin-left: 8px;
  }
}

.theme-DARK {
  .block-row-wrapper {
    > .block-row-liner {
      border: 1px solid rgba(255, 255, 255, 0.15);
      display: none;
    }
  }
}
