.block-row-wrapper {
  display: flex;
  padding: 2rem 0;
  border-bottom: 1px solid #2e2e2e;

  @media (max-width: 768px) {
    display: block;
  }

  > * {
    align-self: center;
  }

  &.expand {
    > div {
      &:last-child {
        flex-grow: 1;
      }
    }
  }

  button {
    margin-left: 8px;
  }
}
