.block-row-wrapper {
  > .block-row-content {
    display: flex;
    padding: 4px 0;

    @media (max-width: 768px) {
      display: block;
      padding: 0;
    }

    input ~ button:last-child {
      margin-left: 10px;
    }
  }

  > .block-row-liner {
    height: 1px;
    border-bottom: 1px solid var(--border-light-color);
    display: none;
    border-left: none;
    border-right: none;
    width: 100%;
  }

  > * {
    align-self: center;
  }

  &.expand {
    > div {
      &:last-child {
        flex-grow: 1;
      }
    }
  }
}
