.search-wrapper {
  display: flex;
  position: relative;
  z-index: 2;
  transition: all 0.5s;
  color: var(--text-color);
  background-color: var(--input-background-color);
  border-radius: 10px;

  &.outline {
    border: 1px solid var(--input-border-color);
  }

  &.underline {
    border: none;
    border-bottom: 1px solid var(--input-border-color);
    border-radius: 0;
  }

  > div {
    align-self: center;
    &.icon {
      font-size: 18px;
      padding-left: 10px;
    }

    &.search-control {
      flex-grow: 1;

      input {
        border: none;
        padding: 0 8px;
        width: 100%;
        box-sizing: border-box;
        border-radius: 0 12px 12px 0;

        &:focus {
          box-shadow: none;
          outline: none;
          border-color: var(--border-color-hover);
        }

        &:invalid {
          &.underline {
            border-bottom: 1px solid var(--danger-color);
            transition: border-bottom 0.5s;
          }

          &.outline {
            border-color: var(--danger-color);
            transition: border-color 0.5s;
          }
        }
      }
    }
  }

  .clear-icon {
    margin-right: 5px;
  }

  &.color-default {
    color: var(--text-color);
    background-color: var(--input-background-color);

    input {
      color: var(--text-color);
      background-color: var(--input-background-color);
    }
  }

  &.color-white {
    color: $black;
    background-color: $white;

    input {
      color: $black;
      background-color: $white;
    }
  }

  &.color-black {
    color: $white;
    background-color: $black;

    input {
      color: $white;
      background-color: $black;
    }
  }

  &[type='range'] {
    padding: 0;
  }

  &.size-xxl {
    height: $xxl-height;
    input {
      font-size: 20px;
      height: 100%;
      padding: 8px 12px;
    }
  }

  &.size-xl {
    height: $xl-height;
    input {
      font-size: 18px;
      height: 100%;
      padding: 8px 12px;
    }
  }

  &.size-lg {
    height: $lg-height;
    input {
      font-size: 16px;
      height: 100%;
      padding: 8px 12px;
    }
  }

  &.size-md {
    height: $md-height;
    input {
      font-size: 14px;
      height: 100%;
      padding: 0 12px;
    }
  }

  &.size-sm {
    height: $sm-height;
    input {
      font-size: 12px;
      height: 100%;
    }
  }

  &.size-xs {
    height: $xs-height;
    input {
      font-size: 10px;
      height: 100%;
    }
  }

  &[disabled] {
    opacity: var(--disable-opacity);
    cursor: not-allowed;
  }
}
