.space-wrapper {
  .user-list {
    margin-top: 2rem;

    > ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        display: inline-flex;
        flex-direction: column;
        width: calc((100% - 2rem) / 3);
        vertical-align: top;
        margin-right: 1rem;
        margin-bottom: 1rem;

        &:nth-child(3n) {
          margin-right: 0;
        }

        .user-item-wrapper {
          padding: 1.5rem;
          border-radius: 4px;
          background-color: #222;
          position: relative;

          .name {
            font-size: 18px;
            font-weight: bold;
            display: flex;
            margin-bottom: 0.5rem;
            > div {
              align-self: center;
            }
            div:first-child {
              flex-grow: 1;
            }
          }

          .email {
            text-transform: uppercase;
            font-size: 14px;
            font-family: NotoSans, sans-serif;
          }
        }
      }
    }
  }
}
