.space-edit-page-wrapper {
  .member-manager {
    margin-top: 1.5rem;
  }

  .holiday-button {
    > button {
      margin-right: 0.5rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .invalid {
    color: var(--danger-color);
  }
}
