.content-manager-wrapper {
  .manager-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;

    .empty-content {
      .icon {
        font-size: 40px;
        margin-bottom: 1rem;
      }
    }
  }

  .testcase-editor-popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.4);
    > div {
      background-color: $white;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      max-width: 60%;
      min-width: 60%;
    }
  }
}
