.testcase-manager-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;

  .testcase-title {
    padding: 1.5rem 2rem 1.5rem;
    display: flex;
    border-radius: 4px 4px 0 0;

    > div {
      align-self: center;
    }

    .text {
      font-weight: bold;
      flex-grow: 1;
      display: flex;

      .name {
        font-size: 20px;
      }

      .title-input {
        flex-grow: 1;
        display: flex;

        > div.name-input {
          flex-grow: 1;
        }

        > div.type-input {
          margin-right: 0.5rem;
        }
      }

      > div {
        align-self: center;

        &.seq-id {
          line-height: 0;
          margin-right: 1rem;

          .seq-id-text {
            position: relative;
            z-index: 2;
          }

          > div {
            cursor: pointer;
            display: inline-block;
            border-radius: 2px;
            line-height: 100%;
            font-size: 14px;
            background-color: $color-sunflower;
            color: #333;
            padding: 2px;
            font-family: Rowdies, sans-serif;
            position: relative;

            .copied-message {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              text-align: center;
              color: $color-azure;
              transition: 0.3s all;
              transition-timing-function: ease-in-out;
              opacity: 0;
              cursor: text;

              &.copied {
                top: -30px;
                transition: 0.3s all;
                transition-timing-function: ease-in-out;
                opacity: 1;
              }

              .bg {
                font-size: 30px;
              }

              .icon {
                position: absolute;
                left: 0;
                right: 0;
                text-align: center;
                bottom: 8px;
                font-size: 16px;
                color: $white;
              }

              .text {
                color: $white;
                position: absolute;
                left: calc(100% + 8px);
                top: 6px;
                font-size: 10px;
              }
            }
          }
        }

        &.name {
          flex-grow: 1;
        }
      }
    }

    .title-button {
      margin-left: 1rem;

      button {
        margin-right: 0.5rem;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .title-liner {
    height: 1px;
    background-color: rgba(0, 0, 0, 0.12);
  }

  .case-content {
    flex-grow: 1;
    overflow-y: auto;
    padding: 1rem;

    .case-item {
      vertical-align: top;
      display: inline-block;
      padding: 0.5rem;

      > div {
        border-radius: 0;

        .label {
          display: flex;
          padding: 0.75rem 1rem;
          border-radius: 0;

          .text {
            flex-grow: 1;
            font-family: NotoSans, sans-serif;
            color: $gray-700;
            line-height: 125%;
          }

          .type {
            font-size: 10px;
            align-self: center;
            font-family: Rowdies, sans-serif;
            color: $gray-500;
          }
        }

        .case-liner {
          margin: 0;
          height: 1px;
          background-color: transparent;
        }

        .value {
          padding: 0 1rem;
          min-height: 70px;
          display: flex;
          box-sizing: border-box;
          font-family: NotoSans, sans-serif;
          background-color: #f7f7f7;
          border-radius: 8px;
          border: 1px solid rgba(0, 0, 0, 0.04);

          > div {
            align-self: center;
            width: 100%;
          }

          .select {
            .selector {
              width: 100%;
            }
          }

          .none-text {
            color: $gray-600;
          }

          .editor {
            white-space: pre-wrap;

            > div {
              white-space: normal;
            }
          }
        }
      }

      &.size-1 {
        width: calc(100% / 12);
      }

      &.size-2 {
        width: calc((100% / 12) * 2);
      }

      &.size-3 {
        width: calc((100% / 12) * 3);
      }

      &.size-4 {
        width: calc((100% / 12) * 4);
      }

      &.size-5 {
        width: calc((100% / 12) * 5);
      }

      &.size-6 {
        width: calc((100% / 12) * 6);
      }

      &.size-7 {
        width: calc((100% / 12) * 7);
      }

      &.size-8 {
        width: calc((100% / 12) * 8);
      }

      &.size-9 {
        width: calc((100% / 12) * 9);
      }

      &.size-10 {
        width: calc((100% / 12) * 10);
      }

      &.size-11 {
        width: calc((100% / 12) * 11);
      }

      &.size-12 {
        width: calc((100% / 12) * 12);
      }
    }
  }

  &.is-edit {
    .case-content {
      .case-item {
        > div {
          background-color: transparent;

          .label {
            background-color: transparent;
          }

          .case-liner {
          }

          .value {
            padding: 1rem;

            &.EDITOR {
              padding: 1rem;
            }
          }
        }
      }
    }
  }
}

.theme-DARK {
  .testcase-manager-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;

    .testcase-title {
      padding: 1.5rem 2rem 1.5rem;
      display: flex;
      background-color: #222;
      border-radius: 4px 4px 0 0;

      > div {
        align-self: center;
      }

      .text {
        font-size: 20px;
        font-weight: bold;
        flex-grow: 1;
        display: flex;

        .title-input {
          flex-grow: 1;
        }

        > div {
          align-self: center;

          &.seq-id {
            line-height: 0;
            margin-right: 1rem;

            .seq-id-text {
              position: relative;
              z-index: 2;
            }

            > div {
              cursor: pointer;
              display: inline-block;
              border-radius: 2px;
              line-height: 100%;
              font-size: 14px;
              background-color: $color-sunflower;
              color: #333;
              padding: 2px;
              font-family: Rowdies, sans-serif;
              position: relative;

              .copied-message {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                text-align: center;
                color: $color-azure;
                transition: 0.3s all;
                transition-timing-function: ease-in-out;
                opacity: 0;
                cursor: text;

                &.copied {
                  top: -30px;
                  transition: 0.3s all;
                  transition-timing-function: ease-in-out;
                  opacity: 1;
                }

                .bg {
                  font-size: 30px;
                }

                .icon {
                  position: absolute;
                  left: 0;
                  right: 0;
                  text-align: center;
                  bottom: 8px;
                  font-size: 16px;
                  color: $white;
                }

                .text {
                  color: $white;
                  position: absolute;
                  left: calc(100% + 8px);
                  top: 6px;
                  font-size: 10px;
                }
              }
            }
          }

          &.name {
            flex-grow: 1;
          }
        }
      }

      .title-button {
        margin-left: 1rem;

        button {
          margin-right: 0.5rem;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    .title-liner {
      background-color: transparent;
    }

    .case-content {
      flex-grow: 1;
      overflow-y: auto;
      padding: 1rem;

      .case-item {
        vertical-align: top;
        display: inline-block;
        padding: 0.5rem;

        > div {
          background-color: #161616;
          border-radius: 4px;
          _border: 1px solid rgba(255, 255, 255, 0.05);

          .label {
            display: flex;
            padding: 1rem;
            background-color: #141414;
            border-radius: 4px 4px 0 0;

            .text {
              flex-grow: 1;
              font-family: Rowdies, NotoSans, sans-serif;
              line-height: 125%;
            }

            .type {
              font-size: 10px;
              align-self: center;
              font-family: Rowdies, sans-serif;
              color: $gray-500;
            }
          }

          .case-liner {
            margin: 0 2px;
            height: 3px;
            background-color: #000;
            border: 1px solid rgba(255, 255, 255, 0.14);
            border-left: none;
            border-right: none;
          }

          .value {
            padding: 1rem 1rem;
            min-height: 51px;
            display: flex;
            background-color: rgba(0, 0, 0, 0.2);
            border-radius: 0 0 4px 4px;
            box-sizing: border-box;

            > div {
              align-self: center;
              width: 100%;
            }

            .select {
              .selector {
                width: 100%;
              }
            }

            .none-text {
              color: $gray-600;
            }

            .editor {
              min-height: 120px;
              white-space: pre-wrap;

              > div {
                white-space: normal;
              }
            }
          }
        }

        &.size-1 {
          width: calc(100% / 12);
        }

        &.size-2 {
          width: calc((100% / 12) * 2);
        }

        &.size-3 {
          width: calc((100% / 12) * 3);
        }

        &.size-4 {
          width: calc((100% / 12) * 4);
        }

        &.size-5 {
          width: calc((100% / 12) * 5);
        }

        &.size-6 {
          width: calc((100% / 12) * 6);
        }

        &.size-7 {
          width: calc((100% / 12) * 7);
        }

        &.size-8 {
          width: calc((100% / 12) * 8);
        }

        &.size-9 {
          width: calc((100% / 12) * 9);
        }

        &.size-10 {
          width: calc((100% / 12) * 10);
        }

        &.size-11 {
          width: calc((100% / 12) * 11);
        }

        &.size-12 {
          width: calc((100% / 12) * 12);
        }
      }
    }

    &.is-edit {
      .case-content {
        .case-item {
          > div {
            background-color: transparent;

            .label {
              background-color: transparent;
            }

            .case-liner {
            }

            .value {
              padding: 1rem 1rem 0;
              background-color: transparent;
            }
          }
        }
      }
    }
  }
}
