.testcase-manager-wrapper {
  min-height: 100%;
  .testcase-title {
    padding: 1rem 1rem 1.5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid $gray-700;
    display: flex;

    > div {
      align-self: center;
    }

    .text {
      font-size: 20px;
      font-weight: bold;
      flex-grow: 1;
      margin-right: 1rem;
    }

    .button {
      > div {
        display: inline-flex;
        height: 36px;
        cursor: pointer;

        > span {
          align-self: center;
          display: inline-block;
        }
        .label {
          font-size: 14px;
          margin-right: 0.25rem;
        }

        .switch {
          font-size: 24px;
          line-height: 0;

          &.on {
            color: $color-sunflower;
          }
        }
      }
    }
  }

  &.is-edit {
    .testcase-title {
      padding-left: 0.5rem;
    }
  }

  .case-content {
    .case-item {
      display: inline-block;

      .label {
        padding: 0.5rem;
        display: flex;
        font-family: Rowdies, NanumGothic, sans-serif;

        .text {
          flex-grow: 1;
        }
        .type {
          font-size: 10px;
          align-self: center;
          font-family: Rowdies, sans-serif;
          margin-right: 1rem;
          color: $gray-500;
        }
      }

      .value {
        padding: 0.5rem 1rem;
        min-height: 40px;
        display: flex;
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        margin: 0 0.5rem 1rem;
        box-sizing: border-box;

        > div {
          align-self: center;
          width: 100%;
        }

        .none-text {
          color: $gray-600;
        }

        &.TEXT {
          _background-color: #161616;
        }

        &.RADIO {
          padding: 0 1rem 0 0;
          background-color: transparent;
        }

        &.EDITOR {
          padding: 1rem;
        }

        .editor {
          height: 120px;
        }
      }

      &.size-1 {
        width: calc(100% / 12);
      }

      &.size-2 {
        width: calc((100% / 12) * 2);
      }

      &.size-3 {
        width: calc((100% / 12) * 3);
      }

      &.size-4 {
        width: calc((100% / 12) * 4);
      }

      &.size-5 {
        width: calc((100% / 12) * 5);
      }

      &.size-6 {
        width: calc((100% / 12) * 6);
      }

      &.size-7 {
        width: calc((100% / 12) * 7);
      }

      &.size-8 {
        width: calc((100% / 12) * 8);
      }

      &.size-9 {
        width: calc((100% / 12) * 9);
      }

      &.size-10 {
        width: calc((100% / 12) * 10);
      }
      &.size-11 {
        width: calc((100% / 12) * 11);
      }

      &.size-12 {
        width: calc((100% / 12) * 12);
      }
    }
  }
}
