.space-variable-edit-page-wrapper {
  .buttons {
    button {
      margin-right: 10px;
    }
  }

  .variable {

  }

  .profile {
    min-width: 200px;
  }

  .variable-content {
    overflow-x: auto;
  }
}
