.variable-common-popup-wrapper {
  .controls {
    display: flex;
    .delete {
      flex-grow: 1;
      text-align: left;
    }

    .others {
      button {
        margin-right: 10px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
