.version-wrapper {
  height: 100%;
  text-transform: uppercase;
  font-size: 10px;
  text-align: center;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  > div {
    align-self: center;
    display: flex;
    > div {
      align-self: center;
    }
    .app-version {
      span {
        margin-right: 4px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    > div {
      display: inline-block;

      &.slash {
        margin: 0 0.5rem;
      }
    }

    a:hover {
      font-weight: bold;
    }
  }
}
