.testcase-select-popup-wrapper {
  height: 100%;

  > div {
    height: calc(100% - 80px);
    display: flex;
    flex-direction: column;
  }

  .modal-body {
    position: relative;
    padding-top: 16px !important;
    overflow-y: hidden !important;
    max-height: none !important;
    flex-grow: 1;

    .content {
      display: flex;
      flex-direction: column;
      height: 100%;
      overflow-y: hidden;
    }
  }
}
