@keyframes flash {
  0% {
    opacity: 0;
    width: 0;
    left: 0;
  }

  33% {
    opacity: 1;
    width: 120%;
    left: 0;
  }

  50% {
    opacity: 1;
    width: 120%;
    left: 0;
  }

  88% {
    opacity: 1;
    width: 120%;
    left: 120%;
  }

  100% {
    opacity: 0;
    width: 120%;
    left: 120%;
  }
}

.btn-wrapper {
  border-radius: 4px;
  background-color: transparent;
  border: none;
  padding: 0 12px;
  cursor: pointer;
  align-self: center;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 6%);
  white-space: nowrap;
  position: relative;

  &.shadow-none {
    box-shadow: none;
  }

  &.disabled {
    opacity: var(--disable-opacity);
  }

  &.btn-xs {
    padding: 0 8px;
    font-size: 12px;
    height: $xs-height;
  }

  &.btn-sm {
    padding: 0 10px;
    font-size: 14px;
    height: $sm-height;
  }

  &.btn-md {
    padding: 0 12px;
    font-size: 14px;
    height: $md-height;
  }

  &.btn-lg {
    padding: 0 14px;
    font-size: 16px;
    height: $lg-height;
  }

  &.btn-xl {
    padding: 0 16px;
    font-size: 18px;
    height: $xl-height;
  }

  &.btn-xxl {
    padding: 0 18px;
    font-size: 20px;
    height: $xxl-height;
  }

  &:hover {
    filter: brightness(var(--hover-brightness));
    .inner {
      animation: flash 0.4s linear;
      animation-fill-mode: forwards;
    }
  }

  &.disabled {
    cursor: not-allowed;

    &:hover {
      filter: none;
    }
  }

  &:focus {
    box-shadow: none;
  }

  &.btn-outline {
    border: 1px solid var(--input-border-color);
    &:hover {
      border: 1px solid var(--border-color-hover);
      &.disabled {
        border: 1px solid var(--input-border-color);
      }
    }
  }

  &.btn-primary {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
  }

  &.btn-transparent {
    background-color: transparent;
    color: var(--text-color);
    box-shadow: none;

    &:hover {
      background-color: transparent;
    }
  }

  &.btn-white {
    background-color: $white;
    color: $black;
    border: 1px solid var(--input-border-color);

    &:hover {
      background-color: var(--primary-color);
      color: var(--primary-text-color);
      border: 1px solid var(--border-color-hover);
    }

    &.disabled:hover {
      background-color: $white;
      color: $black;
      border: 1px solid var(--input-border-color);
    }
  }

  &.btn-danger {
    background-color: var(--danger-color);
    color: $white;
    &.btn-outline {
      background-color: transparent;
      color: var(--danger-color);
      border: 1px solid var(--danger-color);
      &:hover {
        border: 1px solid var(--danger-color);
        &.disabled {
          border: 1px solid var(--danger-color);
        }
      }
    }
  }

  &.btn-warning {
    background-color: var(--warning-color);
    color: $white;
    &.btn-outline {
      background-color: transparent;
      color: var(--warning-color);
      border: 1px solid var(--warning-color);
      &:hover {
        border: 1px solid var(--warning-color);
        &.disabled {
          border: 1px solid var(--warning-color);
        }
      }
    }
  }

  &.btn-blue {
    background-color: $blue;
    color: $white;
  }

  &.btn-yellow {
    background-color: $yellow;
    color: $black;
  }

  &.btn-light {
    background-color: var(--light-color);
    color: $black;
  }

  &.btn-black {
    background-color: $black;
    color: $white;
  }

  &.rounded {
    border-radius: 50% !important;
    padding-left: 0;
    padding-right: 0;
    line-height: 100%;

    &.btn-xs {
      width: $xs-height;
      height: $xs-height;
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;
      display: inline-flex;
      > i {
        align-self: center;
        width: 100%;
        line-height: 0;
      }
    }

    &.btn-sm {
      width: $sm-height;
      height: $sm-height;
    }

    &.btn-md {
      width: $md-height;
      height: $md-height;
    }

    &.btn-lg {
      width: $lg-height;
      height: $lg-height;
    }
  }
}
