.card-header-wrapper {
  @include title;
  padding: 1rem 1.5rem;
  font-size: 18px;

  border-radius: 4px 4px 0 0;
  display: flex;
  width: 100%;
  > div {
    align-self: center;
  }
  > .card-header-content {
    flex-grow: 1;
  }
  > .card-header-control {
  }
}
