.card-wrapper {
  color: $black;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  height: 360px;
  background-color: $white;
  position: relative;
  border-radius: 4px;
  cursor: pointer;

  .card-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
  }

  .circle {
    position: absolute;
    width: 110%;
    height: 110%;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 50%;


    &.circle-1 {
      top: -30%;
      left: calc(-30% + 10px);
    }

    &.circle-2 {
      bottom: -30%;
      right: calc(-30% + 10px);
    }
  }

  .point {
    width: 12px;
    height: 12px;
    position: absolute;
    background-color: #111;
    transform: rotate(45deg);
    border-radius: 2px;

    &.point-1 {
      top: -7px;
      left: 30px;
    }

    &.point-2 {
      bottom: -7px;
      right: 30px;
    }
  }

  &:hover {
    @include shadow;
  }

  &.color-white {
    background-color: $white;
  }

  &.color-gray {
    background-color: $gray-100;
  }

  .card-content {
    position: relative;
  }
}
