.block-wrapper {
  _background-color: rgb(25, 25, 25);
  position: relative;

  border-radius: 4px;
  margin: 0 0.5rem;

  .block-row-wrapper {
    &:last-child {
      margin-bottom: 0;
    }
  }

  .bottom-liner {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 0;
    left: 1rem;
    right: 1rem;
  }
}
