.theme-LIGHT {
  .join-wrapper {
    > div.join-box {
      background-color: $white;
      box-shadow: 0 1px 4px 0 rgb(0 0 0 / 6%);

      .input {
        input:invalid {
          border-bottom: 1px solid $danger;
        }
      }

      @media (max-width: 640px) {
        background-color: transparent;
        box-shadow: none;

        input {
          border-bottom: none;
        }
      }
    }
  }
}
.join-wrapper {
  display: flex;
  flex-grow: 1;
  position: relative;
  flex-direction: row;
  margin: 0 auto;
  min-height: calc(100vh - 100px);
  justify-content: center;

  > div.join-box {
    align-self: center;
    padding: 2rem 4rem;
    margin-bottom: 80px;
    min-width: 600px;
    position: relative;
    border-radius: 4px;
    background-color: #000;

    @media (max-width: 640px) {
      min-width: auto;
      width: 100%;
      padding: 2rem 2rem;
      margin-bottom: 0;
      align-self: flex-start;
    }

    .join-title {
      text-align: center;
      font-size: 30px;
      font-family: Rowdies, sans-serif;
      margin-bottom: 1rem;
    }

    .label {
      margin-bottom: 0.5rem;
      font-size: 14px;
    }

    .input {
      margin-bottom: 2rem;

      input:invalid {
        border-bottom: 1px solid transparent;
      }
    }

    .button {
      margin-top: 3rem;
      text-align: center;
    }

    .login {
      margin-top: 1rem;
      text-align: center;
    }
  }
}
