.login-wrapper {
  display: flex;
  flex-grow: 1;
  position: relative;
  flex-direction: row;
  margin: 0 auto;
  min-height: calc(var(--vh, 1vh) * 100 - 100px);
  justify-content: center;
  background-color: var(--theme-color);
  padding-bottom: 120px;

  > div {
    align-self: center;

    .message {
      text-align: center;
    }

    @media (max-width: 640px) {
      width: 100%;
    }

    > div.login-box {
      align-self: center;
      padding: 2rem 4rem 3rem;
      margin-bottom: 1rem;
      margin-top: 1rem;
      min-width: 500px;
      position: relative;
      border-radius: 20px;
      box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
      border: 1px solid var(--border-light-color);

      @media (max-width: 640px) {
        box-shadow: none;
      }

      input {
        &:invalid {
          border-bottom-color: var(--input-border-color);
        }
      }

      @media (max-width: 640px) {
        background-color: transparent;
        box-shadow: none;
        min-width: auto;
        width: 100%;
        margin-bottom: 0;
        border: none;
      }

      .login-title {
        text-align: center;
        font-size: 30px;
        margin-bottom: 1rem;
        margin-top: 1rem;
        @include title();
      }

      .label {
        margin-bottom: 0.25rem;
        font-size: 12px;
        color: var(--gray-color);
      }

      .input {
        margin-bottom: 20px;
      }

      .auto-login {
        display: flex;
        margin-top: 1rem;

        > div {
          align-self: center;

          &:first-child {
            flex-grow: 1;
            text-align: right;
          }
        }
      }

      .button {
        text-align: center;
        margin-top: 0.5rem;

        @media (max-width: 640px) {
          margin-top: 1.5rem;
        }
      }
    }
  }

  .version {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.theme-DARK {
  .login-wrapper {
    > div {
      > div.login-box {
        input {
          background-color: transparent;
        }
      }
    }
  }
}
