.my-edit-page-wrapper {
  .my-info-content {
    display: flex;
    padding: 0 0.5rem;
    margin-bottom: 20px;

    @media (max-width: 768px) {
      display: block;
    }

    > div:first-child {
      text-align: center;
    }

    > div:last-child {
      flex-grow: 1;
    }
  }
}
