.testrun-edit-page-wrapper {
  .testrun-users-type-row,
  .testrun-selection-type-row,
  .testrun-range-type-row {
    > div {
      padding-bottom: 0;
      a {
        font-weight: bold;
        display: inline-block;
        align-self: center;
      }
    }
  }

  .iteration-period {
    display: flex;
    > div {
      align-self: center;
    }
  }

  .day-of-weeks {
    display: flex;
    > div {
      align-self: center;

      &.label {
        margin-right: 1rem;
      }
    }
    button:first-child {
      margin-left: 0;
    }

    button {
      background-color: var(--input-background);
      color: var(--text-color);
      &:hover {
        background-color: var(--hover-background-color);
        color: var(--text-color);
      }
    }

    button.selected {
      background-color: var(--primary-color);
      color: var(--primary-text-color);
    }

    .holiday-button {
      margin-left: 0;
    }
  }

  ul.testrun-users {
    list-style: none;
    padding: 0;
    margin: 0 0 -1rem 0;

    > li {
      display: inline-flex;
      margin-right: 1rem;
      border-radius: 20px;
      border: 1px solid var(--border-color);
      background-color: var(--lighter-color);
      box-shadow: 0 1px 4px 0 rgb(0 0 0 / 6%);
      margin-bottom: 1rem;
      font-size: 14px;
      > div {
        align-self: center;
        &:first-child {
          padding: 0.5rem 0.25rem 0.5rem 1rem;
        }
        &:last-child {
          padding: 0 0.5rem 0 0;

          svg {
            &:hover {
              fill: var(--danger-color);
            }
          }
        }
      }
    }
  }

  .no-user {
    background-color: var(--lighter-color);
    border-radius: 8px;
    padding: 0.75rem;
  }

  .summary-list {
    width: 100%;
    margin: 0;
    > table {
      margin-top: 0;

      tbody {
        td {
          border-bottom: 1px solid var(--border-light-color);
        }
      }
    }
  }
}
