.testrun-list-page-wrapper {
  display: flex;

  .content {
    flex-grow: 1;
    display: flex;
  }

  .no-project {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    > div {
      align-self: center;
      text-align: center;

      > div {
        &:last-child {
          margin-top: 2rem;
        }
      }
    }
  }

  ul.testrun-list {
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
      margin-bottom: 1rem;

      .testrun-card {
        padding: 1rem;
      }
    }
  }
}
