.testrun-info-page-wrapper {
  .testrun-range {
    display: flex;
  }

  .profile-list {
    display: inline-flex;
    margin-right: 10px;
    ul {
      align-self: center;
      list-style: none;
      padding: 0;
      margin: 0;
      > li {
        display: inline-flex;
        > div {
          align-self: center;

          .badge {
            margin-left: 0.5rem;
            width: 20px;
            height: 20px;
            border: 1px solid var(--border-color);
            background-color: var(--lighter-color);
            display: inline-flex;
            justify-content: center;
            border-radius: 50%;
            color: var(--black-color);
            font-size: 12px;
            font-weight: bold;
            margin-right: 4px;

            > span {
              align-self: center;
              line-height: 100%;
              font-family: Cairo, sans-serif;
              font-weight: bold;
            }
          }
        }
      }
    }
  }

  .day-of-weeks {
    display: flex;
    > div {
      align-self: center;

      &.label {
        margin-right: 1rem;
      }
    }
    button:first-child {
      margin-left: 0;
    }

    .day {
      display: inline-flex;
      width: $md-height;
      height: $md-height;
      border: 1px solid var(--border-color);
      border-radius: 50%;
      margin-left: 0.5rem;
      align-self: center;
      justify-content: center;

      > span {
        align-self: center;
      }

      &:first-child {
        margin-left: 0;
      }
    }

    .holiday-button {
      margin-left: 0;
    }
  }

  .iteration-period {
    display: flex;
    > div {
      align-self: center;
    }
  }

  .tester {
    margin-right: 0.5rem;
    border-radius: 8px;
  }

  .group-info {
    border-right: 1px solid var(--border-color);
  }

  .testrun-testcases-content {
    padding: 0 1rem;
    max-width: 100%;
    overflow-y: auto;

    @media (max-width: 768px) {
      padding: 0;
    }

    .seq-name {
      display: flex;
      .seq-id {
        margin-right: 8px;
      }
      > div {
        align-self: center;
      }
    }

    .FAILED {
      background-color: var(--danger-color);
      color: var(--white-color);
    }

    .PASSED {
      background-color: var(--success-color);
      color: var(--white-color);
    }

    .UNTESTABLE {
      background-color: var(--gray-color);
      color: var(--white-color);
    }

    .UNTESTED {
      background-color: var(--dark-gray-color);
      color: var(--white-color);
    }
  }

  .no-user {
    background-color: var(--lighter-color);
    border-radius: 8px;
    padding: 0.75rem;
  }

  .testrun-hooks-content {
    padding: 0 1rem;
    overflow-x: auto;
  }

  .result-link {
    text-decoration: underline;
  }

  .message-channels {
    list-style: disc;
    padding: 0;
    margin: 0;
    > li {
      display: flex;
      gap: 10px;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
      > div {
        align-self: center;
      }
    }
  }
}
