.radio-wrapper {
  position: relative;
  vertical-align: middle;
  align-self: center;
  justify-content: center;
  padding: 0;
  display: inline-flex;

  &.type-default {
    ~ .radio-wrapper {
      margin-left: 0.5rem;
    }
  }

  &.type-inline {
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding-left: 1rem;
    padding-right: 1rem;
    border-right: none;
    background-color: #202020;
    color: $gray-400;

    &.active {
      &:hover {
        background-color: darken($color-sunflower, 10%);
        color: $black;
      }
    }

    &.checked {
      background-color: $color-sunflower;
      color: $black;
      font-weight: bold;

      &:hover {
        color: $black;
        background-color: $color-sunflower;
      }
    }

    &:first-child {
      border-radius: 4px 0 0 4px;
    }

    &:last-child {
      border-right: 1px solid rgba(0, 0, 0, 0.4);
      border-radius: 0 4px 4px 0;
    }

    input[type='radio'] {
      display: none;
    }
  }

  label {
    margin: 0;
    vertical-align: middle;
    align-self: center;
    justify-content: center;

    display: inline-block;
    line-height: 100%;
  }

  input[type='radio'] {
    align-self: center;
    appearance: none;
    border: 4px solid $gray-600;
    border-radius: 50%;
    width: 1.25em;
    height: 1.25em;
    margin: 0 0.5rem 0 0;
  }

  input[type='radio']:checked {
    border: 4px solid $color-sunflower;
  }

  &.active {
    cursor: pointer;

    label {
      cursor: pointer;
    }

    input[type='radio'] {
      cursor: pointer;
    }

    &:hover {
      input[type='radio'] {
        border: 4px solid $gray-500;
      }

      input[type='radio']:checked {
        border: 4px solid $color-sunflower;
      }
    }
  }

  .check-box-span {
    border: 1px solid $gray-600;
    display: inline-block;
    vertical-align: middle;
    align-self: center;
    justify-content: center;
    margin-right: 8px;
    transition: all 0.3s;
    cursor: pointer;
    border-radius: 2px;

    > span {
      display: inline-block;
      width: 100%;
      height: 100%;
      transition: all 0.3s;
      border-radius: 2px;
    }
    line-height: 0;
    padding: 2px;

    &.checked {
      > span {
        background-color: $yellow;
        transition: all 0.3s;
        border: 1px solid rgba(0, 0, 0, 0.4);
      }
    }
  }

  &.lg {
    height: $lg-height;
    label {
      font-size: 16px;
    }

    .check-box-span {
      width: 28px;
      height: 28px;
    }
  }

  &.md {
    height: $md-height;

    label {
      font-size: 16px;
    }

    .check-box-span {
      width: 24px;
      height: 24px;
    }
  }

  &.sm {
    height: $sm-height;
    line-height: 0;
    label {
      font-size: 14px;
    }

    .check-box-span {
      width: 20px;
      height: 20px;
    }
  }

  &:hover {
    .check-box-span {
      border-color: $yellow;
      transition: all 0.3s;
    }
  }
}
