.radio-wrapper {
  position: relative;
  vertical-align: middle;
  align-self: center;
  justify-content: center;
  padding: 0;
  display: inline-flex;

  label {
    margin: 0;
    vertical-align: middle;
    align-self: center;
    justify-content: center;
    display: inline-block;
    line-height: 100%;
    font-weight: lighter;
  }

  input[type='radio'] {
    align-self: center;
    appearance: none;
    border-radius: 50%;
    width: 1.25em;
    height: 1.25em;
    margin: 0 0.5rem 0 0;
  }

  &.active {
    cursor: pointer;

    label {
      cursor: pointer;
    }

    input[type='radio'] {
      cursor: pointer;
    }

    &:hover {
      input[type='radio'] {
        border: 4px solid $gray-500;
      }

      input[type='radio']:checked {
        border: 4px solid $color-primary-light;
      }
    }
  }

  &.lg {
    height: $lg-height;
    label {
      font-size: 16px;
    }
  }

  &.md {
    height: $md-height;

    label {
      font-size: 16px;
    }
  }

  &.sm {
    height: $sm-height;
    line-height: 0;
    label {
      font-size: 14px;
    }
  }

  &.xs {
    height: $xs-height;
    line-height: 0;
    label {
      font-size: 12px;
    }
  }

  &.type-default {
    ~ .radio-wrapper {
      margin-left: 0.5rem;
    }
  }

  > div.border {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  > div.radio-content {
    display: flex;
    z-index: 2;
    position: relative;
    > label {
      align-self: center;
      line-height: 160%;
    }
  }

  &.type-inline {
    padding-left: 1rem;
    padding-right: 1rem;
    border: none;
    background-color: $white;
    color: $black;

    > div.border {
      border : 1px solid $color-border-light;
    }

    &:nth-child(1) {
      > .border {
        border-radius: 4px 0 0 4px;
      }
    }

    &:last-child {
      > .border {
        border-radius: 0 4px 4px 0;
      }
    }

    &:nth-child(2) {
      left: -1px;
    }
    &:nth-child(3) {
      left: -2px;
    }
    &:nth-child(4) {
      left: -3px;
    }
    &:nth-child(5) {
      left: -4px;
    }
    &:nth-child(6) {
      left: -5px;
    }

    &.lg {
    }

    &.md {
    }

    &.sm {
    }

    &.xs {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }

    &.active {
      &:hover {
        color: $white;
        font-weight: bold;
        .border {
          background-color: darken($color-primary-light, 4%);
          border-color: rgba(0, 0, 0, 0.3);

          z-index: 4;
        }

        .radio-content {
          z-index: 5;
        }
      }
    }

    &.checked {
      color: $white;
      font-weight: bold;
      .border {
        background-color: $color-primary-light;
        border-color: rgba(0, 0, 0, 0.3);
        z-index: 3;
      }

      .radio-content {
        z-index: 4;
      }
    }

    input[type='radio'] {
      display: none;
    }
  }

  &.type-line {
    border: none;
    padding: 0 1rem;
    background-color: transparent;
    color: $gray-600;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      height: 2px;
      width: 100%;
      bottom: -2px;
      left: 0;
      background-color: $gray-500;
      right: 0;
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
    }

    &.lg {
    }

    &.md {
    }

    &.sm {
      padding-left: 0.75rem;
      padding-right: 0.75rem;
    }

    &.xs {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }

    &.active {
      &:hover {
        label {
          color: $gray-800;
        }
        &::after {
          background-color: $gray-800;
        }
      }
    }

    &.checked {
      font-weight: bold;
      label {
        color: $color-primary-light;
      }

      &::after {
        background-color: $color-primary-light;
      }

      &:hover {
        color: $color-primary-light;
        label {
          color: $color-primary-light;
        }
        &::after {
          background-color: $color-primary-light;
        }
      }
    }

    input[type='radio'] {
      display: none;
    }
  }

  &.type-default {
    input[type='radio'] {
      align-self: center;
      appearance: none;
      border: 4px solid $gray-600;
      border-radius: 50%;
      width: 1.25em;
      height: 1.25em;
      margin: 0 0.5rem 0 0;
    }

    input[type='radio']:checked {
      border: 4px solid $color-primary-light;
    }

    &.active {
      &:hover {
        input[type='radio'] {
          border: 4px solid $gray-700;
        }

        input[type='radio']:checked {
          border: 4px solid $color-primary-light;
        }
      }
    }
  }
}

.theme-DARK {
  .radio-wrapper {
    &.active {
      cursor: pointer;

      label {
        cursor: pointer;
      }

      input[type='radio'] {
        cursor: pointer;
      }

      &:hover {
        input[type='radio'] {
          border: 4px solid $gray-500;
        }

        input[type='radio']:checked {
          border: 4px solid $color-primary-light;
        }
      }
    }

    &.type-inline {
      background-color: #121212;
      color: $white;

      > div.border {
        border: 1px solid #494c56;
      }

      &.active {
        &:hover {
          color: $black;
          .border {
            background-color: darken($color-primary-dark, 4%);
          }
        }
      }

      &.checked {
        color: $black;
        .border {
          background-color: $color-primary-dark;
          border: 1px solid #494c56;
        }
      }
    }

    &.type-line {
      color: $gray-400;

      &::after {
        background-color: $gray-400;
      }

      &.active {
        &:hover {
          label {
            color: $gray-200;
          }
          &::after {
            background-color: $gray-200;
          }
        }
      }

      &.checked {
        label {
          color: $color-primary-dark;
        }

        &::after {
          background-color: $color-primary-dark;
        }

        &:hover {
          color: $color-primary-dark;
          label {
            color: $color-primary-dark;
          }
          &::after {
            background-color: $color-primary-dark;
          }
        }
      }
    }

    &.type-default {
      input[type='radio'] {
        border: 4px solid $gray-300;
      }

      input[type='radio']:checked {
        border: 4px solid $color-primary-dark;
      }

      &.active {
        &:hover {
          input[type='radio'] {
            border: 4px solid $white;
          }

          input[type='radio']:checked {
            border: 4px solid $color-primary-dark;
          }
        }
      }
    }
  }
}
