.check-box-wrapper {
  position: relative;
  vertical-align: middle;
  align-self: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  display: inline-flex;

  label {
    margin-left: 0.5rem;
    vertical-align: middle;
    align-self: center;
    justify-content: center;
    transition: all 0.3s;
    display: inline-block;
    font-family: NotoSans, sans-serif;
    line-height: 100%;
    cursor: pointer;
  }

  &.disabled {
    opacity: 0.6;
    cursor: not-allowed;

    > label {
      cursor: not-allowed;
    }
  }

  .checked-icon {
    align-self: center;
    color: $gray-400;
    border: 1px solid $color-border-light;
    padding: 3px;
    line-height: 100%;
    border-radius: 2px;
    background-color: $white;
    height: 100%;
    display: inline-flex;
    > span {
      align-self: center;
    }
  }

  &.checked {
    .checked-icon {
      display: inline-flex;
      justify-content: center;
      border-radius: 2px;
      color: $color-primary-light;
      border: 1px solid $color-border-light-focus;
      background-color: $white;
    }
  }

  &.lg {
    height: $lg-height;
    label {
      font-size: 16px;
    }

    .checked-icon {
      font-size: 20px;
      width: $lg-height;
      min-width: $lg-height;
      height: $lg-height;
    }
  }

  &.md {
    height: $md-height;

    label {
      font-size: 16px;
    }

    .checked-icon {
      font-size: 18px;
      width: $md-height;
      min-width: $md-height;
      height: $md-height;
    }
  }

  &.sm {
    height: $sm-height;
    line-height: 0;
    label {
      font-size: 14px;
    }

    .checked-icon {
      width: $sm-height;
      min-width: $sm-height;
      height: $sm-height;
      font-size: 16px;
    }
  }

  &.xs {
    height: $xs-height;
    line-height: 0;
    label {
      font-size: 14px;
    }

    .checked-icon {
      width: $xs-height;
      min-width: $xs-height;
      height: $xs-height;
      font-size: 14px;
    }
  }

  &.active:hover {
    .checked-icon {
      border-color: $color-border-light-focus;
      transition: all 0.3s;
    }
  }
}

.theme-DARK {
  .check-box-wrapper {
    .checked-icon {
      background-color: #121212;
      border: 1px solid #494c56;
    }

    &.checked {
      .checked-icon {
        color: $color-primary-dark;
      }
    }
  }
}
