.app-wrapper {
  .tried-content {
    position: relative;
    z-index: 1;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    > div {
      background-color: var(--theme-color);
      width: 400px;
      height: 300px;
      align-self: center;
      border-radius: 10px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;

      @media (max-width: 640px) {
        width: 100%;
      }

      .logo {
        font-size: 28px;
        font-family: Rowdies, sans-serif;
        height: 100%;
        justify-content: center;
        display: flex;

        .logo-icon {
          margin-right: 0.5rem;
          line-height: 0;
        }

        > div {
          display: flex;
          height: 100%;

          > div {
            align-self: center;
          }
        }
      }

      .network-error {
        position: absolute;
        font-size: 14px;
        bottom: 0;
        left: 0;
        right: 0;
        margin-bottom: 1rem;
        > div:first-child {
          margin-bottom: 1rem;
        }
      }
    }
  }
  .app-content {
    position: relative;
    z-index: 1;
    min-height: 100vh;

    .main-content {
    }
  }
}
