.app-wrapper {
  .tried-content {
    position: relative;
    z-index: 1;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    > div {
      background-color: var(--theme-color);
      width: 400px;
      height: 300px;
      align-self: center;
      border-radius: 10px;
      text-align: center;
      display: flex;
      justify-content: center;

      @media (max-width: 640px) {
        width: 100%;
      }

      .logo {
        font-size: 28px;
        font-family: Rowdies, sans-serif;
        height: 100%;

        .logo-icon {
          margin-right: 0.5rem;
        }

        > div {
          display: flex;
          height: 100%;

          &:hover {
            color: var(--primary-color);
            cursor: pointer;
          }

          > div {
            align-self: center;
          }
        }
      }
    }
  }
  .app-content {
    position: relative;
    z-index: 1;
    min-height: 100vh;

    .main-content {
      > .bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        min-height: 100vh;

        @media (max-width: 640px) {
          display: none !important;
        }

        > .star {
          position: absolute;
          _transition: all 10s;
          animation-iteration-count: infinite;
          fill: var(--start-background-color);

          > svg {
            width: 100%;
            height: 100%;
          }
        }

        > .star-1 {
          top: -30%;
          left: -20%;
          width: 1200px;
          height: 1200px;
          animation: rotate-0 480s linear;
          opacity: var(--start-opacity);
        }

        > .star-2 {
          bottom: 0;
          right: 0;
          width: 1600px;
          height: 1600px;
          animation: rotate-30 480s linear;
          opacity: var(--start-opacity);
        }
      }
    }
  }
}
