@import '../node_modules/@fortawesome/fontawesome-free/css/all.min.css';

@font-face {
  font-family: 'PatrickHand';
  src: url('./fonts/PatrickHand/PatrickHandSC-Regular.ttf') format('woff'), url('./fonts/PatrickHand/PatrickHandSC-Regular.ttf') format('woff2');
}

@font-face {
  font-family: 'RubikWetPaint';
  src: url('./fonts/RubikWetPaint/RubikWetPaint-Regular.ttf') format('woff'), url('./fonts/RubikWetPaint/RubikWetPaint-Regular.ttf') format('woff2');
}

@font-face {
  font-family: 'Rowdies';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/Rowdies/Rowdies-Light.ttf') format('woff'), url('./fonts/Rowdies/Rowdies-Light.ttf') format('woff2');
}

@font-face {
  font-family: 'Rowdies';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Rowdies/Rowdies-Regular.ttf') format('woff'), url('./fonts/Rowdies/Rowdies-Regular.ttf') format('woff2');
}

@font-face {
  font-family: 'Rowdies';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/Rowdies/Rowdies-Bold.ttf') format('woff'), url('./fonts/Rowdies/Rowdies-Bold.ttf') format('woff2');
}

@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/NanumGothic/NanumGothic-Regular.ttf') format('woff'), url('./fonts/NanumGothic/NanumGothic-Regular.ttf') format('woff2');
}

@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/NanumGothic/NanumGothic-Bold.ttf') format('woff'), url('./fonts/NanumGothic/NanumGothic-Bold.ttf') format('woff2');
}

@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 300;
  src: local('Noto Sans Light'), local('NotoSans-Light');
  src: url(./fonts/NotoSans/NotoSans-Light.eot);
  src: url(./fonts/NotoSans/NotoSans-Light.eot?#iefix) format('embedded-opentype'), url(./fonts/NotoSans/NotoSans-Light.woff) format('woff'),
    url(./fonts/NotoSans/NotoSans-Light.otf) format('opentype');
}
@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans Regular'), local('NotoSans-Regular');
  src: url(./fonts/NotoSans/NotoSans-Regular.eot);
  src: url(./fonts/NotoSans/NotoSans-Regular.eot?#iefix) format('embedded-opentype'), url(./fonts/NotoSans/NotoSans-Regular.woff) format('woff'),
    url(./fonts/NotoSans/NotoSans-Regular.otf) format('opentype');
}
@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 500;
  src: local('Noto Sans Medium'), local('NotoSans-Medium');
  src: url(./fonts/NotoSans/NotoSans-Medium.eot);
  src: url(./fonts/NotoSans/NotoSans-Medium.eot?#iefix) format('embedded-opentype'), url(./fonts/NotoSans/NotoSans-Medium.woff) format('woff'),
    url(./fonts/NotoSans/NotoSans-Medium.otf) format('opentype');
}
@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans Bold'), local('NotoSans-Bold');
  src: url(./fonts/NotoSans/NotoSans-Bold.eot);
  src: url(./fonts/NotoSans/NotoSans-Bold.eot?#iefix) format('embedded-opentype'), url(./fonts/NotoSans/NotoSans-Bold.woff) format('woff'), url(./fonts/NotoSans/NotoSans-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/Cairo/Cairo-Light.ttf') format('woff'), url('./fonts/Cairo/Cairo-Light.ttf') format('woff2');
}

@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Cairo/Cairo-Medium.ttf') format('woff'), url('./fonts/Cairo/Cairo-Medium.ttf') format('woff2');
}

@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/Cairo/Cairo-Bold.ttf') format('woff'), url('./fonts/Cairo/Cairo-Bold.ttf') format('woff2');
}

html {
  &.theme-white {
    background-color: $gray-100;
    color: $black;
    transition: background-color 0.3s, color 0.3s;
  }

  &.theme-black {
    background-color: #060606;
    color: $white;
    transition: background-color 0.3s, color 0.3s;
  }
}

body {
  margin: 0;
  font-size: 16px;
  font-family: 'NanumGothic', 'NotoSans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.page-moving {
    overflow: hidden;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input,
textarea {
  font-family: 'NanumGothic', 'NotoSans', sans-serif;
  font-weight: lighter;
}

button {
  font-family: 'NotoSans', sans-serif;
}

a {
  color: $color-azure;
  text-decoration: none;

  &:hover {
    color: darken($color-azure, 10%);
  }
}

* {
  box-sizing: border-box;
}

.g-clickable {
  cursor: pointer;
}

@keyframes drop {
  0% {
    top: -40px;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes rotate-animation {
  0% {
    transform: rotate(0);
    opacity: 0;
  }

  100% {
    transform: rotate(720deg);
    opacity: 1;
  }
}

@keyframes fade-in-animation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

hr {
  width: 100%;
  height: 1px;
  border: none;
  background-color: #2e2e2e;
}
