@import '../node_modules/@fortawesome/fontawesome-free/css/all.min.css';

@font-face {
  font-family: 'PatrickHand';
  src: url('./fonts/PatrickHand/PatrickHandSC-Regular.ttf') format('woff'), url('./fonts/PatrickHand/PatrickHandSC-Regular.ttf') format('woff2');
}

@font-face {
  font-family: 'RubikWetPaint';
  src: url('./fonts/RubikWetPaint/RubikWetPaint-Regular.ttf') format('woff'), url('./fonts/RubikWetPaint/RubikWetPaint-Regular.ttf') format('woff2');
}

@font-face {
  font-family: 'Rowdies';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/Rowdies/Rowdies-Light.ttf') format('woff'), url('./fonts/Rowdies/Rowdies-Light.ttf') format('woff2');
}

@font-face {
  font-family: 'Rowdies';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Rowdies/Rowdies-Regular.ttf') format('woff'), url('./fonts/Rowdies/Rowdies-Regular.ttf') format('woff2');
}

@font-face {
  font-family: 'Rowdies';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/Rowdies/Rowdies-Bold.ttf') format('woff'), url('./fonts/Rowdies/Rowdies-Bold.ttf') format('woff2');
}

@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/NanumGothic/NanumGothic-Regular.ttf') format('woff'), url('./fonts/NanumGothic/NanumGothic-Regular.ttf') format('woff2');
}

@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/NanumGothic/NanumGothic-Bold.ttf') format('woff'), url('./fonts/NanumGothic/NanumGothic-Bold.ttf') format('woff2');
}

@font-face {
  font-family: 'AzeretMono';
  font-style: normal;
  src: url('./fonts/Azeret_Mono/AzeretMono-Regular.ttf') format('woff'), url('./fonts/Azeret_Mono/AzeretMono-Regular.ttf') format('woff2');
}

@font-face {
  font-family: 'SpaceMono';
  font-style: normal;
  src: url('./fonts/Space_Mono/SpaceMono-Regular.ttf') format('woff'), url('./fonts/Space_Mono/SpaceMono-Regular.ttf') format('woff2');
}

@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 300;
  src: local('Noto Sans Light'), local('NotoSans-Light');
  src: url(./fonts/NotoSans/NotoSans-Light.eot);
  src: url(./fonts/NotoSans/NotoSans-Light.eot?#iefix) format('embedded-opentype'), url(./fonts/NotoSans/NotoSans-Light.woff) format('woff'),
    url(./fonts/NotoSans/NotoSans-Light.otf) format('opentype');
}
@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans Regular'), local('NotoSans-Regular');
  src: url(./fonts/NotoSans/NotoSans-Regular.eot);
  src: url(./fonts/NotoSans/NotoSans-Regular.eot?#iefix) format('embedded-opentype'), url(./fonts/NotoSans/NotoSans-Regular.woff) format('woff'),
    url(./fonts/NotoSans/NotoSans-Regular.otf) format('opentype');
}
@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 500;
  src: local('Noto Sans Medium'), local('NotoSans-Medium');
  src: url(./fonts/NotoSans/NotoSans-Medium.eot);
  src: url(./fonts/NotoSans/NotoSans-Medium.eot?#iefix) format('embedded-opentype'), url(./fonts/NotoSans/NotoSans-Medium.woff) format('woff'),
    url(./fonts/NotoSans/NotoSans-Medium.otf) format('opentype');
}
@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans Bold'), local('NotoSans-Bold');
  src: url(./fonts/NotoSans/NotoSans-Bold.eot);
  src: url(./fonts/NotoSans/NotoSans-Bold.eot?#iefix) format('embedded-opentype'), url(./fonts/NotoSans/NotoSans-Bold.woff) format('woff'), url(./fonts/NotoSans/NotoSans-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/Cairo/Cairo-Light.ttf') format('woff'), url('./fonts/Cairo/Cairo-Light.ttf') format('woff2');
}

@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Cairo/Cairo-Medium.ttf') format('woff'), url('./fonts/Cairo/Cairo-Medium.ttf') format('woff2');
}

@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/Cairo/Cairo-Bold.ttf') format('woff'), url('./fonts/Cairo/Cairo-Bold.ttf') format('woff2');
}

html {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;

  &.theme-LIGHT {
    @media (max-width: 640px) {
      background-color: $white;
    }
  }

  &.theme-DARK {
    @media (max-width: 640px) {
      background-color: var(--background-color);
    }
  }
}

body {
  margin: 0;
  font-size: 16px;
  font-family: 'NotoSans', 'NanumGothic', sans-serif;
  line-height: 120%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.page-moving {
    overflow: hidden;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input,
textarea {
  font-family: 'NotoSans', 'NanumGothic', sans-serif;
  font-weight: lighter;
}

button {
  font-family: 'NotoSans', sans-serif;
}

a {
  color: var(--primary-color);
  text-decoration: none;

  &:hover {
    color: var(--primary-hover-color);
  }
}

* {
  box-sizing: border-box;
}

.g-clickable {
  cursor: pointer;
}

@keyframes drop {
  0% {
    top: -40px;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes rotate-animation {
  0% {
    transform: rotate(0);
    opacity: 0;
  }

  100% {
    transform: rotate(720deg);
    opacity: 1;
  }
}

@keyframes rotate-0 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(720deg);
  }
}

@keyframes rotate-30 {
  0% {
    transform: rotate(30deg);
  }

  100% {
    transform: rotate(750deg);
  }
}

@keyframes fade-in-animation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translate(0, 10px);
  }

  10% {
    transform: translate(0, 0);
    opacity: 1;
  }

  80% {
    transform: translate(0, 0);
    opacity: 1;
  }

  100% {
    transform: translate(0, 10px);
    opacity: 0;
  }
}

hr {
  width: 100%;
  height: 1px;
  border: none;
  background-color: #2e2e2e;
}

.g-empty-message {
  height: 100%;
  display: flex;
  flex-grow: 1;
  > div {
    width: 100%;
    text-align: center;
    align-self: center;

    .icon {
      font-size: 50px;
      margin-bottom: 1rem;
    }
  }
}

.g-no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background-color: $gray-300;
}
::-webkit-scrollbar-thumb {
  background-color: $gray-500;
}

.theme-DARK {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  ::-webkit-scrollbar-track {
    background-color: $gray-900;
  }
  ::-webkit-scrollbar-thumb {
    background-color: $gray-500;
    border-radius: 6px;
  }
}

.scrollbar-sm {
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 0;
  }
}

.toastui-editor-defaultUI .ProseMirror {
  padding: 8px;
}

.toastui-editor-contents {
  font-size: 16px;
}

.toastui-editor-defaultUI-toolbar {
  padding: 0;
}

.toastui-editor-defaultUI .ProseMirror {
  padding: 16px;
  font-family: NotoSans, sans-serif;
}

.toastui-editor-mode-switch {
  .tab-item {
    margin-top: 0;
    border: none;
    background-color: transparent;
    font-family: NotoSans, sans-serif;
    text-transform: uppercase;
    border-radius: 0;
    border-bottom: 2px solid transparent;
    height: 100%;

    &:hover {
      color: black;
      border-bottom: 2px solid lighten($color-primary-light, 10%);
    }

    &.active {
      border-bottom: 2px solid $color-primary-light;
    }
  }
}
