@import '../node_modules/@fortawesome/fontawesome-free/css/all.min.css';

@font-face {
  font-family: 'PatrickHand';
  src: url('./fonts/PatrickHand/PatrickHandSC-Regular.ttf') format('woff'), url('./fonts/PatrickHand/PatrickHandSC-Regular.ttf') format('woff2');
}

@font-face {
  font-family: 'RubikWetPaint';
  src: url('./fonts/RubikWetPaint/RubikWetPaint-Regular.ttf') format('woff'), url('./fonts/RubikWetPaint/RubikWetPaint-Regular.ttf') format('woff2');
}

@font-face {
  font-family: 'Rowdies';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/Rowdies/Rowdies-Light.ttf') format('woff'), url('./fonts/Rowdies/Rowdies-Light.ttf') format('woff2');
}

@font-face {
  font-family: 'Rowdies';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Rowdies/Rowdies-Regular.ttf') format('woff'), url('./fonts/Rowdies/Rowdies-Regular.ttf') format('woff2');
}

@font-face {
  font-family: 'Rowdies';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/Rowdies/Rowdies-Bold.ttf') format('woff'), url('./fonts/Rowdies/Rowdies-Bold.ttf') format('woff2');
}

@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/NanumGothic/NanumGothic-Regular.ttf') format('woff'), url('./fonts/NanumGothic/NanumGothic-Regular.ttf') format('woff2');
}

@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/NanumGothic/NanumGothic-Bold.ttf') format('woff'), url('./fonts/NanumGothic/NanumGothic-Bold.ttf') format('woff2');
}

@font-face {
  font-family: 'AzeretMono';
  font-style: normal;
  src: url('./fonts/Azeret_Mono/AzeretMono-Regular.ttf') format('woff'), url('./fonts/Azeret_Mono/AzeretMono-Regular.ttf') format('woff2');
}

@font-face {
  font-family: 'SpaceMono';
  font-style: normal;
  src: url('./fonts/Space_Mono/SpaceMono-Regular.ttf') format('woff'), url('./fonts/Space_Mono/SpaceMono-Regular.ttf') format('woff2');
}

@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 300;
  src: local('Noto Sans Light'), local('NotoSans-Light');
  src: url(./fonts/NotoSans/NotoSans-Light.eot);
  src: url(./fonts/NotoSans/NotoSans-Light.eot?#iefix) format('embedded-opentype'), url(./fonts/NotoSans/NotoSans-Light.woff) format('woff'),
    url(./fonts/NotoSans/NotoSans-Light.otf) format('opentype');
}
@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans Regular'), local('NotoSans-Regular');
  src: url(./fonts/NotoSans/NotoSans-Regular.eot);
  src: url(./fonts/NotoSans/NotoSans-Regular.eot?#iefix) format('embedded-opentype'), url(./fonts/NotoSans/NotoSans-Regular.woff) format('woff'),
    url(./fonts/NotoSans/NotoSans-Regular.otf) format('opentype');
}
@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 500;
  src: local('Noto Sans Medium'), local('NotoSans-Medium');
  src: url(./fonts/NotoSans/NotoSans-Medium.eot);
  src: url(./fonts/NotoSans/NotoSans-Medium.eot?#iefix) format('embedded-opentype'), url(./fonts/NotoSans/NotoSans-Medium.woff) format('woff'),
    url(./fonts/NotoSans/NotoSans-Medium.otf) format('opentype');
}
@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans Bold'), local('NotoSans-Bold');
  src: url(./fonts/NotoSans/NotoSans-Bold.eot);
  src: url(./fonts/NotoSans/NotoSans-Bold.eot?#iefix) format('embedded-opentype'), url(./fonts/NotoSans/NotoSans-Bold.woff) format('woff'), url(./fonts/NotoSans/NotoSans-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/Cairo/Cairo-Light.ttf') format('woff'), url('./fonts/Cairo/Cairo-Light.ttf') format('woff2');
}

@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Cairo/Cairo-Medium.ttf') format('woff'), url('./fonts/Cairo/Cairo-Medium.ttf') format('woff2');
}

@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/Cairo/Cairo-Bold.ttf') format('woff'), url('./fonts/Cairo/Cairo-Bold.ttf') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-style: normal;
  src: url('./fonts/Pretendard/Pretendard-Regular.woff') format('woff');
}

@font-face {
  font-family: 'SUITE';
  src: url('./fonts/SUITE/SUITE-Regular.woff2') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OAGothic';
  src: url('./fonts/OAGothic/OAGothic-ExtraBold.woff2') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareNeo';
  src: url('./fonts/NanumSquareNeo/NanumSquareNeo-Variable.woff2') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'LINESeed';
  src: url('./fonts/LINESeed/LINESeedKR-Bd.woff2') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MICEGothic';
  src: url('./fonts/MICEGothic/MICEGothicBold.woff2') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('./fonts/Quicksand/Quicksand-VariableFont_wght.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'MartianMono';
  src: url('./fonts/MartianMono/MartianMono.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexMono';
  src: url('./fonts/IBMPlexMono/IBMPlexMono-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexMono';
  src: url('./fonts/IBMPlexMono/IBMPlexMono-Light.ttf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexMono';
  src: url('./fonts/IBMPlexMono/IBMPlexMono-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

html {
  background-color: var(--theme-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

body {
  margin: 0;
  font-size: 14px;
  font-family: 'NanumSquareNeo', 'NotoSans', 'NanumGothic', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.side-bar-ready {
    padding-left: 220px;
  }

  &.collapsed {
    padding-left: 70px;
  }

  &.page-moving {
    overflow: hidden;
  }

  &.stop-scroll {
    overflow: hidden;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input,
textarea {
  font-family: 'NanumSquareNeo', 'NanumGothic', sans-serif;
  font-weight: lighter;
}

button {
  font-family: 'Pretendard', 'NanumSquareNeo', 'NanumGothic', sans-serif;
}

a {
  color: var(--link-color);
  text-decoration: none;

  &:hover {
    color: var(--link-hover-color);
  }

  &:visited {
    color: var(--link-color);
  }
}

* {
  box-sizing: border-box;
}

.g-clickable {
  cursor: pointer;
}

@keyframes drop {
  0% {
    top: -40px;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes rotate-animation {
  0% {
    transform: rotate(0);
    opacity: 0;
  }

  100% {
    transform: rotate(720deg);
    opacity: 1;
  }
}

@keyframes rotate-0 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(720deg);
  }
}

@keyframes rotate-30 {
  0% {
    transform: rotate(30deg);
  }

  100% {
    transform: rotate(750deg);
  }
}

@keyframes fade-in-animation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translate(0, 10px);
  }

  10% {
    transform: translate(0, 0);
    opacity: 1;
  }

  80% {
    transform: translate(0, 0);
    opacity: 1;
  }

  100% {
    transform: translate(0, 10px);
    opacity: 0;
  }
}

hr {
  width: 100%;
  height: 1px;
  border: none;
  background-color: #2e2e2e;
}

.g-empty-message {
  height: 100%;
  display: flex;
  flex-grow: 1;
  > div {
    width: 100%;
    text-align: center;
    align-self: center;

    .icon {
      font-size: 50px;
      margin-bottom: 1rem;
    }
  }
}

.g-no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background-color: $gray-300;
}
::-webkit-scrollbar-thumb {
  background-color: $gray-500;
}

.theme-DARK {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  ::-webkit-scrollbar-track {
    background-color: $gray-900;
  }
  ::-webkit-scrollbar-thumb {
    background-color: $gray-500;
    border-radius: 6px;
  }
}

.scrollbar-sm {
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 0;
  }
}

.toastui-editor-defaultUI .ProseMirror {
  padding: 8px;
}

.toastui-editor-defaultUI-toolbar {
  padding: 0;
}

.toastui-editor-defaultUI .ProseMirror {
  padding: 14px;
  font-family: NotoSans, sans-serif;
}

.toastui-editor-mode-switch {
  .tab-item {
    margin-top: 0;
    border: none;
    background-color: transparent;
    font-family: NotoSans, sans-serif;
    text-transform: uppercase;
    border-radius: 0;
    border-bottom: 2px solid transparent;
    height: 100%;

    &:hover {
      color: black;
      border-bottom: 2px solid lighten($color-primary-light, 10%);
    }

    &.active {
      border-bottom: 2px solid $color-primary-light;
    }
  }
}

.toastui-editor-defaultUI {
  border-radius: 2px;
}

.toastui-editor-contents {
  font-family: NotoSans, sans-serif !important;
  font-size: 14px;

  h1:first-of-type {
    margin-top: 14px;
  }

  ul,
  ol {
    padding-left: 16px;
  }

  ul > li::before {
    margin-top: 8px;
  }

  ul:last-child {
    margin-bottom: 0;
  }

  ul:first-child {
    margin-top: 0;
  }
}

.toastui-editor-variable {
  background-color: var(--light-color);
  display: inline-block;
  border-radius: 10px;
  padding: 1px 4px;
  font-size: 12px;
  border: 1px solid var(--border-color);
}

.toastui-editor-variable-list-popup {
  z-index: 100;
  background-color: var(--theme-color);
  margin-top: 4px;
  max-height: calc(30px * 6);
  overflow-y: auto;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.05);
  color: var(--text-color);
  border: 1px solid var(--border-color-hover);
  left: 0;

  .empty {
    font-weight: normal;
    padding: 10px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    border-radius: 2px;

    li {
      padding: 8px;
      height: 32px;
      text-transform: uppercase;
      border-bottom: 1px solid var(--input-border-color);
      position: relative;
      overflow: hidden;
      text-align: left;
      line-height: 100%;
      white-space: nowrap;
      font-weight: normal;

      &:last-child {
        border-bottom: none !important;
        margin-bottom: 0;
      }

      .filtered {
        background-color: var(--primary-text-empahsis-color);
      }

      .select-arrow {
        width: 40px;
        height: 60px;
        background-color: rgba(0, 0, 0, 0.2);
        position: absolute;
        top: -10px;
        right: -35px;
        transform: rotate(45deg);
        display: none;
      }

      &:hover {
        background-color: var(--hover-background-color);
      }

      &.selected {
        background-color: var(--hover-background-color);
      }
    }
  }
}
