.text-area-wrapper {
  display: block;
  position: relative;
  width: 100%;
  padding: 8px;
  z-index: 1;
  border-radius: 2px;
  resize: none;
  line-height: 120%;
  color: var(--text-color);
  border: none;
  background-color: var(--input-background-color);

  &.outline {
    border: 1px solid var(--input-border-color);
  }

  &:focus {
    box-shadow: none;
    outline: none;
    border-color: var(--border-color-hover);
  }

  &:invalid {
    &.underline {
      border-bottom: 1px solid var(--danger-color);
      transition: border-bottom 0.5s;
    }

    &.outline {
      border-color: var(--danger-color);
      transition: border-color 0.5s;
    }
  }

  &.size-xxl {
    font-size: 20px;
    padding: 12px;
  }

  &.size-xl {
    font-size: 18px;
    padding: 12px;
  }

  &.size-lg {
    font-size: 16px;
    padding: 12px;
  }

  &.size-md {
    font-size: 14px;
    padding: 12px;
  }

  &.size-sm {
    font-size: 12px;
  }

  &.size-xs {
    font-size: 10px;
  }

  &.disabled {
    background-color: $gray-100;
    opacity: 0.6;
  }

  &.underline {
    border: none;
    _border-bottom: 1px solid $white !important;
    color: $white;
    background-color: rgba(255, 255, 255, 0.1) !important;
  }
}
