.td-wrapper {
  padding: 12px;
  border-top: none;
  border-bottom: none;
  vertical-align: middle;
  white-space: nowrap;

  &.align-left {
    text-align: left;
  }

  &.align-center {
    text-align: center;
  }

  &.align-right {
    text-align: right;
  }

  &.bold {
    font-weight: bold;
  }
}

.table-wrapper.size-sm {
  .td-wrapper {
    padding: 0.5rem;
    font-size: 14px;
  }
}
