.th-wrapper {
  padding: 1rem 1rem;
  border-top: none;
  border-bottom: none;
  vertical-align: middle;
  white-space: nowrap;
  background-color: #F7F7F7;

  &.align-left {
    text-align: left;
  }

  &.align-center {
    text-align: center;
  }

  &.align-right {
    text-align: right;
  }
}
