.th-wrapper {
  padding: 1rem 1rem;
  border-top: none;
  border-bottom: none;
  vertical-align: middle;
  white-space: nowrap;
  background-color: var(--lighter-color);

  &.align-left {
    text-align: left;
  }

  &.align-center {
    text-align: center;
  }

  &.align-right {
    text-align: right;
  }
}

.table-wrapper.size-sm {
  .th-wrapper {
    padding: 0.75rem;
    font-size: 14px;
  }
}
