.testcase-groups-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  position: relative;

  .min-content {
    margin-top: 1rem;
    > div {
      padding: 0.5rem;
      text-align: center;

      .label {
        font-weight: bold;
        font-size: 10px;
      }

      .count {
        font-family: Rowdies, sans-serif;
        font-weight: bold;
        font-size: 16px;
        margin-top: 4px;
      }
    }
  }

  .testcase-config-button {
    padding: 1rem 1rem 1rem;
    background-color: var(--lighter-color);
    text-align: right;
    position: relative;
    border-radius: 0 0 0 10px;
  }

  .testcase-groups-content {
    flex-grow: 1;
    position: relative;

    > div.content-scroller {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow-y: auto;
      padding: 1rem;

      .empty-content {
        .empty-control {
          margin-top: 1rem;
        }
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
    }
  }
}
