.member-card-manager-wrapper {
  > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    vertical-align: top;

    li {
      display: inline-block;
      margin-right: 1rem;
      margin-bottom: 1rem;
      vertical-align: top;
      width: calc((100% - 5rem) / 6);

      &:nth-child(6n) {
        margin-right: 0;
      }

      @media (max-width: 2500px) {
        width: calc((100% - 4rem) / 5);

        &:nth-child(6n) {
          margin-right: 1rem;
        }

        &:nth-child(5n) {
          margin-right: 0;
        }
      }

      @media (max-width: 2000px) {
        width: calc((100% - 3rem) / 4);

        &:nth-child(6n) {
          margin-right: 1rem;
        }

        &:nth-child(5n) {
          margin-right: 1rem;
        }

        &:nth-child(4n) {
          margin-right: 0;
        }
      }

      @media (max-width: 1400px) {
        width: calc((100% - 2rem) / 3);

        &:nth-child(6n) {
          margin-right: 1rem;
        }

        &:nth-child(5n) {
          margin-right: 1rem;
        }

        &:nth-child(4n) {
          margin-right: 1rem;
        }

        &:nth-child(3n) {
          margin-right: 0;
        }
      }

      @media (max-width: 1100px) {
        width: calc((100% - 1rem) / 2);

        &:nth-child(6n) {
          margin-right: 1rem;
        }

        &:nth-child(5n) {
          margin-right: 1rem;
        }

        &:nth-child(4n) {
          margin-right: 1rem;
        }

        &:nth-child(3n) {
          margin-right: 1rem;
        }

        &:nth-child(2n) {
          margin-right: 0;
        }
      }

      @media (max-width: 768px) {
        width: 100%;
        margin-right: 0;
      }
    }
  }

  .deleted {
    .user-name {
      .name-text {
        text-decoration: line-through;
        flex-grow: 1;
      }

      .deleted-text {
        font-size: 10px;
        position: absolute;
        padding: 4px;
        top: 0;
        left: 0;
        right: 0;
        text-align: center;
        color: var(--danger-color);
        font-family: Rowdies, NanumSquareNeo, sans-serif;
      }
    }
    .user-info {
      text-decoration: line-through;
    }
  }
}

.project-user-add-popup-wrapper {
  .space-user-body {
    display: flex;
    flex-direction: column;
    padding-top: 0 !important;
    padding-bottom: 0 !important;

    .space-user-content {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      overflow-y: hidden;

      .search {
        display: flex;
        flex-grow: 0;
        margin-top: 1.5rem;
        > div {
          align-self: center;
          &:nth-child(1) {
            margin-right: 1rem;
          }
          &:nth-child(2) {
            flex-grow: 1;
            margin-right: 0.5rem;
          }
        }
      }

      .space-user-list {
        margin-top: 1.5rem;
        flex-grow: 1;
        overflow-y: auto;
        padding-right: 1rem;

        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          vertical-align: top;

          li {
            display: inline-block;
            width: calc((100% - 2rem) / 3);
            margin-right: 1rem;
            margin-bottom: 1rem;
            vertical-align: top;

            &:nth-child(3n) {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}
