.member-list-wrapper {
  .role {
    text-align: right;
    .tag {
      min-width: 70px;
      text-align: center;
    }
    button {
      margin-left: 0.5rem;
    }
  }

  .deleted {
    .user-info,
    .user-email {
      color: $danger;
      .tag {
        color: $danger;
      }
    }
  }
}
