.member-card-wrapper {
  position: relative;
  &.selected {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
  }

  .user-name {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0;

    .user-card-content {
      display: flex;
      > div {
        &:first-child {
          flex-grow: 0;
          margin-right: 8px;

          .user-icon {
            background-color: var(--light-color);
            border-radius: 50%;
            img {
              border-radius: 50%;
            }
          }

          .icon {
            display: inline-flex;
            width: 48px;
            height: 48px;
            background-color: var(--light-color);
            border-radius: 50%;
            justify-content: center;
            i {
              align-self: center;
              font-size: 24px;
            }
          }
        }

        &.user-text-info {
          flex-grow: 1;

          .name-content {
            display: flex;
            height: 26px;

            .name-text {
              align-self: center;
            }
          }

          > div:first-child {
            display: flex;
          }

          div:first-child {
            flex-grow: 1;
          }

          .email {

            font-size: 12px;
            font-weight: normal;
          }

          .role {
            display: inline-flex;
            text-align: right;
            > div {
              align-self: center;
            }

            .tag {
              font-weight: normal;
            }

            &.ADMIN {
              > div {
              }
            }

            button {
              margin-left: 4px;
            }
          }
        }
      }
    }

    > div {
      > div {
      }
    }
  }

  .user-info {
    > div {
      padding-top: 0;
    }


    .tag-info {
      display: flex;

      .tags {
        flex-grow: 1;
        margin-right: 0.5rem;
        white-space: nowrap;
        padding: 0 0 4px;
        margin-bottom: -4px;
        overflow-x: auto;
        margin-top: 0.5rem;
        min-height: 32px;

        .no-tags {
          color: $gray-500;
          font-size: 12px;
          padding-top: 8px;
        }

        .tag {
          margin-right: 4px;

          .remove {
            color: $danger;
            margin-left: 4px;
            cursor: pointer;
          }
        }
      }

      .tag-button {
        align-self: center;
        margin-top: 0.5rem;
        text-align: right;
        white-space: nowrap;
      }
    }
  }

  .tag-change-popup {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    z-index: 2;
    background-color: $white;
    padding: 1rem;

    > div {
      align-self: center;
      width: 100%;
      text-align: center;

      .message {
        margin-bottom: 0.5rem;
      }

      .tag-input {
        margin-bottom: 0.5rem;
      }

      .tag-buttons {
        button {
          margin-right: 0.5rem;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}
