.project-user-select-popup-wrapper {
  .project-user-list {
    > ul {
      list-style: none;
      padding: 0;
      margin: 0;
      > li {
        padding: 1rem;
        border: 1px solid var(--border-color);
        border-bottom: none;
        display: flex;
        cursor: pointer;

        > div {
          align-self: center;
        }

        .name,
        .checked {
          color: var(--text-color);
        }

        .name {
          white-space: nowrap;
          min-width: 70px;
          opacity: var(--disable-opacity);
        }

        .tags {
          margin-left: 0.5rem;
          white-space: nowrap;
          overflow-x: hidden;
          text-overflow: ellipsis;

          .tag {
            margin-right: 0.5rem;
            align-self: center;
            &:last-child {
              margin-right: 0;
            }
          }
        }

        &:last-child {
          border-bottom: 1px solid var(--border-color);
        }

        &.selected {
          _background-color: $color-selected-light;

          .checked,
          .name {
            font-weight: bold;
            opacity: 1;
          }
        }
        > div {
          &:first-child {
            margin-right: 0.5rem;
          }
        }
      }
    }
  }
}
