.project-info-wrapper {
  background-color: var(--lighter-color);
  margin: 0 16px;
  padding: 16px 16px 12px;
  border-radius: 8px;
  border: 1px solid var(--border-light-color);

  .label {
    color: var(--dark-gray-color);
    font-size: 10px;
    margin-bottom: 8px;
    display: flex;

    > div {
      align-self: center;
      &:last-child {
        flex-grow: 1;
        text-align: right;
      }
    }

    button {
      margin-right: 4px;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  &.collapsed {
    margin: 16px 8px 0;
    padding: 8px 0;

    .label {
      text-align: center;
      > div {
        text-align: center;
      }
    }

    .project-selector {
      > .project-name {
        &.short-name,
        &.no-project {
          writing-mode: vertical-rl;
          font-size: 11px;
        }
      }
    }
  }

  .project-selector {
    position: relative;
    > .project-name {
      align-self: center;
      font-weight: bold;
      padding: 12px 8px;
      cursor: pointer;
      border: 1px solid transparent;
      border-bottom: none;

      &.no-project {
        font-size: 11px;
        text-align: center;
      }
    }

    > .project-hover-list {
      border: 1px solid transparent;
      border-top: none;
      display: none;
      position: absolute;
      background-color: var(--theme-color);
      top: 100%;
      left: 0;
      width: 100%;
      max-height: 200px;
      overflow-y: auto;
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        border-radius: 4px;

        > li {
          cursor: pointer;

          > a {
            color: var(--text-color);
            padding: 8px;
            font-size: 12px;
            display: block;
            &:hover {
              background-color: var(--primary-color);
              color: var(--primary-text-color);
            }
          }
        }
      }
    }
  }

  &.expanded {
    .project-selector {
      > .project-name {
        &:hover {
          background-color: var(--hover-background-color);
          color: var(--text-color);
        }
      }

      &:hover {
        box-shadow: 0 1px 4px 0 rgb(0 0 0 / 15%);
        > .project-name {
          border: 1px solid var(--border-color);
          border-bottom: none;
        }

        > .project-hover-list {
          display: block;
          border: 1px solid var(--border-color);
          border-top: none;
          box-shadow: 0 1px 4px 0 rgb(0 0 0 / 15%);
        }
      }
    }
  }

  .dashboard-menu {
    display: none;
  }

  &.collapsed {
    .project-list {
      display: none;
    }
  }
}
