.project-info-wrapper {
  .project-menu {
    position: relative;

    &.selected {
      > a {
        color: var(--white-color);
        font-weight: bold;
        opacity: 1;
      }
    }

    a {
      color: white;
      padding: 4px 16px;
      display: flex;
      opacity: 0.8;
      > div {
        align-self: center;

        &.open-list {
          flex-grow: 1;
          text-align: right;

          .bullet {
            font-size: 13px;
            width: 24px;
            height: 24px;
            display: inline-flex;
            justify-content: center;
            border-radius: 4px;
            &:hover {
              background-color: var(--yellow-color);
              color: #111;
            }
            i {
              align-self: center;
            }
          }
        }
      }

      &:hover {
        background-color: #111;

        > a {
          color: white;
        }
      }

      .menu-icon {
        width: 32px;
        height: 32px;
        display: inline-flex;
        justify-content: center;
        border-radius: 4px;
        margin-right: 8px;
        font-size: 16px;
        i {
          align-self: center;
        }
      }

      .text {
        align-self: center;
      }
    }

    &:hover {
      .collapsed-project-list {
        display: block;
      }
    }
  }

  &.collapsed {
    .project-menu {
      > a {
        .text {
          display: none;
        }
      }
    }
  }

  .project-list {
    padding: 0 0 0 32px;
    width: calc(100% + 1px);
    max-height: 300px;
    overflow-y: auto;
    display: none;

    &.opened {
      display: block;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 8px 0 16px 0;
      align-self: center;
      white-space: nowrap;

      > li {
        width: 100%;
        margin-bottom: 2px;
        &:last-child {
          margin-bottom: 0;
        }

        a {
          color: white;
          vertical-align: top;
          width: 100%;
          display: block;
          padding: 2px;
          text-overflow: ellipsis;
          overflow: hidden;

          &:hover {
            color: var(--yellow-color);
          }
          .dot {
            display: inline-block;
            margin-right: 8px;
            > div {
              align-self: center;
              width: 4px;
              height: 4px;
              background-color: var(--theme-color);
              border-radius: 50%;
              position: relative;
              top: -2px;
            }
          }
        }

        &.selected {
          > a {
            background-color: var(--theme-color);
            color: var(--text-color);
            font-weight: bold;
            font-size: 15px;
            padding: 4px 2px;
            border-radius: 4px 0 0 4px;
          }
        }
      }
    }
  }

  &.collapsed {
    .project-list {
      display: none;
    }
  }
}
