.side-label-wrapper {
  color: $side-gnb-text-color;
  padding: 4px;
  display: flex;
  opacity: 0.8;
  height: 32px;

  &.border {
    border-bottom: $side-gnb-menu-border;
  }
  > div {
    align-self: center;

    &.side-label-text {
      align-self: center;
      flex-grow: 1;
      font-size: 11px;
    }

    &.control {
      display: flex;
      > div {
        margin-left: 2px;
        cursor: pointer;
      }

      .icon {
        font-size: 13px;
        width: 24px;
        height: 24px;
        display: inline-flex;
        justify-content: center;
        border-radius: 2px;
        &:hover {
          background-color: $color-azure;
          color: white;
        }
        i {
          align-self: center;
        }
      }
    }
  }
}
