.side-bar-wrapper {
  width: 220px;
  background: $side-gnb-background-color;
  color: $side-gnb-text-color;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  justify-content: space-between;
  z-index: 10;
  border-right: $side-gnb-menu-border;

  &.collapsed {
    width: 70px;
  }

  .size-bar-logo {
    padding: 16px 0;
    background: $side-gnb-mark-background-color;
    border-bottom: $side-gnb-menu-border;
  }

  .side-bar-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: $side-gnb-menu-border;
    background: $side-gnb-mark-background-color;
  }
}
