.space-info-wrapper {
  display: flex;
  flex-direction: column;
  line-height: 1;
  padding: 8px 16px 8px;
  position: relative;
  border-radius: 0 0 24px 24px;
  background-color: var(--lighter-color);
  height: 66px;

  > .label {
    font-size: 10px;
    font-weight: bold;
    color: $gray-600;
    display: flex;
    > div {
      align-self: center;
      &:last-child {
        flex-grow: 1;
        text-align: right;
      }
      button {
        margin-right: 4px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .space-info {
    width: 100%;
    display: flex;
    overflow: hidden;
    flex-grow: 1;
    flex-direction: row;
    gap: 4px;
    align-self: center;

    > span {
      align-self: center;

      &.no-space-name {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 8px 4px 8px 0;
        flex-grow: 1;
      }

      &.space-name {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 8px 4px 8px 0;
        flex-grow: 1;

        > span {
          padding: 0 4px;
          &:hover {
            color: $link-color;
            cursor: pointer;
            font-weight: bold;
            border-bottom: 1px solid $link-color;
          }
        }
      }

      &.space-short-name {
        display: none;
      }
    }

    button.space-selector-button {
      background-color: var(--theme-color);
      color: var(--text-color);
      font-size: 10px;
      padding: 0;
      cursor: pointer;
      border: 1px solid rgba(0, 0, 0, 0.24);
      width: 24px;
      height: 24px;
      box-sizing: border-box;
      text-align: center;
      border-radius: 50%;
      box-shadow: 0 1px 4px 0 rgb(0 0 0 / 20%);
      align-self: center;

      &:hover {
        box-shadow: 0 1px 4px 0 rgb(0 0 0 / 40%);
      }
    }
  }
}

.collapsed {
  .space-info-wrapper {
    padding: 0;
    .label {
      display: none;
    }

    .space-info {
      justify-content: center;
      .space-selector-button {
        display: none;
      }
      > span {
        &.space-name {
          display: none;
        }

        &.space-short-name {
          display: inline-flex;
          background-color: white;
          border: 1px solid rgba(0, 0, 0, 0.4);
          width: 24px;
          height: 24px;
          justify-content: center;
          border-radius: 50%;
          cursor: pointer;
          box-shadow: 0 1px 4px 0 rgb(0 0 0 / 20%);
          > span {
            align-self: center;
          }

          &:hover {
            box-shadow: 0 1px 4px 0 rgb(0 0 0 / 40%);
          }
        }
      }
    }

    .no-space-name {
      display: none;
    }
  }
}
