.space-info-wrapper {
  margin: 10px 15px;

  .space-menu {
    display: flex;
    margin-top: 8px;
    cursor: pointer;
    position: relative;

    > div {
      align-self: center;
    }

    .space-icon {
      width: 28px;
      height: 28px;
      display: inline-flex;
      justify-content: center;
      background-color: #111;
      color: var(--white-color);
      border-radius: 2px;
      line-height: 100%;

      &.collapsed {
        &:hover {
          background-color: #111;
          color: white;
        }
      }

      flex-grow: 0;
      > span {
        align-self: center;
        font-size: 18px;
      }
    }

    .space-info {
      margin-left: 8px;
      font-size: 16px;
      display: flex;
      overflow: hidden;
      flex-grow: 1;
      flex-direction: row;
      gap: 4px;
      align-self: center;
      line-height: 100%;

      > span {
        overflow: hidden;
        display: inline-block;
        width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  .project-menu {
    display: flex;
    > a {
      display: flex;
    }
  }
}
