.space-info-wrapper {
  display: flex;
  flex-direction: column;
  line-height: 1;
  padding: 8px 16px 8px;
  position: relative;
  border-radius: 0 0 24px 24px;
  background-color: $gray-100;

  > .label {
    font-size: 10px;
    font-weight: bold;
    color: $gray-600;
    display: flex;
    > div {
      align-self: center;
      &:last-child {
        flex-grow: 1;
        text-align: right;
      }
      button {
        background-color: white;
        color: var(--text-color);
        font-size: 10px;
        padding: 0;
        cursor: pointer;
        margin-right: 4px;
        border: 1px solid rgba(0, 0, 0, 0.24);
        width: 20px;
        height: 20px;
        box-sizing: border-box;
        text-align: center;
        border-radius: 50%;
        box-shadow: 0 1px 4px 0 rgb(0 0 0 / 20%);

        &:hover {
          box-shadow: 0 1px 4px 0 rgb(0 0 0 / 40%);
        }

        &:last-child {
          margin-right: 0;
        }

        &.min {
          background-color: $color-tangerine;
        }

        &.max {
          background-color: $naver-color;
          margin-right: 0;
        }
      }
    }
  }

  .space-info {
    width: 100%;
    display: flex;
    overflow: hidden;
    flex-grow: 1;
    flex-direction: row;
    gap: 4px;
    align-self: center;

    > span {
      align-self: center;

      &.space-name {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 8px 4px 8px 0;
        flex-grow: 1;

        > span {
          padding: 0 4px;
          &:hover {
            color: $link-color;
            cursor: pointer;
            font-weight: bold;
            border-bottom: 1px solid $link-color;
          }
        }
      }
    }

    .bullet {
      font-size: 13px;
      width: 24px;
      height: 24px;
      display: inline-flex;
      justify-content: center;
      border-radius: 4px;
      text-align: right;

      button {
        background-color: white;
        color: var(--text-color);
        font-size: 10px;
        padding: 0;
        cursor: pointer;
        border: 1px solid rgba(0, 0, 0, 0.24);
        width: 24px;
        height: 24px;
        box-sizing: border-box;
        text-align: center;
        border-radius: 50%;
        box-shadow: 0 1px 4px 0 rgb(0 0 0 / 20%);

        &:hover {
          box-shadow: 0 1px 4px 0 rgb(0 0 0 / 40%);
        }
      }
    }
  }
}
