.minimap-wrapper {
  position: absolute !important;;
  left: 36px !important;;
  top: auto !important;;
  right: auto !important;
  bottom: -5px !important;
  width: auto !important;;

  &.react-flow__minimap {
    background-color: var(--theme-color);
    border: 1px solid var(--border-light-color);
  }
}
