.testrun-iteration-list-page-wrapper {
  display: flex;

  .page-content {
    flex-grow: 1;
    display: flex;
  }

  .empty {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    > div {
      align-self: center;
      text-align: center;

      > div {
        &:last-child {
          margin-top: 2rem;
        }
      }
    }
  }

  .testrun-iteration-list {
    width: 100%;
    overflow: auto;

    .testrun-table {
      .name {
        font-weight: bold;
      }
      .day {
        margin-left: 0.25rem;
        &:first-child {
          margin-left: 0;
        }
      }

      .start-time {
      }

      .duration,
      .testcase-count {
        @include number;
      }
    }
  }
}
