.report-info-page-wrapper {
  .page-content {
    height: 100%;
    flex-grow: 1;
    display: flex;

    .summary {
      width: 100%;
      margin-bottom: 1rem;
    }

    .testrun-result-count {
      display: flex;
      overflow: auto;

      > div {
        flex: 1 1 0;
        text-align: center;
        min-width: 140px;
        border: 1px solid var(--border-light-color);

        padding: 20px 0 30px;
        margin-right: 1rem;
        position: relative;

        &:last-child {
          margin-right: 0;
        }

        > div:first-child {
          white-space: nowrap;
          font-weight: bold;
        }

        > div.count {
          > a {
            font-size: 30px;
            font-family: Rowdies, sans-serif;
            font-weight: bold;
            display: inline-block;
            padding: 4px;
            border-bottom: 1px solid var(--link-color);

            &.PASSED {
              color: var(--success-color);
              border-bottom-color: var(--success-color);
            }

            &.FAILED {
              color: var(--danger-color);
              border-bottom-color: var(--danger-color-colorcolor);
            }

            &.UNTESTABLE {
              color: var(--gray-color);
              border-bottom-color: var(--gray-color);
            }

            &.UNTESTED {
              color: var(--gray-color);
              border-bottom-color: var(--gray-color);
            }
          }
        }
      }
    }

    .info-layout {
      flex-grow: 1;
      border-right: 1px solid var(--border-light-color);
      padding-right: 1rem;
      position: relative;
      height: 100%;
      overflow-y: auto;

      .text-summary {
        font-size: 14px;
        margin-bottom: 0.5rem;

        .row {
          display: flex;
          margin-bottom: 10px;

          > div {
            align-self: center;
          }

          .label {
            min-width: 60px;
            align-self: baseline;
          }

          .range {
            margin-right: 0.5rem;
          }

          .tester {
            margin-right: 0.5rem;
            border-radius: 8px;
          }

          .description {
            font-size: 14px;
            line-height: 160%;
            white-space: pre-wrap;
            border-radius: 4px;
          }
        }
      }

      .summary-content {
        .tester-summary {
          > ul {
            list-style: none;
            padding: 0;
            margin: 0;
            vertical-align: top;
            li.tester {
              vertical-align: top;
              display: inline-flex;
              flex-direction: column;
              width: 140px;
              position: relative;
              margin-right: 1rem;
              margin-bottom: 1rem;
              _background-color: var(--lighter-color);
              border: 1px solid var(--light-color);
              padding: 10px;

              .user-icon {
                text-align: center;
              }

              .user-name {
                text-align: center;
                margin-top: 4px;
              }

              .progress {
                display: flex;
                margin-top: 8px;
                > div {
                  align-self: center;
                  font-size: 12px;

                  &:first-child {
                    margin-right: 4px;
                  }

                  &.data {
                    display: flex;
                    flex-grow: 1;
                    justify-content: flex-end;
                    font-family: Rowdies, sans-serif;

                    &.warning {
                      color: var(--danger-color);
                    }

                    .count {
                      margin-left: 4px;
                    }
                  }
                }
              }

              .count-summary {
                margin-top: 8px;
                .bar {
                  height: 20px;
                  display: flex;
                  gap: 8px;
                  padding: 0 10px;
                  > div {
                    flex: 1 1 0;
                    height: 100%;
                    background-color: var(--light-color);
                    position: relative;
                    cursor: pointer;
                    border: 1px solid rgba(0, 0, 0, 0.2);

                    &:hover {
                      border: 1px solid rgba(0, 0, 0, 0.7);
                    }
                    > div {
                      position: absolute;
                      bottom: 0;
                      left: 0;
                      right: 0;
                      width: 100%;
                      &.PASSED {
                        background-color: var(--success-color);
                      }
                      &.FAILED {
                        background-color: var(--danger-color);
                      }
                      &.UNTESTABLE {
                        background-color: var(--warning-color);
                      }
                      &.UNTESTED {
                        background-color: var(--gray-color);
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .testcase-list {
      border-top: none;
      border-bottom: none;
      .table {
        margin-top: 0;

        tr {
          th {
            border-right: 1px solid var(--border-color);

            &:last-child {
              border-right: none;
            }
          }
          td {
            border-bottom: 1px solid var(--border-color);
            border-right: 1px solid var(--border-color);
            &:last-child {
              border-right: none;
            }
          }

          &:last-child {
            td {
              border-bottom: none;
            }
          }
        }
      }
    }

    .comment-layout {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding-left: 1rem;

      .editor-block {
        flex-grow: 1;
        overflow-y: auto;
        position: relative;

        .scroller {
          margin: 0;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          padding-right: 10px;
        }
      }

      .comment-editor {
        flex-grow: 0;
        margin-top: 10px;

        .buttons {
          text-align: right;
          margin-top: 10px;
          button {
            margin-right: 10px;
            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}
