.report-info-page-wrapper {
  .page-content {
    height: 100%;
    flex-grow: 1;
    display: flex;

    @media (max-width: 1240px) {
      display: block;
    }

    .layout {
      display: flex;
      height: 100%;
      flex-grow: 1;

      @media (max-width: 1240px) {
        display: block;
      }

      .info-layout {
        flex-grow: 1;
        overflow: hidden;
        border-right: 1px solid var(--border-light-color);

        @media (max-width: 1240px) {
          border-right: none;
        }

        .text-summary {
          font-size: 14px;
          margin-bottom: 0.5rem;

          .row {
            display: flex;
            margin-bottom: 10px;

            > div {
              align-self: center;
            }

            .label {
              min-width: 60px;
              align-self: baseline;
            }

            .range {
              margin-right: 0.5rem;
            }

            .tester {
              margin-right: 0.5rem;
              border-radius: 8px;
            }

            .description {
              font-size: 14px;
              line-height: 160%;
              white-space: pre-wrap;
              border-radius: 4px;
            }
          }
        }

        .summary-content {
          display: flex;
          height: 150px;
          margin-bottom: 10px;
          overflow: hidden;

          @media (max-width: 800px) {
            height: auto;
            display: block;
          }

          .result-summary {
            min-width: 200px;
            padding-top: 20px;

            @media (max-width: 800px) {
              min-width: auto;
            }

            &:last-child {
              margin-bottom: 0;
            }
            > div {
              display: flex;
              height: 60px;
              margin-bottom: 10px;
              .label {
                min-width: 60px;
                align-self: center;
              }

              .progress-info {
                flex-grow: 1;
                position: relative;
                background-color: var(--lighter-color);
                border-radius: 2px;
                padding-top: 15px;

                .progress-bar {
                  position: absolute;
                  left: 0;
                  bottom: 0;
                  top: 0;
                  border-radius: 2px;
                  background-color: var(--success-color);
                }

                .progress-percentage {
                  position: relative;
                  z-index: 2;
                  margin-bottom: 2px;
                  text-align: center;
                  font-weight: bold;
                }

                .progress-count {
                  position: relative;
                  z-index: 2;
                  font-size: 12px;
                  text-align: center;
                }
              }
            }
          }

          .summary-separator {
            display: flex;
            margin: 0 10px;
            @media (max-width: 800px) {
              display: none;
            }
            > div {
              align-self: center;
              width: 1px;
              height: 60px;
              background: var(--border-light-color);
            }
          }

          .tester-summary {
            flex-grow: 1;
            display: flex;
            overflow: auto;
            padding-top: 20px;

            @media (max-width: 800px) {
              margin-top: 20px;
            }

            .tester {
              min-width: 100px;
              width: 110px;
              height: 100%;
              @media (max-width: 800px) {
                height: 100px;
              }
              position: relative;
              display: flex;
              justify-content: center;
              margin-right: 8px;
              border-radius: 2px;
              background-color: var(--lighter-color);
              border: 1px solid var(--light-color);

              .user-icon {
                position: absolute;
                top: -40px;
                left: 0;
                right: 0;
                text-align: center;
              }

              .count-info {
                align-self: center;
                position: relative;
                width: 100%;

                .label {
                  text-align: center;
                  color: var(--black-color);
                  padding: 0 4px;

                  > a {
                    border-bottom: 1px solid var(--link-color);
                    display: inline-block;
                    padding: 2px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 100%;
                  }
                }

                .progress-percentage {
                  text-align: center;
                  font-size: 14px;
                  margin-bottom: 4px;
                  font-weight: bold;
                }

                .progress-count {
                  text-align: center;
                  font-size: 11px;
                  margin-bottom: 4px;
                  > span {
                    display: inline-block;
                  }
                }

                .result-count {
                  text-align: center;

                  > a {
                    display: inline-block;
                    padding: 0 1px 1px;
                    border-bottom: 1px solid var(--link-color);
                    margin-right: 4px;
                    &:last-child {
                      margin-right: 0;
                    }
                  }
                  .PASSED {
                    color: var(--success-color);
                    border-bottom-color: 1px solid var(--success-color);
                  }

                  .FAILED {
                    color: var(--danger-color);
                    border-bottom-color: 1px solid var(--danger-color);
                  }

                  .UNTESTABLE,
                  .UNTESTED {
                    color: var(--gray-color);
                    border-bottom-color: 1px solid var(--gray-color);
                  }
                }
              }

              .progress-bar {
                height: 4px;
                margin: 0 30px 2px;
                border-radius: 5px;
                line-height: 0;
                background-color: var(--light-color);
                > div {
                  background-color: var(--yellow-color);
                  height: 100%;
                  border-radius: 5px;
                  display: inline-block;
                  line-height: 0;
                }
              }
            }
          }

          &.report-metric {
            margin-right: 1rem;
            flex-grow: 0;

            @media (max-width: 800px) {
              margin-right: 0;
            }
          }
        }

        .testrun-result-count {
          display: flex;
          overflow: auto;

          > div {
            flex: 1 1 0;
            text-align: center;
            max-width: 140px;
            min-width: 140px;
            border: 1px solid var(--border-light-color);
            padding: 20px 0 30px;
            margin-right: 10px;
            position: relative;
            &:last-child {
              margin-right: 0;
            }

            > div:first-child {
              margin-bottom: 4px;
              white-space: nowrap;
            }

            > div.count {
              > a {
                font-size: 20px;
                font-weight: bold;
                display: inline-block;
                padding: 4px;
                border-bottom: 1px solid var(--link-color);

                &.PASSED {
                  color: var(--success-color);
                  border-bottom-color: var(--success-color);
                }

                &.FAILED {
                  color: var(--danger-color);
                  border-bottom-color: var(--danger-color-colorcolor);
                }

                &.UNTESTABLE {
                  color: var(--gray-color);
                  border-bottom-color: var(--gray-color);
                }

                &.UNTESTED {
                  color: var(--gray-color);
                  border-bottom-color: var(--gray-color);
                }
              }
            }

            > div.has-comment {
              text-align: right;
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              padding: 6px 10px;

              > span {
                margin-right: 4px;
              }

              a {
                font-size: 12px;
              }
            }
          }
        }
      }

      .comment-layout {
        width: 500px;
        min-width: 500px;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        @media (max-width: 1240px) {
          margin-left: 0;
          margin-top: 20px;
          width: auto;
          min-width: auto;
        }

        .editor-block {
          flex-grow: 1;
          overflow-y: auto;
          position: relative;

          .scroller {
            margin: 0;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding-right: 10px;

            @media (max-width: 1240px) {
              position: static;
              padding-right: 0;
            }
          }
        }

        .comment-editor {
          flex-grow: 0;
          margin-top: 10px;

          @media (max-width: 1240px) {
            margin-top: 0;
          }

          .buttons {
            text-align: right;
            margin-top: 10px;
            button {
              margin-right: 10px;
              &:last-child {
                margin-right: 0;
              }
            }
          }
        }
      }
    }
  }
}
