.report-group-item-wrapper {
  .group-info {
    border-right: 1px solid var(--border-color);
  }

  .seq-id {
    margin-right: 8px;
  }

  .seq-name {
    display: inline-flex;
    color: var(--link-color);
    cursor: pointer;
    > div {
      align-self: center;
    }
  }

  .FAILED {
    background-color: var(--danger-color);
    color: var(--white-color);
  }

  .PASSED {
    background-color: var(--success-color);
    color: var(--white-color);
  }

  .UNTESTABLE {
    background-color: var(--gray-color);
    color: var(--white-color);
  }

  .UNTESTED {
    background-color: var(--dark-gray-color);
    color: var(--white-color);
  }
}
