.testrun-result-viewer-popup-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 12;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;

  .popup-content {
    height: 100%;
    width: 60%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--light-color);

    .popup-content-layout {
      max-width: 1200px;
      border-right: 1px solid var(--light-color);
      height: 100%;
      background-color: var(--theme-color);
      display: flex;
      flex-direction: column;
    }

    .testcase-title {
      flex-grow: 0;
      display: flex;
      position: relative;
      line-height: 140%;
      border-bottom: 1px solid var(--light-color);
      padding: 1rem;
      .name {
        flex-grow: 1;
        font-size: 20px;
        font-weight: bold;
      }
      > div {
        align-self: center;
      }

      .close-button {
        position: absolute;
        top: 12px;
        right: 12px;
      }
    }

    .case-content {
      flex-grow: 1;
      padding: 0 1rem 1.5rem;
      overflow-y: auto;

      .title {
        padding: 1rem 0.5rem 0;
      }

      .testrun-testcase-comments {
        padding: 0 0.5rem;
        margin-top: 1rem;

        .text {
          color: var(--gray-color);
          line-height: 125%;
          margin-bottom: 0.75rem;
          margin-left: 0.5rem;
        }

        .comment-list {
          .empty-comments {
            padding: 1rem;

            font-size: 14px;
          }
          > ul {
            list-style: none;
            margin: 0;
            padding: 0;
            > li.comment {
              padding: 1px 1rem 10px;
              box-sizing: border-box;
              border: 1px solid var(--border-light-color);
              margin-bottom: 1rem;
              border-radius: 2px;

              .comment-content {
                .toastui-editor-contents {
                  font-family: NanumSquareNeo, sans-serif;
                }
              }

              .comment-user-info {
                display: flex;
                font-size: 12px;
                color: $gray-600;

                > div {
                  &:first-child {
                    flex-grow: 1;
                    text-align: right;
                  }
                }
              }

              a {
                color: $danger;
              }
            }
          }
        }
      }
    }
  }
}
