.page-wrapper {
  flex-grow: 1;
  position: relative;
  padding: 0;
  flex-direction: column;
  min-height: 100vh;
  display: flex;
  overflow: visible;
  box-sizing: border-box;

  &.info-page {
    border: 1px solid var(--border-light-color);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
  }

  &.list-page {
    background-color: transparent;
    border-radius: 0;
    border: none;
  }

  &.colored {
    width: 100%;
    min-height: 100vh;
    top: 0;
    left: 0;
    background: linear-gradient(#33a1de, #acd9f2);
  }

  .block-wrapper ~ .title-wrapper {
    margin-top: 20px;
  }
}
.page-wrapper > .page-content-wrapper:first-child {
  margin-top: 40px;

  @media (max-width: 1660px) {
    margin-top: 20px;
  }
}

.project-selected {
  .page-wrapper {
    &.info-page {
      border: 1px solid var(--border-light-color);
      box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
    }
  }
}
