.page-wrapper {
  flex-grow: 1;
  position: relative;
  padding: 0;
  width: 100%;
  flex-direction: column;
  max-width: $max-page-width;
  margin: 20px auto 40px;
  background-color: $white;
  min-height: calc(100vh - 140px);
  border-radius: 10px;
  border: 1px solid $gray-300;

  &.list-page {
    background-color: transparent;
    border-radius: 0;
    border: none;

    .page-title-wrapper {
      border-bottom: none;
    }

    .page-content-wrapper {
      padding: 1rem;
    }
  }

  &.colored {
    width: 100%;
    min-height: 100vh;
    top: 0;
    left: 0;
    background: linear-gradient(#33a1de, #acd9f2);
  }
}
