.llm-prompt-edit-popup-wrapper {
  .modal-body {
    padding: 1.5rem 1rem 0 1rem !important;
    min-height: 340px;
  }

  .modal-footer {
    padding: 1.5rem !important;
  }

  .single-button {
    text-align: right;
    padding: 0 8px;
  }
}
