.space-edit-page-wrapper {
  .member-manager {
    margin-top: 1.5rem;
  }

  .invalid {
    color: var(--danger-color);
  }

  .date-condition {
    @include monospace;
  }

  .condition {
    > div {
      margin-right: 0.5rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
