.testrun-testcase-manager-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .manager-content-layout {
    overflow-y: auto;
    height: 100%;
  }

  .manager-layout {
    overflow-y: auto;
    height: 100%;
  }

  &.RIGHT {
    .manager-layout {
      display: flex;

      .creator-info {
        padding: 8px;
        font-size: 12px;
        float: right;

        table {
          td {
            &:first-child {
              text-align: right;
              color: var(--gray-color);
              padding-right: 4px;
            }

            &:nth-child(2) {
              font-weight: bold;
            }
          }
        }
      }

      .manager-content {
        flex-grow: 1;
        overflow-y: auto;
      }

      .testrun-result-info {
        min-width: 300px;
        overflow-y: auto;
      }

      .result-liner {
        display: none;
      }

      .testrun-result-info {
        border-left: 1px solid var(--light-color);
      }

      .right-layout {
        overflow-y: auto;
        min-width: 360px;
      }
    }
  }

  .title-liner {
    height: 1px;
    background-color: var(--border-light-color);
  }

  .manager-content {
    .testcase-title {
      padding: 1.5rem 2rem 1.5rem;
      display: flex;
      border-radius: 4px 4px 0 0;
      position: relative;

      .result-popup-open-button {
        margin-right: 0.5rem;
      }

      .seq-id {
        margin-right: 8px;
      }

      > div {
        align-self: center;

        &.name {
          font-size: 20px;
          flex-grow: 1;
          font-weight: bold;
        }
      }

      .result-layout-selector {
        display: inline-block;
        position: relative;
        cursor: pointer;
        width: 24px;
        height: 24px;

        .circle {
          width: 30px;
          height: 30px;
          background-color: var(--primary-color);
          position: relative;
          top: -3px;
          border-radius: 4px;
        }

        .current-layout {
          font-size: 12px;
          position: absolute;
          left: -10px;
          top: 3px;
          width: 50px;
          text-align: center;
          color: var(--primary-text-color);
        }

        .layout-label {
          position: absolute;
          font-size: 12px;
          white-space: nowrap;
          top: -5px;
          width: 120px;
          right: 32px;
          display: none;
          background-color: var(--theme-color);
          padding: 0.5rem;
        }

        > .selector-item {
          position: absolute;
          width: 24px;
          height: 24px;
          border-radius: 4px;
          background-color: var(--gray-color);
          display: inline-flex;
          justify-content: center;
          > div {
            align-self: center;
            white-space: nowrap;
            font-size: 10px;
            color: var(--primary-text-color);
          }
          &.selected {
            background-color: var(--primary-color);
            > div {
              display: inline-block;
            }
          }

          &:hover {
            background-color: var(--primary-hover-color);
            > div {
              display: inline-block;
            }
          }
        }

        .popup {
          top: -14px;
          left: -14px;
        }

        .right {
          top: -0px;
          right: -14px;
        }

        .bottom {
          top: 14px;
          left: -14px;
        }

        .popup,
        .right,
        .bottom {
          display: none;
        }

        &:hover {
          .popup,
          .right,
          .bottom,
          .layout-label {
            display: inline-flex;
          }

          .current-layout {
            display: none;
          }

          .circle {
            background-color: var(--light-color);
          }
        }
      }
    }

    .case-content {
      flex-grow: 1;
      overflow-y: auto;
      padding: 1rem;

      .case-description {
        background-color: var(--testcase-item-background);
        border: 1px solid var(--border-lighter-color);
        padding: 1rem;
        font-size: 14px;
        border-radius: 2px;
        margin: 0.5rem 0.5rem 0.5rem;
      }

      .testcase-item-list {
      }
    }
  }
}
