.testrun-testcase-manager-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &.POPUP {
    .testrun-result-info {
      display: none;
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.4);
      z-index: 4;
      width: 100%;
      height: 100%;
      flex-direction: row;

      > div {
        align-self: center;
        width: 1000px;
        background-color: var(--theme-color);
        margin: 0 auto;
        max-height: 1000px;
        overflow-y: auto;

        @media (max-height: 1100px) {
          max-height: 900px;
        }

        @media (max-height: 1000px) {
          max-height: 800px;
        }

        @media (max-height: 900px) {
          max-height: 700px;
        }

        @media (max-height: 800px) {
          max-height: 600px;
        }

        @media (max-height: 700px) {
          max-height: 500px;
        }

        @media (max-height: 600px) {
          max-height: calc(100% - 2rem);
        }

        @media (max-width: 1200px) {
          width: 900px;
        }

        @media (max-width: 1024px) {
          width: 768px;
        }

        @media (max-width: 800px) {
          width: calc(100% - 2rem);
        }
      }

      &.opened {
        display: flex;
      }

      .layout-title {
        .exit-button {
          display: inline-block;
        }
      }
    }
  }

  .manager-layout {
    overflow-y: auto;
    height: 100%;
  }

  &.RIGHT {
    .manager-layout {
      display: flex;

      .creator-info {
        padding: 8px;
        font-size: 12px;
        float: right;

        table {
          td {
            &:first-child {
              text-align: right;
              color: var(--gray-color);
              padding-right: 4px;
            }

            &:nth-child(2) {
              font-weight: bold;
            }
          }
        }
      }

      .manager-content {
        flex-grow: 1;
        overflow-y: auto;
      }

      .testrun-result-info {
        min-width: 300px;
        overflow-y: auto;
      }

      .result-liner {
        display: none;
      }

      .testrun-result-info {
        border-left: 1px solid var(--light-color);
      }

      .right-layout {
        overflow-y: auto;
        min-width: 360px;
      }
    }
  }

  .layout-title {
    padding: 0 1.25rem;
    margin-top: 1.5rem;
    margin-bottom: 0.25rem;
    position: relative;
    font-weight: bold;

    > span {
      display: inline-block;
      padding: 0 0.25rem 0.33rem 0.25rem;
      _border-bottom: 1px solid var(--gray-color);
    }

    .exit-button {
      flex-grow: 1;
      text-align: right;
      position: absolute;
      top: -6px;
      right: 8px;
      display: none;
    }
  }

  .title-liner {
    height: 1px;
    background-color: var(--border-light-color);
  }

  .manager-content {
    .testcase-title {
      padding: 1.5rem 2rem 1.5rem;
      display: flex;
      border-radius: 4px 4px 0 0;
      position: relative;

      .result-popup-open-button {
        margin-right: 0.5rem;
      }

      .seq-id {
        margin-right: 8px;
      }

      > div {
        align-self: center;

        &.name {
          font-size: 20px;
          flex-grow: 1;
          font-weight: bold;
        }
      }

      .result-layout-selector {
        display: inline-block;
        position: relative;
        cursor: pointer;
        width: 24px;
        height: 24px;

        .circle {
          width: 30px;
          height: 30px;
          background-color: var(--primary-color);
          border-radius: 50%;
          position: relative;
          top: -3px;
        }

        .current-layout {
          font-size: 12px;
          position: absolute;
          left: -10px;
          top: 5px;
          width: 50px;
          text-align: center;
          color: var(--primary-text-color);
        }

        .layout-label {
          position: absolute;
          font-size: 12px;
          white-space: nowrap;
          top: -5px;
          width: 120px;
          right: 32px;
          display: none;
          background-color: var(--theme-color);
          padding: 0.5rem;
        }

        > .selector-item {
          position: absolute;
          width: 24px;
          height: 24px;
          border-radius: 2px;
          background-color: var(--gray-color);
          display: inline-flex;
          justify-content: center;
          > div {
            align-self: center;
            display: none;
            white-space: nowrap;
            font-size: 10px;
            color: var(--primary-text-color);
          }
          &.selected {
            background-color: var(--primary-color);
            > div {
              display: inline-block;
            }
          }

          &:hover {
            background-color: var(--primary-hover-color);
            > div {
              display: inline-block;
            }
          }
        }

        .popup {
          top: -14px;
          left: -14px;
        }

        .right {
          top: -0px;
          right: -14px;
        }

        .bottom {
          top: 14px;
          left: -14px;
        }

        .popup,
        .right,
        .bottom {
          display: none;
        }

        &:hover {
          .popup,
          .right,
          .bottom,
          .layout-label {
            display: inline-flex;
          }

          .current-layout {
            display: none;
          }

          .circle {
            background-color: var(--light-color);
          }
        }
      }
    }

    .case-content {
      flex-grow: 1;
      overflow-y: auto;
      padding: 1rem;

      .case-description {
        background-color: var(--testcase-item-background);
        border: 1px solid var(--border-lighter-color);
        padding: 1rem;
        font-size: 14px;
        border-radius: 2px;
        margin: 0.5rem 0.5rem 0.5rem;
      }

      .testcase-item-list {
      }
    }
  }

  .testrun-result-info {
    display: flex;
    flex-direction: column;
    padding: 0;

    .testrun-result-content {
      flex-grow: 1;
      overflow-y: auto;
      padding: 0 1rem 1rem;

      .testrun-result-list {
      }
      .testrun-testcase-comments {
        padding: 0.5rem 0.5rem;
        .text {
          font-size: 14px;
          color: var(--gray-color);
          line-height: 125%;
          margin-bottom: 0.5rem;
        }

        .comment-editor {
          margin-top: 10px;
          .buttons {
            margin-top: 10px;
            text-align: right;
            button {
              margin-left: 0.5rem;
              &:first-child {
                margin-left: 0;
              }
            }
          }

          .toastui-editor-defaultUI .ProseMirror {
            padding: 16px;
            font-family: NanumSquareNeo, sans-serif;
          }
        }
      }
    }
  }
}
