.testrun-result-info-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0;

  .last-testcase-result {
    font-weight: normal;
    font-size: 11px;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;

    &.opened {
      border-radius: 4px 4px 0 0;
    }
    display: inline-flex;
    position: relative;

    > span {
      align-self: center;
      display: inline-block;
      cursor: pointer;
      &.button {
        padding: 4px 8px;
        &:hover {
          background-color: var(--primary-color);
          color: var(--white-color);
        }
      }
      &:first-child {
      }

      &:last-child {
        padding: 4px 8px 4px 4px;
      }
    }

    .test-result {
      margin-left: 4px;
      &.PASSED {
        background-color: var(--success-color);
        color: var(--white-color);
      }

      &.FAILED {
        background-color: var(--danger-color);
        color: var(--white-color);
      }

      &.UNTESTABLE,
      &.UNTESTED {
        background-color: var(--gray-color);
        color: var(--white-color);
      }
    }

    .testrun-history-list-popup {
      position: absolute;
      background-color: var(--white-color);
      z-index: 100;
      padding: 0;
      margin: 0;
      list-style: none;
      border: 1px solid var(--input-border-color);
      max-height: 136px;
      overflow-y: auto;
      left: -1px;
      width: calc(100% + 2px);
      top: calc(100%);
      border-radius: 0 0 4px 4px;
      > li {
        display: flex;
        cursor: pointer;
        padding: 4px;
        border-bottom: 1px solid var(--input-border-color);
        width: 100%;

        &:last-child {
          border-bottom: none;
        }
        &:hover {
          background-color: var(--primary-color);
          color: var(--white-color);
        }
        > div {
          align-self: center;
          &:first-child {
            flex-grow: 1;
          }
          &:last-child {
            margin-left: 4px;
          }
        }
      }
    }
  }

  .layout-title {
    padding: 0 1.25rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.25rem;
    position: relative;
    font-weight: bold;
    display: flex;

    > * {
      align-self: center;
    }

    > span {
      display: inline-block;
    }

    .exit-button {
      flex-grow: 1;
      text-align: right;
      position: absolute;
      top: -6px;
      right: 8px;
      display: none;
    }
  }

  .testrun-result-content {
    flex-grow: 1;
    overflow-y: auto;
    padding: 0 1rem 1rem;

    .testrun-result-list {
    }
    .testrun-testcase-comments {
      padding: 0.5rem 0.5rem;
      .text {
        font-size: 14px;
        color: var(--gray-color);
        line-height: 125%;
        margin-bottom: 0.5rem;
      }

      .comment-editor {
        margin-top: 10px;
        .buttons {
          margin-top: 10px;
          text-align: right;
          button {
            margin-left: 0.5rem;
            &:first-child {
              margin-left: 0;
            }
          }
        }

        .toastui-editor-defaultUI .ProseMirror {
          padding: 16px;
          font-family: NanumSquareNeo, sans-serif;
        }
      }
    }
  }

  &.POPUP {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 4;
    width: 100%;
    height: 100%;
    flex-direction: row;

    > div {
      align-self: center;
      width: 1000px;
      background-color: var(--theme-color);
      margin: 0 auto;
      max-height: 1000px;
      overflow-y: auto;

      @media (max-height: 1100px) {
        max-height: 900px;
      }

      @media (max-height: 1000px) {
        max-height: 800px;
      }

      @media (max-height: 900px) {
        max-height: 700px;
      }

      @media (max-height: 800px) {
        max-height: 600px;
      }

      @media (max-height: 700px) {
        max-height: 500px;
      }

      @media (max-height: 600px) {
        max-height: calc(100% - 2rem);
      }

      @media (max-width: 1200px) {
        width: 900px;
      }

      @media (max-width: 1024px) {
        width: 768px;
      }

      @media (max-width: 800px) {
        width: calc(100% - 2rem);
      }
    }

    &.opened {
      display: flex;
    }

    .layout-title {
      .exit-button {
        display: inline-block;
      }
    }
  }
}
