html {
  --point-backgroup-color: #ffbc4b;
  --point-color: #222;
  --white-color: #fff;
  --black-color: #222;
  --danger-color: #e3242b;
  --green-color: #397d02;
  --success-color: #32cd32;
  --warning-color: #b90e0a;
  --yellow-color: #ffbc4b;
  --disable-opacity: 0.6;
  --secondary-color: #7bde89;
}

html {
  --header-background-color: #fff;
  --theme-color: #fff;
  --page-background-color: #fff;
  --background-color: #eaeef3;
  --card-background-color: #fff;
  --text-color: #222;
  --primary-color: #1e90ff;
  --primary-hover-color: #000;
  --primary-text-color: #fff;
  --primary-text-empahsis-color: #ffbc4b;
  --box-color: #fff;
  --testcase-item-background: #fcfcfc;
  --lighter-color: #f8f9fa;
  --light-color: #e9ecef;
  --light-hover-color: #ced4da;
  --light-gray-color: #8c959d;
  --gray-color: #6c757d;
  --gray-hover-color: #5c656d;
  --dark-gray-color: #495057;
  --hover-brightness: 1.06;
  --input-border-color: #dadde6;
  --input-background-color: #fff;
  --border-color: rgba(0, 0, 0, 0.25);
  --border-lighter-color: rgba(0, 0, 0, 0.05);
  --border-light-color: rgba(0, 0, 0, 0.12);
  --border-color-hover: rgba(0, 0, 0, 0.5);
  --input-background: #fff;
  --start-background-color: #adb5bd;
  --start-opacity: 0.1;
  --modal-background-color: #fff;
  --modal-overlay-color: rgba(0, 0, 0, 0.6);
  --modal-header-border-color: rgba(0, 0, 0, 0.2);
  --hover-background-color: rgba(0, 0, 0, 0.05);
  --color-first: rgb(165, 0, 52);
  --color-second: #1428a0;
  --link-color: #12279e;
  --link-hover-color: #102496;
}

html.theme-DARK {
  --header-background-color: #121117;
  --theme-color: #09080d;
  --page-background-color: #101010;
  --background-color: #09080d;
  --card-background-color: #16151a;
  --text-color: #fff;
  --primary-color: #ffbc4b;
  --primary-hover-color: #dfac3b;
  --primary-text-color: #222;
  --primary-text-empahsis-color: #222;
  --box-color: #000;
  --testcase-item-background: #1d1d1d;
  --lighter-color: #1d1d1d;
  --light-color: #222;
  --light-hover-color: #444;
  --gray-color: #adb5bd;
  --gray-hover-color: #bdc5ed;
  --dark-gray-color: #4d555d;
  --hover-brightness: 1.05;
  --input-border-color: #494c56;
  --input-background-color: #101010;
  --border-color: rgba(255, 255, 255, 0.3);
  --border-lighter-color: rgba(255, 255, 255, 0.05);
  --border-light-color: rgba(255, 255, 255, 0.12);
  --border-color-hover: rgba(255, 255, 255, 0.4);
  --input-background: #09080d;
  --start-background-color: #000;
  --start-opacity: 0.3;
  --modal-background-color: #16151a;
  --modal-overlay-color: rgba(0, 0, 0, 0.7);
  --modal-header-border-color: rgba(255, 255, 255, 0.2);
  --hover-background-color: rgba(255, 255, 255, 0.05);
  --color-first: rgb(165, 0, 52);
  --color-second: #1428a0;
  --link-color: #386bd8;
  --link-hover-color: #409eff;
}
