$primary: #ffbc4b;
$secondary: #7bde89;
$danger: #f21646;
$point: #d184d8;
$yellow: #ffbb20;
$warning: #ff4935;
$white: #ffffff;
$light: #f8f9fa;
$green: #397d02;
$success: #397d02;
$black: #222;
$gray: #555;

$xxxs-height: 18px;
$xxs-height: 22px;
$xs-height: 26px;
$sm-height: 30px;
$md-height: 34px;
$lg-height: 38px;
$xl-height: 42px;
$xxl-height: 46px;

$xs-font-size: 10px;
$sm-font-size: 12px;
$md-font-size: 14px;
$lg-font-size: 16px;
$xl-font-size: 18px;
$xxl-font-size: 20px;

$color-point: #7bde89;
$color-tag: #7bde89;
$color-sub1: #7bde89;
$color-sub2: #657feb;
$color-sub3: #d184d8;
$color-sub4: #5ab0b2;
$color-sub5: #e25a75;
$blue: #386bd8;
$red-color: #f21646;
$link-color: #409eff;
$link-color: #386bd8;
$max-width: 1620px;
$max-page-width: 1200px;
$max-page-width: 1620px;

$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

$border-color: $gray-400;
$input-border-color: rgba(0, 0, 0, 0.3);
$input-border-focus-color: rgba(0, 0, 0, 0.6);

$kakao-color: #f7e600;
$facebook-color: #3b5998;
$naver-color: #1ec800;
$google-color: #4285f4;

$bg-1: #171313;

$color-azure: #3e8ef1;
$color-storm: #a4c9d8;
$color-tangerine: #ff4935;
$color-citric: #cdf567;
$color-sunflower: #ffbc4b;
$color-pink: #ffd0d5;
$color-salmon: #fb7ea8;
$color-factory-yellow: #ffe818;
$color-black: #171313;
$color-white: #fff;
$color-muted-black: #837e7e;

$font-family-menu: NotoSans, sans-serif;
$font-family-count: Rowdies, NotoSans, sans-serif;
$font-family-date: IBMPlexMono;

$gray-200: #eaeef3;

$body-bg-color-dark: #09080d;
$body-bg-color-light: #eaeef3;
$card-bg-color-dark: #16151a;
$card-bg-color-light: white;
$header-bg-color-dark: #121117;
$header-bg-color-light: #eaeef3;
$header-bg-color-light: white;
$primary-color: #ffbc4b;
$primary-color: #ffbc4b;
$secondary-color: #7bde89;
$third-color: #3e8ef1;

$color-primary-dark: #ffbc4b;
$color-primary-light: #3e8ef1;

$color-selected-dark: #ffbc4b;
$color-selected-light: #f6f6f6;

$color-border-light: #dadde6;
$color-border-light-focus: #babdc6;
$color-form-control-light: $white;
$color-border-dark: #494c56;
$color-form-control-dark: #121212;

@mixin title() {
  font-weight: bold;
  font-family: LINESeed, sans-serif;
}

@mixin monospace() {
  font-family: $font-family-date;
}

@mixin date() {
  font-weight: bold;
  font-family: $font-family-date;
}

@mixin number() {
  font-weight: bold;
  font-family: $font-family-count;
}

@mixin shadow() {
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.05);
}

@mixin white-scroller() {
  &::-webkit-scrollbar {
    height: 8px;
  }
  &::-webkit-scrollbar-track {
    background-color: #f8f8f8;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
  }
}
