.testcase-template-editor-popup-wrapper {
  &.is-edit {
    .testcase-template-editor-content {
      div.editor-content {
        .template-content {
          .template-content-control {
            margin-right: 320px;
          }
          .editor {
            display: flex;

            .items {
              margin-right: 320px;
              ul {
                li.testcase-template-item {
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }
  }

  .testcase-template-editor-content {
    div.editor-content {
      .editor-title {
        margin-top: 1rem;
        margin-right: 0.5rem;
        .title-text {
          padding-left: 1rem;
        }
      }

      .template-content {
        .max-example-editor {
          position: absolute;
          top: 69px;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 21;
          background-color: rgba(0, 0, 0, 0.3);
        }
        .template-content-control {
          display: flex;
          margin-bottom: 1rem;
          > div {
            align-self: center;
            &:first-child {
              flex-grow: 1;
              margin-right: 1rem;
            }

            &:nth-child(2) {
            }
          }
        }
        .editor {
          display: flex;

          .sub-title {
            margin-bottom: 1rem;
            display: flex;
            @include title;

            > div {
              align-self: center;
            }

            .text {
              flex-grow: 1;
            }
          }

          .items {
            flex-grow: 1;
            display: flex;
            flex-direction: column;

            > div {
              display: flex;
              flex-direction: column;
              flex: 1 1 0;
              margin-top: 1rem;

              &:first-child {
                margin-top: 0;
              }
            }

            .layout {
              flex-grow: 1;
            }

            ul {
              list-style: none;
              padding: 0;
              margin: 0 -0.5rem 0rem 0;
              text-align: left;
              overflow-y: auto;
            }
          }

          .properties {
            flex-grow: 0;
            min-width: 300px;
            max-width: 300px;
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 69px;
            right: 27px;
            height: calc(100% - 151px);
            border-left: 1px solid rgba(0, 0, 0, 0.1);
            overflow-y: auto;
            padding-right: 0.5rem;

            .sub-title {
              padding-left: 1rem;
              margin-top: 1rem;
            }

            .properties-content {
              flex-grow: 1;
              display: flex;
              flex-direction: column;
              padding-left: 1rem;
              padding-bottom: 4rem;

              .readonly-text {
                background-color: $gray-100;
                font-family: NotoSans, sans-serif;
                line-height: 100%;
              }

              .empty-message {
                height: 100%;
                display: flex;
                justify-content: center;
                > div {
                  align-self: center;
                }
              }

              .properties-button {
                background-color: $gray-100;
                padding: 0.5rem;
                border-radius: 8px;
                text-align: right;
                button {
                  margin-right: 0.25rem;
                }
              }

              .example-editor {
                height: 200px;
              }

              .label,
              .type,
              .options,
              .default-value {
                padding: 1rem 0 0;

                .title {
                  margin-bottom: 0.5rem;
                  font-size: 14px;
                  display: flex;
                  > div {
                    align-self: center;

                    &.option-button {
                      flex-grow: 1;
                      text-align: right;
                    }
                  }
                }

                .properties-control {
                  > div {
                    &.selector {
                      width: 100%;
                    }

                    > ul {
                      width: 100%;
                      margin: 0.5rem 0 0;
                      padding: 0;
                      list-style: none;

                      > li {
                        margin: 0 0 0.5rem 0;

                        > div {
                          display: flex;

                          .input {
                            flex-grow: 1;
                          }

                          .button {
                            margin-left: 0.5rem;
                            display: flex;
                          }
                        }
                      }
                    }
                  }
                }
              }

              .options {
                flex-grow: 1;
                display: flex;
                flex-direction: column;

                .properties-control {
                  flex-grow: 1;
                  position: relative;

                  > __div {
                    height: 100%;

                    overflow-y: auto;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                  }
                }
              }
            }
          }
        }
      }

      .buttons {
        text-align: center;
        > button {
          margin-right: 1rem;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}

.theme-DARK {
}
