.inaccessible-content-wrapper {
  height: 100%;
  display: flex;

  .accessible,
  .inaccessible {
    text-align: center;
    flex-grow: 1;
    height: 100%;
    display: flex;
    justify-content: center;

    > div {
      align-self: center;

      .home {
        margin-top: 2rem;

        > a {
          display: inline-flex;
          width: 50px;
          height: 50px;
          font-size: 30px;
          background-color: var(--primary-color);
          justify-content: center;
          border-radius: 50%;
          color: var(--primary-text-color);
          transition: 0.3s all;

          &:hover {
            box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.2);
          }

          > i {
            align-self: center;
          }
        }
      }
    }
  }

  .accessible {
    > div {
      width: 800px;
    }

    .space-info {
      margin-bottom: 1rem;

      .name {
        font-size: 30px;
        line-height: 140%;
      }

      .code {
        font-family: Rowdies, sans-serif;
      }
    }

    .allow-auto-join {
      .msg {
        line-height: 160%;
        margin-bottom: 1rem;
      }
    }

    .need-approve-join {
      .msg {
        line-height: 160%;
        margin-bottom: 1rem;
      }

      .join-info {
        margin-top: 1rem;

        .message-content {
          max-width: 600px;
          margin: 0 auto 1rem;
        }
      }
    }

    .requesting-join,
    .requesting-reject {
      .msg {
        line-height: 160%;
        margin-bottom: 1rem;
      }

      .request-info {
        text-align: left;
        .title {
          font-size: 14px;
          padding: 0.5rem;
        }

        .space-admin-list {
          margin-bottom: 1rem;
          background-color: var(--lighter-color);
          position: relative;
          border-radius: 4px;

          ul {
            list-style: none;
            margin: 0;
            padding: 1rem 1rem 0;

            li {
              display: inline-block;
              margin-right: 1rem;
              margin-bottom: 1rem;

              .admin {
                font-family: NotoSans, sans-serif;
                font-size: 12px;
                text-transform: uppercase;

                padding: 4px 8px;
                border-radius: 8px;
              }
            }
          }
        }
      }

      .message-content {
        margin-bottom: 1rem;
      }

      .request-button {
        > button {
          margin-right: 1rem;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }

  .inaccessible {
    > div {
      .confidential {
        margin-bottom: 1rem;

        > span {
          font-family: RubikWetPaint, sans-serif;
          font-size: 30px;
          text-transform: uppercase;
          color: $danger;
          display: inline-block;
          padding: 12px 16px;
          border: 2px solid $danger;
          border-radius: 4px;
        }
      }
    }
  }
}
