.space-info-content {
  .project-list-content,
  .holiday-list-content,
  .applicant-list-content {
    max-width: 100%;
    overflow-x: auto;
  }

  .space-project-block {
    margin-bottom: 1rem;
  }

  .condition {
    > div {
      margin-right: 0.5rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .holiday-list-content {
    .date-condition {
      @include monospace;
    }
  }

  .message-channels,
  .llms {
    list-style: disc;
    padding: 0;
    margin: 0;
    > li {
      display: flex;
      gap: 10px;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
      > div {
        align-self: center;
      }
    }
  }

  .prompts {
    list-style: disc;
    padding: 0;
    margin: 0 0 0 2rem;

    > li {
      > div {
        padding: 4px 0;
        display: flex;
        gap: 10px;
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
        > div {
          align-self: center;
        }
      }
    }
  }

  table.applicant-list {
    td {
      &.message {
        width: 1px;
        white-space: nowrap;
        position: relative;

        .message-tooltip-overlay {
          position: fixed;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 4;
        }

        .message-tooltip {
          position: absolute;
          right: 100%;
          font-size: 14px;
          top: 16px;
          padding: 0.75rem;
          background-color: $white;
          color: $black;
          text-align: left;
          border-radius: 2px;
          z-index: 5;

          .arrow {
            width: 8px;
            height: 8px;
            position: absolute;
            transform: rotate(45deg);
            top: 8px;
            right: -4px;
            background-color: $white;
          }

          .message-content {
            max-width: 200px;
            min-width: 200px;
            max-height: 200px;
            white-space: pre-wrap;
            overflow-y: auto;
          }
        }
      }

      &.role {
        > button {
          margin-right: 0.5rem;
          &:last-child {
            margin-right: 0;
          }
        }

        > .tag {
          .icon {
            display: inline-block;
            min-width: 14px;
            text-align: left;
          }
        }
      }

      &.user-email {
        text-transform: uppercase;
      }

      &.request-status {
        white-space: nowrap;
        > div {
          text-align: center;
          padding: 6px 10px;
        }

        &.REQUEST,
        &.REQUEST_AGAIN {
          > div {
            background-color: var(--primary-color);
            color: var(--primary-text-color);
          }
        }

        &.APPROVAL {
          > div {
            background-color: var(--primary-color);
            _color: var(--primary-text-color);
          }
        }

        &.REJECTED {
          > div {
            background-color: var(--danger-color);
            color: var(--primary-text-color);
          }
        }
      }
    }
  }

  table.project-list {
    td {
      &.project-name {
        font-weight: bold;
      }

      &.activated {
        font-weight: bold;
        width: 80px;
        text-align: center;
      }

      &.testcase-count,
      &.bug-count {
        padding: 0;
        > div {
          display: inline-flex;
          width: 26px;
          height: 26px;
          justify-content: center;
          border-radius: 50%;
          > span {
            font-size: 13px;
            align-self: center;
            font-family: $font-family-count;
          }
        }
      }

      &.bug-count {
        > div {
          background-color: var(--danger-color);
          color: var(--white-color);
        }
      }

      &.testcase-count {
        > div {
          background-color: var(--yellow-color);
          color: var(--black-color);
        }
      }
    }
  }

  .space-control {
    margin-bottom: 2rem;
  }

  .danger-box {
    margin-top: 1rem;
    border: 1px solid var(--danger-color);
    padding: 1rem;
    button {
      min-width: 200px;
    }
  }
}
