.space-info-content {
  .project-list-content,
  .applicant-list-content {
    _background-color: $gray-100;
  }

  .space-project-block {
    margin-bottom: 1rem;
  }

  table.applicant-list {
    td {
      &.message {
        width: 1px;
        white-space: nowrap;
        position: relative;

        .message-tooltip-overlay {
          position: fixed;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 4;
        }

        .message-tooltip {
          position: absolute;
          right: 100%;
          font-size: 14px;
          top: 16px;
          padding: 0.75rem;
          background-color: $white;
          color: $black;
          text-align: left;
          border-radius: 2px;
          z-index: 5;

          .arrow {
            width: 8px;
            height: 8px;
            position: absolute;
            transform: rotate(45deg);
            top: 8px;
            right: -4px;
            background-color: $white;
          }

          .message-content {
            max-width: 200px;
            min-width: 200px;
            max-height: 200px;
            white-space: pre-wrap;
            overflow-y: auto;
          }
        }
      }

      &.role {
        > button {
          margin-right: 0.5rem;
          &:last-child {
            margin-right: 0;
          }
        }

        > .tag {
          .icon {
            display: inline-block;
            min-width: 14px;
            text-align: left;
          }
        }
      }

      &.user-email {
        text-transform: uppercase;
      }

      &.request-status {
        white-space: nowrap;
        > div {
          width: 50px;
          text-align: center;
          padding: 6px;
        }

        &.REQUEST,
        &.REQUEST_AGAIN {
          > div {
            background-color: $color-sunflower;
            color: #111;
          }
        }

        &.APPROVAL {
          > div {
            background-color: $color-azure;
            color: $white;
          }
        }

        &.REJECTED {
          > div {
            background-color: $color-tangerine;
            color: $white;
          }
        }
      }
    }
  }

  table.project-list {
    td {
      &.project-name {
        font-weight: bold;
      }

      &.activated {
        font-weight: bold;
        width: 80px;
        text-align: center;
      }

      &.testcase-count,
      &.bug-count {
        padding: 0 8px 0 0;
        > div {
          display: inline-flex;
          width: 26px;
          height: 26px;
          justify-content: center;
          border-radius: 50%;
          > span {
            font-size: 13px;
            align-self: center;
            font-family: $font-family-count;
          }
        }
      }

      &.bug-count {
        > div {
          background-color: $color-tangerine;
        }
      }

      &.testcase-count {
        > div {
          background-color: $color-sunflower;
          color: black;
        }
      }
    }
  }

  .space-control {
    margin-bottom: 2rem;
  }
}
