.testcase-group-setting-setting-overlay-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.testcase-group-setting-wrapper {
  position: absolute;
  bottom: 100%;
  right: -98px;
  text-align: left;
  background-color: $gray-100;
  padding: 1rem;
  z-index: 2;
  border-radius: 4px;
  box-shadow: 4px 4px 4px 0 rgb(0 0 0 / 6%);

  border: 1px solid rgba(0, 0, 0, 0.15);

  .arrow {
    position: absolute;
    bottom: -11px;
    text-align: right;
    right: 118px;

    > div {
      width: 14px;
      height: 14px;
      background-color: $gray-100;
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      border-right: 1px solid rgba(0, 0, 0, 0.15);
      transform: rotate(45deg);
      display: inline-block;
    }
  }

  .setting-title {
    font-size: 14px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    @include title;
  }

  .setting-category {
    margin-bottom: 1rem;

    &.last {
      margin-bottom: 0;
    }

    .title {
      margin-bottom: 0.5rem;
      padding-left: 4px;
    }

    ul {
      list-style: none;
      padding: 0.75rem;
      margin: 0;

      li {
        display: flex;
        margin-bottom: 0.5rem;
        white-space: nowrap;
        &:last-child {
          margin-bottom: 0;
        }

        .label {
          width: 120px;
        }
      }
    }
  }
}

.theme-DARK {
  .testcase-group-setting-wrapper {
    background-color: #060606;

    .arrow {
      > div {
        background-color: #060606;
      }
    }

    .setting-title {
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
  }
}
