.testcase-groups-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  position: relative;

  &.min {
    .testcase-manage-button {
      .right {
        display: none;
      }
    }

    .testcase-groups-content {
      .content-scroller {
        > ul {
          width: 0;
          height: 0;
          overflow: hidden;
        }
      }
    }
  }

  .min-content {
    margin-top: 1rem;
    > div {
      padding: 0.5rem;
      text-align: center;

      .label {
        font-family: NotoSans, sans-serif;
        font-weight: bold;
        font-size: 10px;
      }

      .count {
        font-family: Rowdies, sans-serif;
        font-weight: bold;
        font-size: 16px;
        margin-top: 4px;
      }
    }
  }

  .testcase-config-button {
    padding: 1rem 1rem 1rem;
    background-color: $gray-100;
    text-align: right;
    position: relative;
  }

  .testcase-manage-button {
    padding: 1rem 1rem 1rem;
    background-color: $white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);

    text-align: right;
    border-radius: 4px 4px 0 0;
    display: flex;
    .left {
      flex-grow: 1;
      text-align: left;
      display: flex;

      .controller {
        align-self: center;
        > div {
          width: 24px;
          height: 24px;
          position: relative;

          .bg {
            position: absolute;
            top: -33px;
            left: -33px;
            width: 0;
            height: 0;
            z-index: 1;
          }

          .controller-button {
            align-self: center;
            width: 24px;
            height: 24px;
            background-color: $color-primary-light;
            color: $white;
            display: inline-flex;
            justify-content: center;
            cursor: pointer;
            position: relative;
            > i {
              align-self: center;
            }

            &.start-button {
              border-radius: 6px;
            }

            &:hover {
              background-color: darken($color-primary-light, 10%);
            }

            &.center-button {
              background-color: $color-primary-light;
            }

            .all-open-toggle {
              text-align: center;
              line-height: 100%;
              position: relative;
              height: 100%;
              width: 100%;
              display: flex;
              justify-content: center;

              > div.tree-icon {
                line-height: 100%;
                align-self: center;
                padding-bottom: 8px;
              }

              .all-text {
                font-size: 10px;
                font-family: Cairo, sans-serif;
                font-weight: bold;
                position: absolute;
                bottom: 2px;
                left: 0;
                right: 0;
                text-align: center;
                justify-content: center;
                line-height: 0;

                > span {
                  background-color: $color-primary-dark;
                  color: #333;
                  display: inline-block;
                  line-height: 100%;
                  padding: 1px 2px;
                  border-radius: 2px;
                  transform: scale(0.8);
                }
              }
            }
          }

          .vertical {
            position: absolute;
            left: 0;
            top: -24px;
            width: 24px;
            height: 0;
            opacity: 0;
            overflow: hidden;
            line-height: 0;
            display: flex;
            flex-direction: column;
            z-index: 2;
            transition: 0.3s all;

            .controller-button {
              &:first-child {
                border-radius: 6px 6px 0 0;
              }

              &:last-child {
                border-radius: 0 0 6px 6px;
              }
            }
          }

          .horizontal {
            position: absolute;
            top: 0;
            left: -24px;
            height: 24px;
            display: flex;
            opacity: 0;
            width: 0;
            overflow: hidden;
            z-index: 2;
            transition: 0.3s all;

            .controller-button {
              &:first-child {
                border-radius: 6px 0 0 6px;
              }

              &:last-child {
                border-radius: 0 6px 6px 0;
              }
            }
          }

          &:hover {
            .bg {
              width: 90px;
              height: 90px;
            }

            .vertical {
              height: calc(24px * 3);
              overflow: visible;
              opacity: 1;
              transition: 0.3s all;
            }

            .horizontal {
              width: calc(24px * 3);
              overflow: visible;
              opacity: 1;
              transition: 0.3s all;
            }
          }
        }
      }
    }

    .right {
      &.small-control {
        .liner {
          display: none !important;
        }

        .add-testcase-button {
          margin-right: 0.5rem;
        }

        .button-text {
          display: none;
        }
      }

      &.smaller-control {
        button {
          padding: 0 6px;
          width: 24px;
          height: 24px;
          border-radius: 6px;
        }

        .small-icon {
          display: none;
        }
      }
    }
  }

  .testcase-groups-content {
    flex-grow: 1;
    position: relative;

    > div.content-scroller {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow-y: auto;
      padding: 1rem;

      .empty-content {
        .empty-control {
          margin-top: 1rem;
        }
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
    }
  }
}

.theme-DARK {
  .testcase-groups-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    position: relative;

    &.min {
      .testcase-manage-button {
        .right {
          display: none;
        }
      }

      .testcase-groups-content {
        .content-scroller {
          > ul {
            width: 0;
            height: 0;
            overflow: hidden;
          }
        }
      }
    }

    .min-content {
      margin-top: 1rem;
      > div {
        padding: 0.5rem;
        text-align: center;

        .label {
          font-family: NotoSans, sans-serif;
          font-weight: bold;
          font-size: 10px;
        }

        .count {
          font-family: Rowdies, sans-serif;
          font-weight: bold;
          font-size: 16px;
          margin-top: 4px;
        }
      }
    }

    .testcase-config-button {
      padding: 1rem 1rem 1rem;
      background-color: #111;
      text-align: right;
      position: relative;
    }

    .testcase-manage-button {
      padding: 1rem 1rem 1rem;
      background-color: #222;
      text-align: right;
      border-radius: 4px 4px 0 0;
      display: flex;
      border-bottom: 1px solid transparent;
      .left {
        flex-grow: 1;
        text-align: left;
        display: flex;

        .controller {
          align-self: center;
          > div {
            width: 24px;
            height: 24px;
            position: relative;

            .bg {
              position: absolute;
              top: -33px;
              left: -33px;
              width: 0;
              height: 0;
              z-index: 1;
            }

            .controller-button {
              align-self: center;
              width: 24px;
              height: 24px;
              background-color: $color-primary-dark;
              color: $black;
              display: inline-flex;
              justify-content: center;
              cursor: pointer;
              position: relative;
              > i {
                align-self: center;
              }

              &.start-button {
                border-radius: 6px;
              }

              &:hover {
                background-color: darken($color-primary-dark, 10%);
              }

              &.center-button {
                background-color: $color-primary-dark;
              }

              .all-open-toggle {
                text-align: center;
                line-height: 100%;
                position: relative;
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;

                > div.tree-icon {
                  line-height: 100%;
                  align-self: center;
                  padding-bottom: 8px;
                }

                .all-text {
                  font-size: 10px;
                  font-family: Cairo, sans-serif;
                  font-weight: bold;
                  position: absolute;
                  bottom: 2px;
                  left: 0;
                  right: 0;
                  text-align: center;
                  justify-content: center;
                  line-height: 0;

                  > span {
                    background-color: $color-primary-light;
                    color: $white;
                    display: inline-block;
                    line-height: 100%;
                    padding: 1px 2px;
                    border-radius: 2px;
                    transform: scale(0.8);
                  }
                }
              }
            }

            .vertical {
              position: absolute;
              left: 0;
              top: -24px;
              width: 24px;
              height: 0;
              opacity: 0;
              overflow: hidden;
              line-height: 0;
              display: flex;
              flex-direction: column;
              z-index: 2;
              transition: 0.3s all;

              .controller-button {
                &:first-child {
                  border-radius: 6px 6px 0 0;
                }

                &:last-child {
                  border-radius: 0 0 6px 6px;
                }
              }
            }

            .horizontal {
              position: absolute;
              top: 0;
              left: -24px;
              height: 24px;
              display: flex;
              opacity: 0;
              width: 0;
              overflow: hidden;
              z-index: 2;
              transition: 0.3s all;

              .controller-button {
                &:first-child {
                  border-radius: 6px 0 0 6px;
                }

                &:last-child {
                  border-radius: 0 6px 6px 0;
                }
              }
            }

            &:hover {
              .bg {
                width: 90px;
                height: 90px;
              }

              .vertical {
                height: calc(24px * 3);
                overflow: visible;
                opacity: 1;
                transition: 0.3s all;
              }

              .horizontal {
                width: calc(24px * 3);
                overflow: visible;
                opacity: 1;
                transition: 0.3s all;
              }
            }
          }
        }
      }

      .right {
        &.small-control {
          .liner {
            display: none !important;
          }

          .add-testcase-button {
            margin-right: 0.5rem;
          }

          .button-text {
            display: none;
          }
        }

        &.smaller-control {
          button {
            padding: 0 6px;
            width: 24px;
            height: 24px;
            border-radius: 6px;
          }

          .small-icon {
            display: none;
          }
        }
      }
    }

    .testcase-groups-content {
      flex-grow: 1;
      position: relative;

      > div.content-scroller {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow-y: auto;
        padding: 1rem;

        .empty-content {
          .empty-control {
            margin-top: 1rem;
          }
        }

        ul {
          list-style: none;
          padding: 0;
          margin: 0;
        }
      }
    }
  }
}
