li.testcase-group-item-wrapper {
  display: block;
  position: relative;

  .group-content,
  .testcase-content {
    border-radius: 2px;

    > div.group-info,
    > div.testcase-info {
      display: flex;
      position: relative;
      cursor: pointer;
      min-width: 120px;
      border-radius: 2px;

      .child-tree-mark {
        width: 10px;

        > div {
          width: 100%;
          height: 100%;
          position: relative;

          .line {
            position: absolute;

            &.line-1 {
              height: calc(50% - 11px);
              width: 1px;
              border-left: 1px dotted var(--gray-color);
              left: 7px;
              top: 10px;
            }

            &.line-2 {
              height: 1px;
              width: calc(100% - 2px);
              top: 50%;
              left: 7px;
              border-bottom: 1px dotted var(--gray-color);
            }
          }
        }
      }

      .tree-toggle {
        padding: 0;
        display: flex;
        margin-left: 8px;
        margin-right: 8px;
        > span {
          align-self: center;
          display: inline-flex;
          width: 18px;
          height: 18px;
          justify-content: center;
          border-radius: 2px;

          > i {
            align-self: center;
          }
        }

        &.has-child {
          > span:hover {
            color: var(--secondary-color);
          }
        }
      }

      .watcher {
        position: absolute;
        left: -20px;
        max-height: 37px;
        overflow-y: hidden;
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          text-align: left;
          li {
            display: block;
            line-height: 100%;

            .user-email-char {
              display: inline-flex;
              text-transform: uppercase;
              background-color: var(--point-backgroup-color);
              width: 16px;
              height: 16px;
              justify-content: center;
              border-radius: 50%;
              > span {
                align-self: center;
                display: inline-block;
                text-align: center;

                color: black;
                font-size: 10px;
                font-weight: normal;
              }
            }
          }
        }
      }

      .case-icon {
        padding: 0;
        display: flex;
        margin-right: 8px;
        margin-left: 8px;
        > span {
          align-self: center;
          display: inline-flex;
          line-height: 0;
          font-size: 10px;
          height: 18px;
          width: 18px;
          text-align: center;
          justify-content: center;
          background-color: var(--dark-gray-color);
          color: var(--white-color);
          border-radius: 5px;

          > i {
            align-self: center;
          }
        }
      }

      .name {
        flex-grow: 1;
        padding: 0.5rem 0.5rem 0.5rem 0;
        width: calc(100% - 90px);
        display: flex;

        .seq-id {
          font-size: 12px;
        }

        .case-col,
        .group-col {
          display: inline-flex;
          font-size: 12px;
          color: #333;
          font-weight: bold;
          border-radius: 2px;
          margin-right: 4px;
          font-family: Rowdies, sans-serif;

          > div {
            align-self: center;
            &:first-child {
              padding-left: 2px;
              padding-right: 2px;
              background-color: var(--secondary-color);
              border-radius: 2px 0 0 2px;
            }

            &:last-child {
              font-family: Rowdies, sans-serif;
              background-color: var(--secondary-color);
              border-radius: 0 2px 2px 0;
              padding-left: 3px;
              padding-right: 3px;
            }
          }

          &.col-id {
            > div {
              min-width: 40px;
              text-align: center;
            }
          }

          &.col-itemOrder {
          }

          &.col-closed {
            > div {
              background-color: var(--warning-color);
              color: var(--white-color);
              font-weight: normal;
              letter-spacing: -0.5px;
            }
          }
        }

        .col-testcase-count {
          position: absolute;
          top: -2px;
          left: -4px;
          width: 16px;
          height: 16px;
          background-color: var(--secondary-color);
          color: var(--black-color);
          display: inline-flex;
          justify-content: center;
          border-radius: 50%;
          font-family: Rowdies, sans-serif;
          font-size: 10px;
          > div {
            align-self: center;
            line-height: 0;
          }
        }

        > .col-name {
          flex-grow: 1;
          overflow-x: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          align-self: center;
        }

        .name-editor {
          background-color: var(--white-color);
          color: var(--black-color);
        }
      }

      .testrun-result {
        display: flex;

        > div {
          white-space: nowrap;
          align-self: center;
          padding: 0 0.5rem;
          display: inline-block;
          font-size: 11px;
          font-weight: lighter;
          border-radius: 10px;
          background-color: var(--dark-gray-color);
          color: var(--white-color);
        }

        &.FAILED {
          > div {
            background-color: var(--danger-color);
          }
        }

        &.PASSED {
          > div {
            background-color: var(--success-color);
          }
        }

        &.UNTESTABLE {
          > div {
            background-color: var(--gray-color);
          }
        }

        &.UNTESTED {
          > div {
            background-color: var(--dark-gray-color);
          }
        }
      }

      .grab {
        cursor: grab;
        padding: 0.5rem;
        line-height: inherit;
        display: none;

        i {
          align-self: center;
        }

        &:hover {
          background-color: var(--secondary-color);
          color: var(--black-color);
        }
      }

      &.drag-target {
        background-color: var(--yellow-color) !important;
        color: var(--gray-color) !important;
      }

      &.drag-destination {
        .bar {
          opacity: 1;
        }

        &.to-children {
          .bar {
            left: 1rem;
          }
        }
      }

      &.name-editing {
        margin-left: 0 !important;

        width: 100%;

        .seq-id,
        .tree-toggle {
          display: none;
        }

        .case-icon {
          display: none;
        }

        .name {
          padding: 1px;

          .group-col {
            display: none;
          }
        }

        input {
          border-radius: 0;
          width: 100%;
        }

        .child-tree-mark,
        .icon,
        .grab {
          display: none !important;
        }
      }

      .bar {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 5px;
        background-color: var(--secondary-color);
        border-radius: 1px;
        opacity: 0;
      }

      &:hover {
        background-color: var(--hover-background-color);

        .grab {
          display: inline-flex;
        }
      }

      &.selected {
        background-color: var(--primary-color);
        color: var(--primary-text-color);

        .case-icon {
          > span {
            background-color: var(--theme-color);
            color: var(--text-color);
          }
        }
      }
    }
  }
}
