.sequence-info-page-wrapper {
  .page-content {
    flex-grow: 1;
    display: flex;
    padding-bottom: 0;

    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .sequence-content {
      flex-grow: 1;
      display: flex;
      position: relative;

      div.react-flow-wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        .react-flow__attribution {
          display: none;
        }
      }
    }
  }
}
