.react-select-wrapper {
  &.size-md {
    height: $md-height;
    .react-select__control {
      height: $md-height;
      min-height: $md-height;
    }

    .react-select__indicators {
      min-height: 34px;
      height: 34px;
    }
  }

  .react-select__control {
    border-radius: 2px;
    border: 1px solid var(--input-border-color);
    outline: none !important;
    box-shadow: none !important;
    background-color: var(--input-background-color);
    &--is-focused {
      border-color: var(--border-color-hover);
      outline: none !important;
      box-shadow: none !important;
    }

    .react-select__single-value {
      color: var(--text-color);
    }

    .react-select__placeholder {
      color: var(--text-color);
    }

    &:hover {
      box-shadow: none;
      outline: none;
      border-color: var(--border-color-hover);
    }
  }

  .react-select__menu {
    z-index: 4;
    border: 1px solid var(--border-color-hover);
    border-radius: 0;
    top: 34px;
    background-color: var(--theme-color);
    .react-select__menu-list {
      &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
      }
      &::-webkit-scrollbar-track {
        background-color: $gray-300;
      }
      &::-webkit-scrollbar-thumb {
        background-color: $gray-500;
      }
      .react-select__option {
        white-space: nowrap;
        &--is-selected {
          font-weight: bold;
          background-color: var(--primary-color);
          color: var(--primary-text-color);
        }

        &:hover {
          background-color: var(--hover-background-color);
        }
      }
    }
  }
}
