.collapsed {
  .target-selector-wrapper {
    .target-selector-list {
      top: 30px;
    }
  }
}
.target-selector-wrapper {
  height: 100%;
  display: flex;
  position: relative;
  margin-left: 0.5rem;
  cursor: pointer;
  top: -1px;

  > div {
    align-self: center;
    font-size: 14px;
    color: var(--gray-color);

    .selected-name {
      display: inline-block;
      padding-top: 2px;
    }
    .icon {
      margin-left: 0.25rem;
    }
    &:hover {
      color: var(--text-color);
    }
  }

  &.opened {
    > div {
      color: var(--text-color);
    }
  }

  .target-selector-list {
    position: absolute;
    top: calc(100% - 20px);
    right: -1rem;
    background-color: $white;
    min-width: 100%;
    max-width: 120px;
    color: $black !important;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 6%);
    border: 1px solid $color-border-light-focus;
    max-height: 201px;
    overflow-y: auto;
    border-radius: 2px;
    font-size: 13px;

    @media (max-width: 1400px) {
      top: calc(100% + 5px);
    }

    > ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        white-space: nowrap;
        cursor: pointer;
        line-height: 0;

        > span {
          padding: 0.5rem;
          display: inline-block;
          width: 100%;
          overflow-x: hidden;
          text-overflow: ellipsis;
          line-height: 120%;
        }

        &:last-child {
          margin-bottom: 0;
        }

        &.selected {
          > span {
            background-color: var(--primary-color);
            color: var(--primary-text-color);
            font-weight: bold;
          }

          &:hover {
            > span {
              color: var(--primary-text-color);
            }
          }
        }

        &:hover {
          > span {
            color: var(--link-color);
          }
        }
      }
    }
  }
}
