.testrun-execute-page-wrapper {
  display: flex;
  .page-content {
    flex-grow: 1;
    display: flex;
    padding: 0;

    .testcase-navigator-content,
    .testrun-testcase-manager-content {
      height: 100%;
    }
  }

  .page-title {
    display: flex;
    > div {
      align-self: center;
    }

    .testrun-title-content {
      align-self: center;
      display: flex;
      font-size: 14px;
      font-family: NanumSquareNeo, sans-serif !important;
      font-weight: normal !important;
      flex-grow: 1;
      > div {
        align-self: center;
        &.separator {
          > div {
            height: 10px;
            background-color: rgba(0, 0, 0, 0.4);
            width: 1px;
            display: inline-block;
            margin-left: 10px;
            margin-right: 10px;
          }
        }

        &.label {
          margin-right: 0.5rem;
        }
        &.participants {
          flex-grow: 1;

          ul {
            margin: 0;
            padding: 0;
            list-style: none;
            text-align: left;
            li {
              display: inline-block;
              margin-right: 0.5rem;
              vertical-align: top;

              .user-email-char {
                display: inline-flex;
                justify-content: center;
                text-transform: uppercase;
                background-color: var(--point-backgroup-color);
                width: 36px;
                height: 36px;
                border-radius: 50%;
                font-weight: bold;
                > span {
                  align-self: center;
                  display: inline-block;
                  text-align: center;
                  width: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}
