.key-value-editor-wrapper {
  flex-grow: 1;
  > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    > li {
      display: flex;
      margin-bottom: 10px;
      > div {
        display: flex;
        gap: 10px;
        flex-grow: 1;

        &.key {
          flex-grow: 0;
          width: 30%;
          margin-right: 20px;
        }

        > div {
          align-self: center;
          flex-grow: 1;

          &.label {
            flex-grow: 0;
          }
        }

        &.button {
          flex-grow: 0;
          margin-left: 10px;
        }
      }
    }
  }
}
