.message-channel-edit-popup-wrapper {
  .modal-body {
    padding-top: 24px !important;
  }
  .webhook-title {
    margin-top: 10px;
  }

  .sub-title {
    font-size: 14px;
    padding: 0 8px;

    &.border {
      border-bottom: 1px solid var(--border-light-color);
      padding-bottom: 8px;
    }

    > div {
      display: flex;

      > div {
        align-self: center;
        &:first-child {
          flex-grow: 1;
        }
      }
    }
  }

  .sub-content {
    padding: 16px 8px;
  }

  .payload {
    flex-grow: 1;

    .add-button {
      text-align: right;
    }
  }

  .send-message-button {
    text-align: right;
    padding: 0 8px;
  }
}
