.system-info-page-wrapper {
  .remove-button {
    margin-left: 0;
  }

  .system-property-table {
    .property-value {
      white-space: pre-wrap;
      word-break: break-all;
    }
  }

  .exception {
    button {
      margin-right: 0.5rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .prompts {
    list-style: disc;
    padding: 0;
    margin: 0 0 0 2rem;

    > li {
      > div {
        padding: 4px 0;
        display: flex;
        gap: 10px;
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
        > div {
          align-self: center;
        }
      }
    }
  }
}
