.system-info-page-wrapper {
  .remove-button {
    margin-left: 0;
  }

  .system-property-table {
    .property-value {
      white-space: pre-wrap;
      word-break: break-all;
    }
  }

  .exception {
    button {
      margin-right: 0.5rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }

}
