.user-list-page-wrapper {
  .user-info {
    color: var(--link-color);
    cursor: pointer;
    .name {
      font-weight: bold;
      font-size: 14px;
    }
    .email {
      font-size: 12px;
      margin-top: 4px;
    }
  }
  .tag-info {
    > div {
      margin-right: 0.5rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .space-tag {
    position: relative;
    .is-admin {
      position: absolute;
      top: -10px;
      right: -8px;
      background-color: var(--primary-color);
      color: var(--primary-text-color);
      font-size: 10px;
      padding: 2px 4px;
      border-radius: 2px;
    }
  }
}
