.user-info-page-wrapper {
  .space-tag {
    position: relative;
    margin-right: 0.5rem;
    &:last-child {
      margin-right: 0;
    }
    .is-admin {
      position: absolute;
      top : -12px;
      right : -8px;
      background-color: var(--primary-color);
      color: var(--primary-text-color);
      font-size: 10px;
      padding: 2px 4px;
      border-radius: 2px;
    }
  }
}

.change-user-password-popup-wrapper {

}
