.project-list-page-wrapper {
  display: flex;

  .content {
    flex-grow: 1;
    display: flex;
  }

  .no-project {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    > div {
      align-self: center;
      text-align: center;

      > div {
        &:last-child {
          margin-top: 2rem;
        }
      }
    }
  }

  ul.project-list {
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
      margin-bottom: 1rem;
      display: inline-block;
      margin-right: 1rem;
      width: calc((100% - 3rem) / 4);
      height: 290px;

      &:nth-child(4n) {
        margin-right: 0;
      }

      @media (max-width: 1500px) {
        width: calc((100% - 2rem) / 3);

        &:nth-child(4n) {
          margin-right: 1rem;
        }

        &:nth-child(3n) {
          margin-right: 0;
        }
      }

      @media (max-width: 1200px) {
        width: calc((100% - 1rem) / 2);

        &:nth-child(4n) {
          margin-right: 1rem;
        }

        &:nth-child(3n) {
          margin-right: 1rem;
        }

        &:nth-child(2n) {
          margin-right: 0;
        }
      }

      @media (max-width: 768px) {
        width: 100%;
        margin-right: 0;
      }

      .project-card {
        .project-info {
          position: relative;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          .name {
            font-size: 20px;
            flex-grow: 0;
            padding: 1.75rem 1rem 1rem;
            text-align: center;
            @include title;
            &:hover {
              color: var(--primary-color);
              cursor: pointer;
            }
          }

          .summary {
            flex-grow: 1;
            display: flex;
            padding: 0 1rem;

            > div {
              flex-grow: 1;
              display: flex;
              flex-direction: column;

              .description {
                font-size: 14px;
                padding: 8px 12px;
                line-height: 160%;
                height: 58px;
                background-color: var(--lighter-color);
                border: 1px solid var(--border-lighter-color);
                border-radius: 4px;
                overflow: hidden;
                display: block;
                -webkit-line-clamp: 2;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                text-overflow: ellipsis;
                white-space: normal;
                font-family: NotoSans, sans-serif;
                margin-bottom: 1rem;
              }

              .count {
                flex-grow: 1;
                display: flex;
                margin-bottom: 1rem;

                > div {
                  flex: 1 1 0;
                  display: flex;
                  justify-content: center;
                  padding: 0;
                  margin-right: 1rem;

                  &.bug-info {
                    display: none;
                  }

                  &:last-child {
                    margin-right: 0;
                  }

                  > div {
                    align-self: center;
                    text-align: center;
                    width: 100%;
                    padding: 0.5rem 0;
                    border-radius: 4px;
                    cursor: pointer;
                    line-height: 160%;
                    height: 100%;

                    .icon {
                      font-size: 18px;
                      color: var(--gray-color);
                      line-height: 100%;
                    }

                    &.bug-count {
                      color: var(--danger-color);
                      &:hover {
                        color: var(--white-color);
                        background-color: var(--danger-color);
                        transition: 0.3s all;
                        .icon {
                          color: var(--white-color);
                          transition: 0.3s all;
                        }
                      }
                    }

                    &.tc-count {
                      color: var(--primary-color);
                      &:hover {
                        color: var(--primary-text-color);
                        background-color: var(--primary-color);
                        transition: 0.3s all;
                        .icon {
                          color: var(--primary-text-color);
                          transition: 0.3s all;
                        }
                      }
                    }

                    &.tr-count {
                      color: var(--warning-color);
                      &:hover {
                        color: var(--white-color);
                        background-color: var(--warning-color);
                        transition: 0.3s all;
                        .icon {
                          color: var(--white-color);
                          transition: 0.3s all;
                        }
                      }
                    }

                    .number {
                      text-align: center;
                      font-size: 34px;
                      margin-top: 4px;
                      @include number;
                    }

                    .label {
                      font-size: 10px;
                      line-height: 100%;
                      font-family: Cairo, sans-serif;
                      font-weight: bold;
                      margin-top: 4px;
                    }
                  }
                }
              }
            }
          }

          .side-menu {
            ul {
              list-style: none;
              padding: 0 1rem 1.25rem;
              margin: 0;
              text-align: center;
              > li {
                display: inline-flex;
                width: 32px;
                height: 32px;
                margin-right: 8px;
                justify-content: center;
                border-radius: 12px;
                background-color: var(--box-color);
                border: 1px solid var(--border-color);
                position: relative;
                cursor: pointer;
                .tooltip {
                  position: absolute;
                  white-space: nowrap;
                  font-size: 12px;
                  width: 100px;
                  top: -36px;
                  color: var(--white-color);
                  font-family: NotoSans, sans-serif;
                  height: 24px;
                  left: -34px;
                  text-align: center;
                  display: none;
                  .arrow {
                    width: 6px;
                    height: 6px;
                    display: inline-block;
                    position: absolute;
                    transform: rotate(45deg);
                    bottom: -7px;
                    left: 47px;
                    background-color: #000;
                  }
                  > span {
                    background-color: #000;
                    position: relative;
                    display: inline-block;
                    line-height: 100%;
                    padding: 8px;
                    border-radius: 4px;
                  }
                }

                &:hover {
                  > div {
                    color: var(--white-color);
                    transition: all 0.3s;
                  }

                  .tooltip {
                    display: block;
                  }
                }

                &.dashboard:hover {
                  background-color: #ffbc4b;
                  transition: all 0.3s;
                  > div {
                    color: #000;
                  }
                }

                &.bugs:hover {
                  background-color: #ff4935;
                  transition: all 0.3s;
                }

                &.testcases:hover {
                  background-color: #3e8ef1;
                  transition: all 0.3s;
                }

                &.testruns:hover {
                  background-color: #7bde89;
                  transition: all 0.3s;
                  > div {
                    color: #000;
                  }
                }

                &.reports:hover {
                  background-color: #a4c9d8;
                  transition: all 0.3s;
                  > div {
                    color: #000;
                  }
                }

                &.info:hover {
                  background-color: #837e7e;
                  transition: all 0.3s;
                }

                > div {
                  align-self: center;
                  color: var(--text-color);
                }

                &:last-child {
                  margin-right: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
