.project-config-edit-page-wrapper {
  table {
    tr {

      &.hidden {
        display: none;
      }

      .name {
        position: relative;

        .new-mark {
          position: absolute;
          top: 0;
          left: 0;

          .tag {
            color: $color-tangerine;
            background-color: transparent;
          }
        }
      }

      .control-button {
        padding: 0.5rem;

        &:last-child {
          padding-right: 1rem;
        }
      }

      .count {
        font-size: 14px;

        .count-badge {
          width: 24px;
          height: 24px;
          background-color: #111;
          display: inline-flex;
          justify-content: center;
          border-radius: 50%;

          > span {
            align-self: center;
            line-height: 100%;
            font-family: Cairo, sans-serif;
            font-weight: bold;
          }
        }
      }
    }
  }



  .empty {
    clear: left;
  }

  .page-button {
    clear: left;
    margin-top: 2rem;
  }
}
