.project-overview-info-page-wrapper {
  .box {
    .card {
      .card-header {
        padding: 2rem;
      }
      .card-content {
        height: 400px;

        &.empty {
          > div {
            padding: 0 1rem 1rem;
          }
        }

        > div {
          > ul {
            margin: 0;
            padding: 0 1rem 1rem;
            white-space: nowrap;
            height: 100%;

            li {
              display: inline-flex;
              height: 100%;
              flex-direction: column;
              margin-right: 1rem;
              background-color: $gray-100;
              padding-top: 1rem;
              width: calc((100% - 2rem) / 3);
              border: 1px solid rgba(0, 0, 0, 0.05);

              &.until-3 {
                &:nth-child(3n) {
                  margin-right: 0;
                }
              }

              > .name {
                text-align: center;
                flex-grow: 0;
                font-weight: bold;

                .seq {
                  margin-bottom: 4px;
                  font-size: 14px;
                }

                .text {
                  font-size: 18px;
                }
              }

              > .chart {
                width: 100%;
                flex-grow: 1;
                position: relative;

                .chart-content {
                  position: absolute;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                }
              }
            }
          }
        }
      }
    }
  }

  .subtitle {
    margin-top: 2rem;
  }
}

.theme-DARK {
  .project-overview-info-page-wrapper {
    .box {
      .card {
        .card-content {
          > div {
            > ul {
              li {
                background-color: $black !important;
              }
            }
          }
        }
      }
    }
  }
}
