.project-overview-info-page-wrapper {
  .my-testrun-content {
    height: 400px;
  }

  .current-testrun-content {
    height: 400px;
  }

  .scroll-content {
    position: relative;
    margin-bottom: 20px;

    > div {
      padding: 0;
      position: absolute;
      z-index: 4;
      width: auto;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      overflow-x: auto;
      > ul {
        margin: 0;
        padding: 0 0 10px;
        white-space: nowrap;
        height: 100%;

        > li {
          display: inline-flex;
          height: 100%;
          flex-direction: column;
          margin-right: 10px;
          width: calc((100% - 20px) / 3);
          border: 1px solid var(--border-light-color);
          border-radius: 4px;
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);

          @media (max-width: 1200px) {
            width: calc((100% - 10px) / 2);
          }

          @media (max-width: 768px) {
            width: 100%;
          }

          &.until-3 {
            &:nth-child(3n) {
              margin-right: 0;
            }

            @media (max-width: 1200px) {
              &:nth-child(2n) {
                margin-right: 0;
              }
            }

            @media (max-width: 768px) {
              margin-right: 10px;
            }
          }

          > .name {
            text-align: center;
            flex-grow: 0;
            position: relative;

            .seq {
              font-size: 14px;
              position: absolute;
              top: 10px;
              left: 10px;
            }

            .text {
              font-size: 20px;
              padding: 30px 0 0;

              > a {
                display: inline-block;
                color: var(--text-color);
                border-bottom: 1px solid var(--text-color);
                padding-left: 8px;
                padding-right: 8px;
                padding-bottom: 4px;
              }
            }
          }

          > .summary {
            padding: 0 1rem;
            margin-top: 1rem;
            > div {
              display: flex;
              height: 30px;
              > div {
                align-self: center;
              }

              > .percentage {
                min-width: 110px;

                > span {
                  margin-right: 0.5rem;
                  &:last-child {
                    margin-right: 0;
                  }
                }

                text-align: right;
                font-weight: bold;
              }

              > .progress {
                flex-grow: 1;
                position: relative;

                > div {
                  height: 20px;
                  background-color: var(--light-color);
                  position: relative;
                  display: flex;
                  border-radius: 8px;

                  .done {
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;
                    background-color: var(--primary-color);
                    border-radius: 8px;
                  }
                }
              }

              .count {
                font-weight: bold;
              }

              > .remain-count {
                height: 100%;
                display: flex;
                > div {
                  align-self: center;
                }
              }
            }
          }

          > .testcase-list-title {
            margin-top: 10px;
            padding: 0.5rem 1.2rem 0px;
            @include title;
            color: var(--gray-color);
          }

          > .list {
            padding: 1rem 1rem;
            overflow-y: auto;
            background-color: var(--card-background-color);
            margin: 0 1rem 1rem;
            flex-grow: 1;
            border: 1px solid var(--border-light-color);
            border-radius: 2px;

            > ul {
              list-style: none;
              margin: 0;
              padding: 0;

              > li {
                margin-bottom: 10px;
                .testcase-group-name {
                  margin-bottom: 8px;
                  font-weight: bold;
                }

                > ul {
                  list-style: none;
                  margin: 0 0 0 10px;
                  padding: 0;
                  > li {
                    margin-bottom: 4px;
                    > div {
                      display: flex;
                      > div.testcase-name {
                        flex-grow: 1;
                        overflow-x: hidden;
                        text-overflow: ellipsis;
                      }

                      > div.testcase-result {
                        min-width: 80px;
                        text-align: right;
                        display: flex;
                        justify-content: flex-end;
                        > span {
                          display: inline-block;
                          line-height: 100%;
                          font-size: 12px;
                          padding: 4px 8px;
                          border-radius: 4px;
                          align-self: center;

                          &.FAILED {
                            color: var(--white-color);
                            background-color: var(--danger-color);
                          }

                          &.PASSED {
                            color: var(--white-color);
                            background-color: var(--success-color);
                          }

                          &.UNTESTABLE {
                            color: var(--white-color);
                            background-color: var(--gray-color);
                          }

                          &.UNTESTED {
                            color: var(--white-color);
                            background-color: var(--gray-color);
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }

          > .chart {
            width: 100%;
            flex-grow: 1;
            position: relative;

            .chart-content {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
            }
          }
        }
      }
    }
  }

  .testrun-history-content {
    border: 1px solid var(--border-light-color);
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    > div {
      padding: 0 1rem 1rem;
    }
    .testrun-history-chart {
      padding: 0 1rem 1rem;
    }
    .chart-content {
      max-height: 400px;
      overflow-y: auto;
      padding-top: 20px;
      padding-bottom: 20px;
      > ul {
        list-style: none;
        padding: 0;
        margin: 0;
        > li {
          position: relative;
          height: 40px;
          overflow: hidden;
          border-bottom: 1px solid var(--border-light-color);

          &:first-child {
            border-top: 1px solid var(--border-light-color);
          }

          > div {
            position: relative;
            height: 100%;

            > div.start-end-line {
              display: none;
            }

            > div.start-close-line {
              position: absolute;
              left: 0;
              top: 0;
              white-space: nowrap;
              background-color: var(--light-color);
              height: 100%;
              display: flex;
              border-radius: 2px;
              cursor: pointer;
              min-width: 50px;

              > div.passed {
                background-color: var(--success-color);
                border-radius: 2px 0 0 2px;
              }

              > div.failed {
                background-color: var(--danger-color);
                border-radius: 0 2px 2px 0;
              }
            }

            .testrun-name,
            .testrun-start-date {
              font-size: 12px;
              padding: 0 0 0 4px;
              display: flex;
              height: 20px;
              position: absolute;
              > span {
                align-self: center;
                line-height: 100%;
                font-size: 12px;
                padding: 2px;
                margin-left: 2px;
              }
            }

            .testrun-name {
              top: 2px;
              font-weight: bold;
            }

            .testrun-start-date {
              top: 20px;
            }

            .testrun-name.left,
            .testrun-start-date.left {
              left: -2px;
              > span {
                position: absolute;
                right: 0;
                white-space: nowrap;
              }
            }

            .testrun-start-date {
              padding-bottom: 4px;
            }
          }
        }
      }
    }

    .chart-axis {
      padding: 1rem;
      display: flex;
      position: relative;
      margin-top: 1rem;

      .line {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        display: flex;

        > div {
          align-self: center;
        }

        .start-line,
        .end-line {
          > div {
            height: 16px;
            width: 1px;
          }
        }

        .center-line {
          flex-grow: 1;
          > div {
            width: 100%;
            height: 1px;
          }
        }

        .start-line,
        .end-line,
        .center-line {
          > div {
            background-color: var(--border-color);
          }
        }
      }
      > div.range {
        flex: 1 1 0;
        position: relative;
        > span {
          background-color: var(--card-background-color);
          font-size: 14px;
          padding: 0 0.5rem;
        }

        &:first-child {
        }

        &:last-child {
          text-align: right;
        }
      }
    }
  }

  .testrun-history {
    .card-header {
      padding: 2rem;

      > div {
        > div {
          display: flex;
          > div {
            &.text {
              flex-grow: 1;
            }
            align-self: center;
          }
        }
      }
    }
  }

  .testruning-info,
  .my-testrun-info {
    margin-bottom: 2rem;
    .card-header {
      padding: 2rem;
    }
    .card-content {
      height: 400px;

      &.empty {
        > div {
          padding: 0 1rem 1rem;
        }
      }
    }
  }

  .subtitle {
    margin-top: 2rem;
  }
}
