.project-list-page-wrapper {
  ul.project-card-list {
    vertical-align: top;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: inline-flex;
      flex-direction: column;
      width: calc((100% - 2rem) / 3);
      vertical-align: top;
      opacity: 0;
      animation: fade-in-animation 0.7s ease-out;
      animation-fill-mode: forwards;
      margin-right: 1rem;
      margin-bottom: 1rem;

      &:nth-child(3n) {
        margin-right: 0;
      }

      .project-card-wrapper {
        height: 240px;

        .config-button {
          position: absolute;
          right: 0;
          top: 0;
        }

        &:nth-child(3n) {
          margin-right: 0;
        }

        .name-and-code {
          text-align: center;
          padding-bottom: 1rem;
          padding-top: 1rem;
          font-weight: bold;

          .name {
            font-size: 20px;
            white-space: nowrap;
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-right: 2rem;
            padding-left: 2rem;
          }
        }

        .description {
          padding: 0;
          text-align: center;
          flex-grow: 1;
          border: 1px solid rgba(0, 0, 0, 0.1);
          background-color: $white;
          max-height: 76px;
          min-height: 76px;
          display: flex;
          justify-content: center;
          border-radius: 8px;
          overflow-y: auto;
          margin-bottom: 1rem;
          font-size: 14px;
          > div {
            align-self: center;
          }
        }
      }
    }
  }
}
