.project-list-page-wrapper {
  display: flex;

  .content {
    flex-grow: 1;
    display: flex;
  }

  .no-project {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    > div {
      align-self: center;
      text-align: center;

      > div {
        &:last-child {
          margin-top: 2rem;
        }
      }
    }
  }

  ul.project-list {
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
      margin-bottom: 2rem;
      display: inline-block;
      margin-right: 2rem;
      width: 300px;
      height: 360px;

      > div.book {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;

        .book-shadow {
          width: 100%;
          height: 100%;
          position: absolute;
          border-radius: 4px;
          border: 1px solid rgba(255, 255, 255, 0.04);
        }

        .book-1 {
          background-color: darken($card-bg-color, 2%);
          top: 4px;
          left: 4px;
          z-index: 3;
        }

        .book-2 {
          background-color: darken($card-bg-color, 3%);
          top: 8px;
          left: 8px;
          z-index: 2;
        }

        .book-3 {
          background-color: darken($card-bg-color, 4%);
          top: 12px;
          left: 12px;
          z-index: 1;
        }

        .book-content {
          background-color: $card-bg-color;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 4;
          border-radius: 4px;
          border: 1px solid rgba(255, 255, 255, 0.04);
        }
        .project-info {
          .name {
            font-size: 20px;
            flex-grow: 1;
            padding: 1.5rem 1rem;
            text-align: center;
            @include title;
            &:hover {
              color: $color-sunflower;
              cursor: pointer;
            }
          }

          ul.project-menu {
            list-style: none;
            padding: 0 1rem 1rem;
            display: none;

            > li {
              display: inline-flex;

              cursor: pointer;

              &:hover {
                color: $color-sunflower;
              }

              > div {
                align-self: center;
              }

              &:last-child {
                .liner {
                  display: none !important;
                }
              }
            }
          }
        }
        .project-status {
          margin-left: 1rem;
          display: flex;
          display: none;

          > div {
            align-self: center;
            display: flex;
            line-height: 100%;
            > div {
              width: 120px;
              text-align: center;
              padding: 1rem;

              &:hover {
                background-color: $color-sunflower;
                color: $black;
                cursor: pointer;
              }

              .icon {
                font-size: 16px;
                margin-bottom: 0.5rem;
              }

              .count {
                font-family: Rowdies, sans-serif;
                font-size: 24px;
                margin-bottom: 0.5rem;
                &.bugs {
                  font-family: RubikWetPaint, sans-serif;
                }
              }

              .label {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}
