.testcase-template-viewer-popup-wrapper {
  > div {
    max-width: 800px;
    min-width: 800px;
  }

  .template-content {
    > ul {
      list-style: none;
      padding: 0;
      margin: 0 -1rem -1rem 0;
      text-align: left;
      li.testcase-template-item {
        display: inline-flex;
        margin-right: 1rem;
        margin-bottom: 1rem;
        position: relative;
        text-align: left;

        > div {
          width: 100%;

          > .type {
            line-height: 100%;
            display: flex;
            padding: 0.5rem;
            font-weight: bold;
            position: relative;

            height: 40px;

            > div {
              align-self: center;
            }

            .type-text {
              font-size: 14px;
              flex-grow: 1;
            }

            .option-count {
              cursor: pointer;
              &:hover {
                color: $color-sunflower;
              }
            }

            .options-list {
              left: calc(100% + 5px);
              position: absolute;
              top: -10px;
              background-color: $white;
              color: $black;
              border: 1px solid $border-color;
              white-space: nowrap;
              padding: 0.25rem 0.75rem;
              z-index: 1;
              border-radius: 2px;

              > .arrow {
                position: absolute;
                top: 23px;
                left: -5px;
                background-color: $white;
                transform: rotate(45deg);
                > div {
                  width: 10px;
                  height: 10px;
                  border: 1px solid $border-color;
                  border-top: none;
                  border-right: none;
                }
              }

              > ul {
                list-style: none;
                padding: 0;
                margin: 0;

                > li {
                  font-size: 14px;
                  line-height: 100%;
                  padding: 0.5rem;
                }
              }
            }
          }

          > .item-info {
            padding: 0.75rem 0.75rem;
            font-size: 18px;
            background-color: #121212;
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}
