.empty-content-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--gray-color);
  border-radius: 4px;
  &.color-gray {
    background-color: var(--lighter-color);
  }

  &.color-transparent {
    background-color: transparent;
  }
  > div {
    align-self: center;
    text-align: center;
  }

  &.fill {
    height: auto;
    flex-grow: 1;
  }

  &.border {
    border: 1px solid var(--border-lighter-color);
  }
  button {
    margin-top: 10px;
  }
}
