.empty-content-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  font-family: NotoSans, sans-serif;
  background-color: var(--gray-color);
  border-radius: 4px;
  &.color-gray {
    background-color: var(--lighter-color);
  }

  &.color-transparent {
    background-color: transparent;
  }
  > div {
    align-self: center;
    text-align: center;
  }

  &.fill {
    height: 100%;
    flex-grow: 1;
  }
}
