.text-wrapper {
  display: flex;
  word-break: break-all;
  padding: 0.5rem;
  flex-grow: 1;

  @media (max-width: 768px) {
    padding: 0.5rem 0;
  }

  &.inline {
    flex-grow: 0;
  }

  &.bg-white {
    background-color: $white;
  }

  @media (max-width: 576px) {
    display: flex;
  }

  > div {
    align-self: center;
  }

  &.size-xxl {
    font-size: 20px;
    height: $xxl-height;
  }

  &.size-xl {
    font-size: 18px;
    height: $xl-height;
  }

  &.size-lg {
    font-size: 16px;
    height: $lg-height;
  }

  &.size-md {
    font-size: 14px;
    height: $md-height;
  }

  &.size-sm {
    font-size: 12px;
    height: $sm-height;
  }

  &.size-xs {
    font-size: 10px;
    height: $xs-height;
  }

  &.is-bold {
    font-weight: bold;
  }
}
