.text-wrapper {
  display: flex;
  word-break: break-all;
  padding: 0.5rem;
  flex-grow: 1;

  &.inline {
    flex-grow: 0;
  }

  &.bg-white {
    background-color: $white;
  }

  @media (max-width: 576px) {
    display: flex;
  }

  > div {
    align-self: center;
  }

  &.size-xs {
    min-height: $xs-height;
    .text {
    }
  }

  &.size-sm {
    min-height: $sm-height;
    font-size: 14px;
    padding: 7px;
    .text {
    }
  }

  &.size-md {
    min-height: $md-height;
  }

  &.size-lg {
    min-height: $lg-height;
  }

  &.is-bold {
    font-weight: bold;
  }
}
