.space-list-page-wrapper {
  .page-content {
    display: flex;
    flex-grow: 1;
    margin-top: 0 !important;

    .search-opener {
      text-align: center;
      margin-bottom: 10px;
      display: none;

      @media (max-width: 1024px) {
        display: block;
      }
    }

    .search {
      display: flex;
      margin-bottom: 10px;

      @media (max-width: 1024px) {
        display: none;
        border: 1px solid var(--border-light-color);
        background-color: var(--lighter-color);
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 10px;
        position: relative;

        .arrow {
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          height: 10px;
          text-align: center;
          justify-content: center;
          > span {
            display: inline-block;
            width: 10px;
            height: 10px;
            border: 1px solid var(--border-light-color);
            border-right: none;
            border-bottom: none;
            background-color: var(--lighter-color);
            transform: rotate(45deg);
            position: relative;
            top: -5px;
          }
        }

        &.opened {
          display: block;
        }
        > div {
          margin-bottom: 10px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      > div {
        align-self: center;
        &:nth-child(2) {
          margin-right: 10px;
          @media (max-width: 1024px) {
            margin-right: 0;
            display: flex;
            > div {
              flex: 1 1 0;
            }
          }
        }

        &:nth-child(3) {
          flex-grow: 1;
          margin-right: 10px;
          @media (max-width: 1024px) {
            margin-right: 0;
          }
        }

        &:last-child {
          @media (max-width: 1024px) {
            display: flex;
          }
          button {
            margin-right: 10px;
            &:last-child {
              margin-right: 0;
            }

            @media (max-width: 1024px) {
              &:first-child {
                flex-grow: 1;
              }
            }
          }
        }
      }
    }

    .space-list-content {
      flex-grow: 1;
    }
  }

  .type {
    margin-top: 10px;
    text-align: right;
    display: flex;
    display: none;
    > div {
      align-self: center;
      &:first-child {
        flex-grow: 1;
        text-align: left;
        font-size: 12px;
        color: var(--gray-color);
      }

      &:last-child {
        white-space: nowrap;
        margin-left: 10px;
      }
    }
  }
  .space-list {
    flex-grow: 1;
    padding-top: 10px;
    display: flex;

    &.card-type {
      > ul {
        li {
          width: calc((100% - 20px) / 3);
          display: inline-block;
          margin-right: 10px;

          &:nth-child(3n) {
            margin-right: 0;
          }

          @media (max-width: 1400px) {
            width: calc((100% - 10px) / 2);

            &:nth-child(3n) {
              margin-right: 10px;
            }

            &:nth-child(2n) {
              margin-right: 0;
            }
          }

          @media (max-width: 768px) {
            width: 100%;

            &:nth-child(3n) {
              margin-right: 0;
            }

            &:nth-child(2n) {
              margin-right: 0;
            }
          }
        }
      }
    }

    > ul {
      vertical-align: top;
      list-style: none;
      padding: 0;
      margin: 0;
      width: 100%;

      li {
        vertical-align: top;
        opacity: 0;
        animation: fade-in-animation 0.7s ease-out;
        animation-fill-mode: forwards;
        margin-bottom: 10px;
        border: 1px solid var(--border-light-color);
        padding: 15px 20px;
        border-radius: 4px;
        margin-right: 10px;

        > .info {
          > div {
            align-self: center;
          }

          .name {
            margin-bottom: 8px;
            display: flex;
            flex-direction: row;
            width: 100%;
            overflow-x: hidden;
            > div {
              display: flex;

              &:first-child {
                display: flex;
                overflow-x: hidden;
              }

              &:last-child {
                margin-left: 10px;
                justify-content: flex-end;
              }
              > span {
                align-self: center;
                padding-bottom: 4px;
                white-space: nowrap;
                &:first-child {
                  font-size: 18px;
                  font-weight: bold;
                  cursor: pointer;
                  overflow-x: hidden;
                  text-overflow: ellipsis;
                  flex-grow: 1;

                  &:hover {
                    border-bottom: 1px solid var(--border-color);
                  }
                }

                &.count {
                  font-size: 12px;
                }

                &:last-child {
                  flex-grow: 1;
                }
              }

              &:last-child {
                flex-grow: 1;
                text-align: right;
              }
            }

            a {
              padding-bottom: 2px;
              display: inline-block;
              font-size: 13px;
              align-self: center;
              margin-bottom: 4px;
              &:hover {
                border-bottom: 1px solid var(--link-color);
              }
            }
          }

          .description {
            background-color: var(--lighter-color);
            padding: 0 10px;
            font-size: 12px;
            height: 40px;
            display: flex;
            > div {
              align-self: center;
            }
          }
        }
      }
    }
  }

  .space-list-content {
    display: flex;
    width: 100%;
    flex-grow: 1;
    padding-top: 10px;

    > div {
      display: flex;
      align-self: flex-start;
      width: 100%;

      @media (max-width: 1024px) {
        display: block;
      }
    }

    .arrow {
      align-self: center;
      height: 400px;
      display: flex;
      padding-bottom: 1rem;

      @media (max-width: 1024px) {
        display: none;
      }
      button {
        background-color: transparent;
        color: var(--text-color);
        width: 50px;
        height: 100%;
        font-size: 30px;

        &:hover {
          color: var(--primary-color);
        }
      }
    }

    .space-card-list {
      flex-grow: 1;
      white-space: nowrap;
      overflow-x: auto;
      scroll-behavior: smooth;
      display: flex;

      @media (max-width: 1024px) {
        display: block;
        white-space: normal;
        overflow-x: auto;
        scroll-behavior: auto;
      }

      > ul {
        vertical-align: top;
        list-style: none;
        padding: 0;
        margin: 0;

        @media (max-width: 768px) {
          padding: 0;
        }

        li {
          display: inline-flex;
          flex-direction: column;
          width: 360px;
          vertical-align: top;
          opacity: 0;
          animation: fade-in-animation 0.7s ease-out;
          animation-fill-mode: forwards;
          margin-right: 1rem;
          margin-bottom: 1rem;

          @media (max-width: 1024px) {
            width: calc((100% - 1rem) / 2);
            &:nth-child(2n) {
              margin-right: 0;
            }
          }

          @media (max-width: 768px) {
            width: 100%;
            margin-right: 0;
          }

          &:last-child {
            margin-right: 0;
          }

          .space-card {
            height: 380px;
            &:hover {
              .name-and-code {
                .name {
                  color: var(--primary-color);
                }
              }
            }

            .space-card-content {
              > div {
                display: flex;
                flex-direction: column;

                .config-button {
                  position: absolute;
                  right: 1rem;
                  top: 1rem;
                }

                .name-and-code {
                  text-align: center;
                  padding-bottom: 1rem;
                  padding-top: 1rem;
                  font-weight: bold;

                  .name {
                    font-size: 20px;
                    margin-bottom: 8px;
                    white-space: nowrap;
                    max-width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    padding-right: 2rem;
                    padding-left: 2rem;
                  }
                }

                .description {
                  padding: 0;
                  text-align: center;
                  flex-grow: 1;
                  max-height: 76px;
                  min-height: 76px;
                  display: flex;
                  justify-content: center;
                  border-radius: 4px;
                  overflow-y: auto;
                  margin-bottom: 1rem;
                  font-size: 15px;
                  background-color: var(--lighter-color);
                  color: var(--text-color);
                  border: 1px solid var(--border-lighter-color);
                  > div {
                    align-self: center;
                  }
                }

                .counter-info {
                  display: flex;
                  flex-grow: 1;
                  background-color: var(--lighter-color);
                  color: var(--text-color);
                  border: 1px solid var(--border-lighter-color);
                  border-radius: 4px;
                  padding: 0 2rem;

                  > div {
                    flex: 1 1 0;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    > div {
                      align-self: center;
                    }

                    .icon {
                      font-size: 20px;

                      > div {
                        display: inline-flex;
                        width: 34px;
                        height: 34px;
                        justify-content: center;
                        background-color: var(--white-color);
                        border: 1px solid rgba(0, 0, 0, 0.3);
                        border-radius: 50%;
                        i {
                          align-self: center;
                        }
                      }

                      &.projects {
                        > div {
                          border: 1px solid transparent;
                          color: var(--black-color);
                        }
                      }

                      &.users {
                        > div {
                          border: 1px solid transparent;
                          color: var(--black-color);
                        }
                      }
                    }

                    .label {
                      font-size: 12px;
                      margin-top: 0.25rem;
                      font-weight: bold;
                      font-family: Rowdies, NanumSquareNeo, sans-serif;
                    }

                    .counter {
                      margin-top: 0.5rem;
                      font-size: 40px;
                      font-family: Rowdies, sans-serif;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .version {
  }
}
