.page-title-wrapper {
  height: 80px;
  position: relative;

  .page-name {
    position: absolute;
    top: -20px;
    z-index: 5;
    display: inline-block;
    color: var(--gray-color);
    font-size: 12px;
    display: none;

    @media (max-width: 768px) {
      display: none;
    }
  }

  @media (max-width: 768px) {
    height: 70px;
    background-color: var(--lighter-color);
    border-bottom: none;
  }

  > div {
    max-width: $max-width;
    margin: 0 auto;
    display: flex;
    width: 100%;
    height: 100%;
    > div {
      align-self: center;

      &.icon {
        flex-grow: 0;
        height: 100%;
        display: inline-flex;
        padding: 0 0 0 10px;
        cursor: pointer;
        margin-right: -10px;

        > span {
          align-self: flex-start;
          margin-top: 14px;
          display: inline-flex;
          width: 32px;
          height: 32px;
          border-radius: 50%;
          font-size: 16px;
          justify-content: center;

          @media (max-width: 768px) {
            margin-top: 10px;
            width: 26px;
            height: 26px;
            font-size: 14px;
          }

          &:hover {
            background-color: var(--primary-color);
            color: var(--primary-text-color);
          }

          i {
            align-self: center;
          }
        }

        &:hover {
          color: var(--primary-color);
        }
      }

      &.page-title-info {
        flex-grow: 1;
        padding-left: 20px;

        .page-title-text {
          font-weight: bold;
          font-size: 24px;
          @include title;

          @media (max-width: 768px) {
            font-size: 20px;
          }
        }

        .breadcrumbs {
          list-style: none;
          margin: 0;
          padding: 0;
          font-size: 11px;

          @media (max-width: 768px) {
            font-size: 10px;
          }
          li {
            display: inline-block;

            .bullet {
              margin: 0 4px;
            }

            a {
              padding-bottom: 1px;
              display: inline-block;
              border-bottom: 1px solid transparent;
              &:hover {
                border-bottom: 1px solid var(--link-color);
              }
            }
          }
        }
      }
    }
  }

  .control {
    margin-left: 10px;
    flex-grow: 1;
    text-align: right;
    margin-right: 20px;

    &.has-link {
      flex-grow: 0;
    }
    > div {
      button {
        margin-right: 0.5rem;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .links {
    font-size: 16px;
    display: flex;
    margin-right: 30px;
    flex-grow: 1;
    justify-content: flex-end;
    list-style: none;

    @media (max-width: 768px) {
      margin-right: 10px;
    }

    > li {
      align-self: center;
      display: inline-block;

      button {
        .icon {
          margin-right: 4px;
        }
      }
    }
  }
}

.page-wrapper.info-page {
  .page-title-wrapper {
    border-bottom: 1px solid var(--border-light-color);
  }
}

.page-wrapper.list-page {
  .page-title-wrapper {
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 20px;
    padding-top: 4px;

    > div {
      max-width: $max-width;
      margin: 0 auto;
      display: flex;
      width: 100%;
      height: 100%;

      @media (max-width: 1024px) {
        padding-left: 10px;
        padding-right: 10px;
      }

      > div {
        align-self: center;

        &.icon {
          padding: 0 0 0 0;
        }
      }
    }

    .links {
      margin-right: 0;

      @media (max-width: 768px) {
        margin-right: 10px;
      }
    }
  }
}
