.page-title-wrapper {
  height: 80px;
  position: relative;
  border-bottom: 1px solid var(--border-light-color);

  > div {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    position: relative;
    overflow: hidden;

    > div {
      align-self: center;

      &.menu-icon {
        position: relative;
        z-index: 1;
        > span {
          font-size: 18px;
          color: white;
          line-height: 1;
          display: inline-flex;
          width: 36px;
          height: 36px;
          background-color: #f36944;
          border-radius: 4px 12px 12px 12px;
          justify-content: center;
          > span {
            align-self: center;
          }
        }
      }

      &.page-title-info {
        flex-grow: 0;
        padding-left: 10px;
        position: relative;
        top: 2px;

        .page-title-text {
          font-weight: bold;
          font-size: 24px;
          position: relative;
          @include title;
        }
      }
    }
  }

  .control {
    margin-left: 10px;
    flex-grow: 1;
    text-align: right;
    margin-right: 20px;

    &.has-link {
      flex-grow: 0;
    }
    > div {
      button {
        margin-right: 0.5rem;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .links {
    font-size: 16px;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    list-style: none;

    @media (max-width: 768px) {
      margin-right: 10px;
    }

    > li {
      align-self: center;
      display: inline-block;

      button {
        border: none;
        outline: none;
        background-color: var(--link-color);
        color: var(--white-color);
        padding: 6px 12px;
        border-radius: 6px 0 6px 6px;
        cursor: pointer;
        position: relative;

        .icon {
          display: inline-flex;
          margin-left: 4px;
          width: 20px;
          height: 20px;
          justify-content: center;
          background-color: rgba(0, 0, 0, 0.2);
          border-radius: 50%;
          transition: transform 0.2s ease, background-color 0.2s;
          position: relative;
          i {
            align-self: center;
            font-size: 10px;
          }
        }

        &:hover {
          background-color: var(--link-hover-color);
          .icon {
            transform: scale(1.8);
            left: 4px;
            transition: transform 0.2s ease, background-color 0.2s;
            background-color: var(--link-color);
          }
        }
      }
    }
  }
}

.page-wrapper.info-page {
  .page-title-wrapper {
    &.border-bottom {
      border-bottom: 1px solid var(--border-light-color);
    }
  }
}
