.theme-LIGHT {
  .page-title-liner {
    > div {
      background-color: rgba(0, 0, 0, 0.4);
    }
  }

  .page-title-wrapper {
    height: 80px;

    @media (max-width: 768px) {
      height: 60px;
    }

    > div {
      max-width: $max-width;
      margin: 0 auto;
      display: flex;
      width: 100%;
      height: 100%;
      > div {
        align-self: center;

        &.icon {
          &:hover {
            color: $color-primary-light;
          }
        }

        &.title-text {
          flex-grow: 0;
          line-height: 100%;
          font-weight: bold;
          font-size: 24px;

          @media (max-width: 768px) {
            font-size: 20px;
          }
        }
      }
    }

    .control {
      margin-left: 0.5rem;
      flex-grow: 1;
      text-align: right;

      &.has-link {
        flex-grow: 0;
      }
      > div {
        button {
          margin-right: 0.5rem;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    .links {
      > div {
        > a {
          color: $gray-600;

          &:visited {
            color: $gray-600;
          }
          &:hover {
            color: $black;
          }
        }
      }
    }
  }
}

.page-title-wrapper {
  height: 80px;

  > div {
    max-width: $max-width;
    margin: 0 auto;
    display: flex;
    width: 100%;
    height: 100%;
    > div {
      align-self: center;

      &.icon {
        flex-grow: 0;
        font-size: 16px;
        line-height: 0;
        height: 100%;
        display: inline-flex;
        padding: 0 16px;

        @media (max-width: 768px) {
          padding: 0 8px;
        }

        cursor: pointer;
        > span {
          align-self: center;
        }

        &:hover {
          color: $color-sunflower;
        }
      }

      &.title-text {
        flex-grow: 0;
        line-height: 100%;
        font-weight: bold;
        font-size: 24px;
      }
    }
  }

  .control {
    margin-left: 0.5rem;
    flex-grow: 1;
    text-align: right;

    &.has-link {
      flex-grow: 0;
    }
    > div {
      button {
        margin-right: 0.5rem;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .links {
    font-size: 16px;
    display: flex;
    margin-right: 1rem;
    flex-grow: 1;

    @media (max-width: 768px) {
      justify-content: flex-end;
      .liner-wrapper {
        display: none !important;
      }
    }

    > div {
      align-self: center;
      display: flex;

      > a {
        color: $gray-500;
        text-decoration: none;
        margin-right: 8px;

        &:last-child {
          margin-right: 0;
        }
        &:visited {
          color: $gray-500;
        }
        &:hover {
          color: $white;
        }
      }
    }
  }
}
