.page-title-wrapper {
  height: 80px;
  border-bottom: 1px solid var(--border-light-color);
  position: relative;

  .page-name {
    position: absolute;
    top: -20px;
    z-index: 5;
    display: inline-block;
    color: var(--gray-color);
    font-size: 12px;
  }

  @media (max-width: 768px) {
    height: 60px;
  }

  > div {
    max-width: $max-width;
    margin: 0 auto;
    display: flex;
    width: 100%;
    height: 100%;
    > div {
      align-self: center;

      &.icon {
        flex-grow: 0;
        height: 100%;
        display: inline-flex;
        padding: 0 10px;

        @media (max-width: 768px) {
          padding: 0 8px;
        }

        cursor: pointer;
        > span {
          align-self: flex-start;
          margin-top: 14px;
          display: inline-flex;
          width: 32px;
          height: 32px;
          border-radius: 50%;
          font-size: 16px;
          justify-content: center;

          &:hover {
            background-color: var(--primary-color);
            color: var(--primary-text-color);
          }

          i {
            align-self: center;
          }
        }

        &:hover {
          color: var(--primary-color);
        }
      }

      &.page-title-info {
        flex-grow: 0;

        .page-title-text {
          font-weight: bold;
          font-size: 24px;
          @include title;

          @media (max-width: 768px) {
            font-size: 20px;
          }
        }

        .breadcrumbs {
          list-style: none;
          margin: 0;
          padding: 0;
          font-size: 11px;
          li {
            display: inline-block;

            .bullet {
              margin: 0 4px;
            }

            a {
              padding-bottom: 1px;
              display: inline-block;
              border-bottom: 1px solid transparent;
              &:hover {
                border-bottom: 1px solid var(--link-color);
              }
            }
          }
        }
      }
    }
  }

  .control {
    margin-left: 10px;
    flex-grow: 1;
    text-align: right;
    margin-right: 20px;

    &.has-link {
      flex-grow: 0;
    }
    > div {
      button {
        margin-right: 0.5rem;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .links {
    font-size: 16px;
    display: flex;
    margin-right: 30px;
    flex-grow: 1;
    justify-content: flex-end;
    list-style: none;

    > li {
      align-self: center;
      display: inline-block;
    }
  }
}
