.loader-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  display: flex;
  justify-content: center;

  > div {
    align-self: center;
  }

  .lds-facebook {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 40px;
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 12px;
    background: #fed;
    animation: lds-facebook 0.5s ease-in-out infinite;
    border-radius: 2px;
  }
  .lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 24px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 40px;
  }
  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 24px;
    }
    50%,
    100% {
      top: 12px;
      height: 16px;
    }
  }
}
