.sequence-controls-wrapper {
  position: absolute;
  z-index: 10;
  display: inline-flex;
  flex-direction: column;
  gap: 4px;

  &.top-left {
    top: 10px;
    left: 10px;
  }

  &.top-right {
    top: 10px;
    right: 10px;
  }

  &.bottom-left {
    bottom: 10px;
    left: 10px;
  }

  &.bottom-right {
    bottom: 10px;
    right: 10px;
  }
}
